<div ng-include="'views/includes/topnav.html'"></div>

<div class="row pt-3">

	<div class="col-3">
		<div class="mb-4"><img src="../../images/better_text.png" alt="BETTER logo" width="100%"></div>
		<div ng-include="'views/tools/tool-nav.html'"></div>
	</div>
	<div class="col">
		<div class="" ng-if="subNav === 'home'">
			<div markdown-it ng-include="'views/tools/markdown/better/home.md'"></div>
		</div>		
		<div class="" ng-if="subNav === 'resources'">
			<div markdown-it ng-include="'views/tools/markdown/better/resources.md'"></div>
		</div>	
		<div class="" ng-if="subNav === 'news'">
			<div markdown-it ng-include="'views/tools/markdown/better/news.md'"></div>
		</div>
		<div class="" ng-if="subNav === 'help'">
			Help section
		</div>						
	</div>
	
</div>