<div ng-include="'views/includes/topnav.html'"></div>

<div class="row pt-3">

	<div class="col-3 v-divider">
		<div class="mb-4"><img src="../../images/com-resstock-logos.svg" alt="ComStock & ResStock logos" width="100%"></div>
		<div ng-include="'views/tools/tool-nav.html'"></div>
	</div>
	<div class="col tool-main">
		<div ng-if="subNav === 'home'">
			<div class="row">
				<div class="col">
					<p>The ResStock and ComStock analysis tools are helping states, municipalities, utilities, and manufacturers identify which building stock improvements save the most energy and money. By taking a new approach to large-scale residential and commercial energy analysis combining large public and private data sources, statistical sampling, detailed sub-hourly building simulations, and high-performance computing, these two tools achieved unprecedented granularity and accuracy in modeling the U.S. building stock. </p>

					<p>With National Renewable Energy Laboratory (NREL) supercomputing, the ComStock and ResStock teams have run tens of millions of simulations using a statistical model of building stock characteristics to generate detailed information on the technical and economic potential of energy efficiency improvements and packages for particular states or regions. Policymakers, program designers, and manufacturers can use these results to identify improvements with the highest potential for cost-effective savings, as well as help identify customer segments for targeted marketing and deployment. </p>
				</div>
				<div class="col">
					<p>ResStock and ComStock software will be offered at no cost, leveraging DOE’s open-source building energy modeling ecosystem and able to be run on the cloud (no supercomputer required).</p>

					<h4 class="color-3">Getting Started</h4>
					<p>Visit <a class="color-3" href="https://resstock.nrel.gov/">resstock.nrel.gov</a> and <a class="color-3" href="https://comstock.nrel.gov/">comstock.nrel.gov</a> to view residential and commercial building stock data. </p>

				</div>
			</div>
		</div>		
		<div class="mt-4" ng-if="subNav === 'goals'">
			<h3 class="mb-4">Goals & Outcomes</h3>
			<p>Assess impacts and identify new opportunities.</p> 
		</div>
		<div class="mt-4" ng-if="subNav === 'resources'">
			<h3 class="mb-4">Resources</h3>
			<p>The following documents are available to help you understand and use ResStock and ComStock:</p>
			<div id="accordion">
			  <div class="card">
			    <div class="card-header" id="heading1">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>ResStock Resources
			        </button>
			      </h5>
			    </div>

			    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
			      <div class="card-body">

				      	<h5><a class="color-3" href="https://resstock.nrel.gov/dataviewer">Data Viewer</a></h5>
			      		<p>Explore existing analysis results on ResStock’s interactive website. State-level results can be filtered to identify the savings potential in various segments of the housing stock, whether that is homes of a certain vintage, homes with a specific heating fuel type, or homes with a certain type of wall construction type.</p>
				      	
				      	<h5><a class="color-3" href="https://resstock.nrel.gov/factsheets/">State Fact Sheets</a></h5>
				      	<p>State audiences can benefit from the series of fact sheets developed for the 48 contiguous U.S. states. Each fact sheet presents the potential for economic energy and utility bill savings for the state. The top ten energy savings home improvements are highlighted. </p>

				      	<h4>Publications</h4>

				      	<h5>Latest publications</h5>
								<p>Das, S., Wilson, E., Williams, E. (2020) The impact of behavioral and geographic heterogeneity on residential-sector carbon abatement costs. Energy and Buildings <a class="color-3" href="https://doi.org/10.1016/j.enbuild.2020.110611">https://doi.org/10.1016/j.enbuild.2020.110611</a></p>

								<p>Speake, A.; Donohoo-Vallett, P.; Wilson, E.; Chen, E.; Christensen, C. Residential Natural Gas Demand Response Potential during Extreme Cold Events in Electricity-Gas Coupled Energy Systems. Energies 2020, 13, 5192. <a class="color-3" href="https://www.mdpi.com/1996-1073/13/19/5192">https://doi.org/10.3390/en13195192</a></p>

								<p>Winkler, J., Das, S., Earle, L., Burkett, L., Robertson, J., Roberts, D., & Booten, C. (2020). Impact of installation faults in air conditioners and heat pumps in single-family homes on U.S. energy usage. Applied Energy, 278, 115533. <a class="color-3" href="https://doi.org/10.1016/j.apenergy.2020.115533">https://doi.org/10.1016/j.apenergy.2020.115533</a></p>

								<h5>Primary ResStock publications</h5>
								<p>Wilson, E. J. H., Christensen, C. B., Horowitz, S. G., Robertson, J. J., & Maguire, J. B. (2017). Energy Efficiency Potential in the US Single-Family Housing Stock (No. NREL/TP-5500-68670). National Renewable Energy Lab.(NREL), Golden, CO (United States). <a class="color-3" href="https://doi.org/10.2172/1414819">DOI: 10.2172/1414819</a></p>

								<p>Wilson, E., Christensen, C., Horowitz, S., & Horsey, H. (2016). "A high-granularity approach to modeling energy consumption and savings potential in the US residential building stock." Proceedings of SimBuild, 6(1). <a class="color-3" href="http://ibpsa-usa.org/index.php/ibpusa/article/view/385">http://ibpsa-usa.org/index.php/ibpusa/article/view/385</a></p>

								<p>Wilson, E., & Merket, N. (2018) "An Interactive Visualization Tool for Large-Scale Building Stock Modeling." Proceedings of 2018 Building Performance Modeling Conference and SimBuild (338). ASHRAE and IBPSA-USA. Chicago, IL (United States). <a class="color-3" href="https://www.ashrae.org/File%20Library/Conferences/Specialty%20Conferences/2018%20Building%20Performance%20Analysis%20Conference%20and%20SimBuild/Papers/C047.pdf">Link</a></p>

								<p>Wilson, E. J. H., Harris, C. B., Robertson, J. J., & Agan, J. (2019). Evaluating energy efficiency potential in low-income households: A flexible and granular approach. Energy Policy, 129, 710-737. <a class="color-3" href="https://doi.org/10.1016/j.enpol.2019.01.054">DOI: 10.1016/j.enpol.2019.01.054</a>

								<p>Preparing for a City-Scale Building Energy Upgrade Analysis: A Case Study for New York City (July 2019). National Renewable Energy Laboratory. NREL/MK-5500-71727. <a class="color-3" href="https://www.nrel.gov/docs/fy19osti/71727.pdf">https://www.nrel.gov/docs/fy19osti/71727.pdf</a></p>

								<h5>Fact Sheets</h5>

								<p>Wilson, E. J. H. (2017) ResStock - Targeting Energy and Cost Savings for U.S. Homes. (Fact Sheet) (No. NREL/FS-5500-68653). National Renewable Energy Lab.(NREL), Golden, CO (United States). <a class="color-3" href="https://www.osti.gov/servlets/purl/1398250">https://www.osti.gov/biblio/1398250</a></p>

								<p>Wilson, E. J. H., Harris, C., & Robertson, J. J. (2018) Evaluating Energy Efficiency Potential in Low-Income Households. (Fact Sheet) (No. NREL/FS-5500-70659). National Renewable Energy Lab.(NREL), Golden, CO (United States). <a class="color-3" href="https://www.osti.gov/servlets/purl/1436972">https://www.osti.gov/biblio/1436972</a></p>

								<h5>Recorded webinars</h5>

								<p><strong>March 29, 2017</strong> Building America webinar: ResStock – Evaluating Home Performance Upgrades Across the U.S. Residential Building Stock <a class="color-3" href="https://www.energy.gov/eere/buildings/downloads/resstock-building-america-webinar">https://www.energy.gov/eere/buildings/downloads/resstock-building-america-webinar</a></p>

								<h5>Other related publications</h5>

								<h6>2020</h6>
								<p>Gerke, B.F., Zhang, C., Satchwell, A., Murthy, S., Piette, M.A., Present, E., Wilson, E., Speake, A. and Adhikari, R., 2020. Modeling the Interaction Between Energy Efficiency and Demand Response on Regional Grid Scales. Presented at the 2020 ACEEE Summer Study on Energy Efficiency in Buildings, 17-21 August 2020. (No. NREL/CP-5500-77423). <a class="color-3" href="https://www.osti.gov/biblio/1668858">https://www.osti.gov/biblio/1668858</a></p>

								<p>Das, Saptarshi, "Effects of heterogeneity, technological progress and interaction on carbon mitigation costs" (2020). Thesis. Rochester Institute of Technology. Accessed from <a class="color-3" href="https://scholarworks.rit.edu/theses/10389">https://scholarworks.rit.edu/theses/10389</a></p>

								<p>Murphy, C., Hotchkiss, E. L., Anderson, K. H., Barrows, C. P., Cohen, S. M., Dalvi, S., ... & Wilson, E. J. (2020). Adapting Existing Energy Planning, Simulation, and Operational Models for Resilience Analysis (No. NREL/TP-6A20-74241). National Renewable Energy Lab.(NREL), Golden, CO (United States). <a class="color-3" href="https://www.osti.gov/biblio/1602705">10.2172/1602705</a></p>

								<h6>2019</h6>
								<p>Mims Frick, N., Wilson, E. J., Reyna, J., Parker, A. S., Present, E. K., Kim, J., ... & Eckman, T. (2019). End-Use Load Profiles for the US Building Stock: Market Needs, Use Cases, and Data Gaps (No. NREL/TP-5500-75215; DOE/GO-102019-5217). National Renewable Energy Lab.(NREL), Golden, CO (United States). <a class="color-3" href="https://doi.org/10.2172/1576489">10.2172/1576489</a></p>

								<p>Christensen, Dane T, Becker, William L, Speake, Andrew, McCabe, Kevin, Bench Reese, Samantha R, Maguire, Jeffrey B, Cutler, Dylan S, and Dorsey, Caitlin. (2019) "Geothermal-Enabled Zero Energy Electric Community—An Integrated System Design Study: Preprint". Presented at the Geothermal Resources Council (GRC) Annual Meeting & Expo, 15-18 September 2019, Palm Springs, California, United States. <a class="color-3" href="https://www.osti.gov/servlets/purl/1573781">https://www.osti.gov/servlets/purl/1573781</a></p>

								<h6>2018</h6>
								<p>Hale, E. T., Horsey, H. R., Muratori, M., Wilson, E. J., Borlaug, B. A., Christensen, C. B., ... & Rossol, M. N. (2018). The Demand-Side Grid (dsgrid) Model Documentation (No. NREL/TP-6A20-71492). National Renewable Energy Lab.(NREL), Golden, CO (United States). <a class="color-3" href="https://doi.org/10.2172/1465659">DOI: 10.2172/1465659</a> <a class="color-3" href="https://doi.org/10.2172/1471555">DOI: 10.2172/1471555</a></p>

								<p>Podkaminer, Kara, Valerie Nubbe, Ben King, Ookie Ma, Jared Langevin, John R. Mayernik, Chioke Harris, and Eric J. Wilson. "Is Every kWh the Same? How Do Energy Efficiency Measures Stack Up Across Regions?" Presented at the 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 12-17 August 2018, Pacific Grove, California (No. NREL/CP-5500-72080). <a class="color-3" href="https://www.osti.gov/biblio/1524757">https://www.osti.gov/biblio/1524757</a></p>

								<p>Saxena, M., Coffey, B., May-Ostendorp, P., Rasin, J., Wilson, E. J., Horowitz, S. G. (2018). "Simplifying Energy Efficiency for Homeowners-Results from a California Utility's Pilot Study of a Scalable Solution to Assess Retrofit and Solar Opportunities: Preprint" Presented at the 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 12-17 August 2018, Pacific Grove, California (No. NREL/CP-5500-72176). <a class="color-3" href="https://www.osti.gov/servlets/purl/1479631">https://www.osti.gov/biblio/1479631</a></p>

								<h5>Data Dashboards</h5>
								<p><a class="color-3" href="https://public.tableau.com/shared/SM9R5YT4N?:display_count=yes&:showVizHome=no">Tabular dashboard</a> with state-by-state technical and economic savings results for all measures and packages from <a class="color-3" href="https://doi.org/10.2172/1414819">DOI: 10.2172/1414819</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading2">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>ComStock Resources
			        </button>
			      </h5>
			    </div>
			    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
						<div class="card-body">
							<h5><a href="https://resstock.nrel.gov/dataviewer" class="color-3">Data Viewer</a></h5>
			      	<p>Explore existing analysis results on ComStock’s interactive website. State-level results can be filtered to identify the savings potential in various segments of the commercial building stock, whether that is buildings of a certain vintage, specific heating fuel type, or in a specific state and climate zone.</p>

			      	<h5><a href="https://comstock.nrel.gov/page/measures" class="color-3">Energy Conservation Measure Glossary</a></h5>
			      	<p>Review the measures currently supported in the current (V1) national scale ComStock release and the conditions determining applicability of the measure. Links are included to the source code for deep dives on the modeling assumptions and implementations. </p>

			      	<h5><a href="https://comstock.nrel.gov/page/faqs" class="color-3">FAQs, Known Bugs, and Planned Improvements</a></h5>
		      		<p>Learn the answers to frequently asked questions, find out about known bugs in the user interface or data set, and learn about improvements and bug fixes that are in the works or planned for the future. </p>

		      		<h5>Publications</h5>
		      		<p>Coming Soon</p>
						</div>
					</div>
			  </div>
			</div>
		</div>	
		<div class="mt-4" ng-if="subNav === 'news'">
			<h3 class="mb-4">News</h3>
			<div markdown-it ng-include="'views/tools/markdown/comstock-resstock/news.md'"></div>
		</div>
		<div class="mt-4" ng-if="subNav === 'dev'">
			<h3 class="mb-4">Links for Developers</h3>
			<div id="accordion">
			  <div class="card">
			    <div class="card-header" id="heading1">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>ResStock
			        </button>
			      </h5>
			    </div>

			    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
			      <div class="card-body">
			      	<p>Use the free and open-source software yourself (or partner with the National Renewable Energy Laboratory or a third-party consultant). Analyze the scenarios of interest to you, whether you wish to evaluate the potential of a specific technology, define your own cost-effectiveness equations, or plug in hyperlocal data to get a high-granularity picture of the potential in a city or utility service area. Analysis results can be privately uploaded to the ResStock website for visualization.</p>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading2">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>ComStock
			        </button>
			      </h5>
			    </div>

			    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
			      <div class="card-body">
			      	<p>Gain insights on the methodology and review the code and resource files used to generate the national scale analysis from the public <a class="color-3" href="https://github.com/nrel/comstock">ComStock GitHub</a> repository.</p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<div class="mt-4" ng-if="subNav === 'help'">
			<h3 class="mb-4">Get Help</h3>
			<p>Visit the Data Tools Help Desk [link forthcoming] or email placeholder@email.com for help getting started with or using the SEED Platform.</p>
		</div>						
	</div>
	
</div>
