<div id="tool-nav">
	<ul class="nav flex-column">
	  <li class="nav-item">
	    <a class="nav-link" href="" ng-click="setActive('home')" ng-class="{ active{{navNum}}: subnavIsActive('home')}">{{toolName}}</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="" ng-click="setActive('resources')" ng-class="{ active{{navNum}}: subnavIsActive('resources')}">Resources</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="" ng-click="setActive('news')" ng-class="{ active{{navNum}}: subnavIsActive('news')}">News</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="" ng-click="setActive('dev')" ng-class="{ active{{navNum}}: subnavIsActive('dev')}">Links for Developers</a>
	  </li>
	   <li class="nav-item">
	    <a class="nav-link" href="" ng-click="setActive('help')" ng-class="{ active{{navNum}}: subnavIsActive('help')}">Get Help</a>
	  </li>
	</ul>
</div>