<h2 class="mat-h2 mb-4">Links for Developers</h2>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      ResStock
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Use the free and open-source software yourself (or partner with the National Renewable Energy Laboratory or a third-party consultant). Analyze the scenarios of interest to you, whether you wish to evaluate the potential of a specific technology, define your own cost-effectiveness equations, or plug in hyperlocal data to get a high-granularity picture of the potential in a city or utility service area. Analysis results can be privately uploaded to the ResStock website for visualization.</p>
</mat-expansion-panel>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      ComStock
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Gain insights on the methodology and review the code and resource files used to generate the national scale analysis from the public <a class="color-3" href="https://github.com/nrel/comstock" target="_blank">ComStock GitHub</a> repository.</p>
</mat-expansion-panel>