<div fxLayout="row">
  <section fxFlex="50" fxLayoutGap="20px">
    <p>The ResStock and ComStock analysis tools are helping states, municipalities, utilities, and manufacturers identify which building stock improvements save the most energy and money. By taking a new approach to large-scale residential and commercial energy analysis combining large public and private data sources, statistical sampling, detailed sub-hourly building simulations, and high-performance computing, these two tools achieved unprecedented granularity and accuracy in modeling the U.S. building stock. </p>

    <p>With National Renewable Energy Laboratory (NREL) supercomputing, the ComStock and ResStock teams have run tens of millions of simulations using a statistical model of building stock characteristics to generate detailed information on the technical and economic potential of energy efficiency improvements and packages for particular states or regions. Policymakers, program designers, and manufacturers can use these results to identify improvements with the highest potential for cost-effective savings, as well as help identify customer segments for targeted marketing and deployment. </p>
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>ResStock and ComStock software will be offered at no cost, leveraging DOE’s open-source building energy modeling ecosystem and able to be run on the cloud (no supercomputer required).</p>

    <h3 class="mat-h3 color-3">Getting Started</h3>
    <p>Visit <a class="color-3" href="https://resstock.nrel.gov/">resstock.nrel.gov</a> and <a class="color-3" href="https://comstock.nrel.gov/">comstock.nrel.gov</a> to view residential and commercial building stock data. </p>

  </section>
</div>
