<p>ComStock and ResStock are building stock-level diagnostic tools. States, municipalities, utilities and manufacturers can use them to identify high-impact improvements and make better program decisions.</p>
<!--<div class="callout">
  <div class="btn-type-1 p-3 ">
    <p>"Testimonial"</p>
    <p class="pl-5">— John Doe</p>
  </div>
</div> -->

<div fxLayout="row">
  <div fxFlex="60" fxFlex.xs="90">
    <p class="bold">With ComStock and ResStock, you can easily:</p>
    <ul>
      <li>Discover how buildings can contribute to emissions targets.</li>
      <li>Identify cost-effective upgrades for buildings in your area.</li>
      <li>See the potential savings from individual segments, like buildings of a certain age or with certain heating fuels.</li>
      <li>View state-specific fact sheets with potential savings and top upgrade measures.</li>
      <li>Analyze custom scenarios — evaluate the potential of specific technologies, define your own cost-effectiveness evaluations, or get a high-granularity picture of your area's potential.</li>
      <li>Visualize data and results.</li>
    </ul>
  </div>
  <!--<div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
    <img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
  </div>-->
</div>
<p>Get started by signing up for a free <a href="https://resstock.nrel.gov/">ResStock</a> or <a href="https://comstock.nrel.gov/">ComStock</a> account.</p>
<p>To learn more, view the additional resources on this page or contact BuildingSync@lists.buildingenergytools.org.</p>

<!--<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="50" fxLayoutGap="20px">
    <p>The ResStock and ComStock analysis tools are helping states, municipalities, utilities, and manufacturers identify which building stock improvements save the most energy and money. By taking a new approach to large-scale residential and commercial energy analysis combining large public and private data sources, statistical sampling, detailed sub-hourly building simulations, and high-performance computing, these two tools achieved unprecedented granularity and accuracy in modeling the U.S. building stock.</p>
    <p class="pr-4">With National Renewable Energy Laboratory (NREL) supercomputing, the ComStock and ResStock teams have run tens of millions of simulations using a statistical model of building stock characteristics to generate detailed information on the technical and economic potential of energy efficiency improvements and packages for particular states or regions. Policymakers, program designers, and manufacturers can use these results to identify improvements with the highest potential for cost-effective savings, as well as help identify customer segments for targeted marketing and deployment.</p>
  </div>
  <div fxFlex="50">
    <p>ResStock and ComStock software will be offered at no cost, leveraging DOE's open-source building energy modeling ecosystem and able to be run on the cloud (no supercomputer required).</p>

    <h3 class="mat-h3">Getting Started</h3>
    <p>Visit <a href="https://resstock.nrel.gov/">resstock.nrel.gov</a> and <a href="https://comstock.nrel.gov/">comstock.nrel.gov</a> to view residential and commercial building stock data.</p>
  </div>
</div>-->
