<!--<div class="top-header">
  <h1 routerLink="/" class="title">Building Performance Tools</h1>
</div> -->

<!--stopindex-->
<header>
  <div class="container-fluid">
    <!-- Header - no navigation-->
    <div class="row">
      <nav class="navbar" style="border-bottom:1px solid #ccc;">
        <div class="container">
          <div class="navbar-header" >
            <div class="navbar-brand">
              <span>
                <a href="https://www.energy.gov/cmei/office-critical-minerals-and-energy-innovation" alt="Office of Critical Minerals and Energy Innovation">
                <img src="assets/images/cmei.svg" class="banner-logo">
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="container" style="border-bottom:1px solid #ccc;">
        <div class="app-title">
          <span class="banner-title"><a routerLink="/" class="focus">Building Data Tools</a></span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->

<!--startindex-->
