<!-- <div class="top-header">
 <h1 routerLink="/" class="title">Building Performance Tools</h1>
</div> -->

<!--stopindex-->
<header>
  <div class="container-fluid">
    <!-- Header - no navigation-->
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div class="container">
	        <div class="navbar-header">
		        <div class="navbar-brand">
			        <span><img src="assets/images/doe-eere-logo.png" alt="" usemap="#logo" class="banner-logo">
                <map name="logo">
                  <area shape="rect" coords="1,1,198,20" href="https://www.energy.gov" alt="Energy.gov">
                  <area shape="rect" coords="2,22,198,75" href="https://www.energy.gov/eere/office-energy-efficiency-renewable-energy" alt="Office of Energy Efficiency and Renewable Energy">
                </map>
		          </span> 
			        <span class="banner-title"><a routerLink="/">Building Data Tools</a></span>
      	    </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- end header -->

<!--startindex-->

