@import "theme";

.mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
  font-family: 'Figtree', sans-serif !important;
}

.focus {
  &:focus {
    outline: 2px solid #005FCC;
  }
}

.container {
  padding-left: 0px;
}

.banner-logo {
  width: 350px;
  margin-top: -10px;
  margin-left: -30px;
}

.navbar-brand {
  margin-left: 0px !important;
}

.app-title {
  padding: 0px 0px 30px 0px;
  font-size: 32px;
  color: #1b1b1b;
  font-weight: 700;
  font-family: 'Figtree', sans-serif;

  a {
    color: #000;
  }
}

.top-header {
  background-color: #094f58;
  background-image: url("/assets/images/datatools_header.jpg");
  font-family: 'Figtree', sans-serif;
  color: white;
  padding: 4px $pad * 2;
  min-height: 100px;
  display: flex;
  text-transform: uppercase;
  margin-bottom: 3px;

  h1 {
    cursor: pointer;
    margin-bottom: 0;
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding-left: 5rem;
    padding-bottom: 5px;
    align-self: flex-end;
  }

  .title {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
    font-size: 2.1rem;
  }
}

h2 {
  color: #616161;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  padding: 4px $pad;
  text-transform: uppercase;
  font-family: "Figtree", sans-serif;
}

@media screen and (max-width: 599px) {
  .top-header {
    h1 {
      padding-left: 4rem;
      margin-top: 15px;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .top-header {
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      padding-left: 3rem;
      padding-top: 3px;
    }
  }
}
