@import "theme";

.focus {
  &:focus {
    outline: 2px solid #005FCC;
  }
}

.top-header {
  background-color: #094f58;
  background-image: url("/assets/images/datatools_header.jpg");
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 4px $pad * 2;
  min-height: 100px;
  display: flex;
  text-transform: uppercase;
  margin-bottom: 3px;

  h1 {
    cursor: pointer;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding-left: 5rem;
    padding-bottom: 5px;
    align-self: flex-end;
  }

  .title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.1rem;
  }
}

h2 {
  color: #616161;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  padding: 4px $pad;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}

@media screen and (max-width: 599px) {
  .top-header {
    h1 {
      padding-left: 4rem;
      margin-top: 15px;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .top-header {
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      padding-left: 3rem;
      padding-top: 3px;
    }
  }
}
