@import "theme";

.top-header {
  background-color: #094F58;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  padding: 4px $pad;

  h1 {
    cursor: pointer;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 22px;
  }
}

h2 {
  color: #616161;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  padding: 4px $pad;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}
