@import "theme";

footer2 {
  background-color: $gray;
}

strong {
  font-weight: 500;
  padding: 14px $pad;
}

.descriptions > div {
  font-size: 11px;
  padding: 14px $pad 8px;

  &:not(:last-child) {
    border-right: 3px solid #fff;
  }
}

.bpt {
  max-width: $maxWidth;
  margin: 0 auto;
}

section {
  padding: 0 $pad;

  > div {
    padding-bottom: 25%; // 4/1 aspect ratio
    position: relative;

    > img {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &:not(:last-child) {
    border-right: 3px solid #fff;
  }
}

.contact {
  background-color: $blueGray;
  color: #fff;
  height: 21px;
  padding: 0 $pad;
}

.small-footer-img {
  margin: 10px;
  margin-top: 2rem;
}

@media screen and (max-width: 599px) {
  section {
    > div {
      padding: 10px;
      border-bottom: 1px solid #fff;
    }
  }
}

footer {
  padding-top: 30px;
  background-color: white;
  font-family: "Karla", sans-serif;
}

.footer-top .container {
  width: 100%;

  .row {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    line-height: 1.65;
  }
}

.footer-top .container .row .col-md-3 p {
  margin: 0;
}

ul {
  padding-left: 2rem;
}

ul.menu li a {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-bottom {
  padding: 4rem 8rem;
}

.footer-bottom .container {
  padding-left: 25px;
  width: 100%;
}

.footer-top .container .row .col-md-3 p.office {
  line-height: 1.2em;
  margin-bottom: 1.5rem;
}

.footer-top .container .row .col-md-3 p.footer-header {
  margin-bottom: 1em;
  font-weight: bold;
}

a.external::after {
  content: "";
  margin: 0;
}
