@import "theme";

footer2 {
  background-color: $gray;
}

.container {
  max-width: $maxWidth;
}

.menu-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: none;
}

p {
  font-size: 16px;
  line-height:  1.65;
  padding-bottom: 20px;
}

strong {
  font-weight: 500;
  padding: 14px $pad;
}

.program-bar2 {
  text-align: left;
}

.footer-logo {
  padding-top: 20px;
  padding-bottom: 20px; 
  padding-left: 0px;
}

.doe-cmei-logo {
  width: 410px;
}

.descriptions > div {
  font-size: 11px;
  padding: 14px $pad 8px;

  &:not(:last-child) {
    border-right: 3px solid #fff;
  }
}

.bpt {
  max-width: $maxWidth;
  margin: 0 auto;
}

section {
  padding: 0 $pad;

  > div {
    padding-bottom: 25%; // 4/1 aspect ratio
    position: relative;

    > img {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .square {
      height: 100%;
      width: 50%;
      margin-left: 50px;
    }
  }

  &:not(:last-child) {
    border-right: 3px solid #fff;
  }
}

.contact {
  background-color: $blueGray;
  color: #fff;
  height: 21px;
  padding: 0 $pad;
}

.small-footer-img {
  margin: 10px;
  margin-top: 2rem;
}

@media screen and (max-width: 599px) {
  section {
    > div {
      padding: 10px;
      border-bottom: 1px solid #fff;
    }
  }
}

footer {
  padding-top: 30px;
  background-color: white;
  font-family: "Figtree", sans-serif;
}
.tools-footer-top {
  background-color: #002959 !important;
  background-image: unset;
  border-bottom: 1px solid white;
}

.tools-footer-bottom {
  background-color: #002959;
}
.footer-top .container {
  width: 100%;

  .row {
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    line-height: 1.65;
  }
}

.footer-top .container .row .col-md-3 p {
  margin: 0;
}

ul {
  padding-left: 3rem;
}

.nav > li {
  padding-right: 30px;
}

ul.menu li a {
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-bottom {
  padding: 4rem 8rem;
}

.footer-bottom .container {
  padding-left: 25px;
  width: 100%;
}

.footer-top .container .row .col-md-3 p.office {
  line-height: 1.2em;
  margin-bottom: 1.5rem;
}

.footer-top .container .row .col-md-3 p.footer-header {
  margin-bottom: 1em;
  font-weight: bold;
}

a.external::after {
  content: "";
  margin: 0;
}
