<div fxLayout="row">
  <div fxFlex="20"><div class="pl-4"><h6 class="mat-h6">Achieve Compliance</h6></div><img class="card-img img-g3" src="assets/images/assetscore-outcomes-icon.svg" alt="Asset Score Logo"></div>
  <div fxFlex="70">
    <p>Use the Asset Score tool to identify a compliance pathway for any buildings which don’t meet your program’s performance criteria. After entering audit data into Audit Template, you can create an Asset Score report with one click. This report will include a customized, prioritized list of cost-effective upgrade recommendations which can be shared with building owners. </p>
    <div><img src="assets/images/asset-score-outcome_pathway-01.png" width="100%"></div>
  </div>
</div>