<div fxLayout.gt-xs="row" fxLayout.xs="column">
  <div fxFlex="25" ngClass.xs="mb-4">
    <div class="pl-4"><h4 class="mat-h6">Achieve Compliance</h4></div>
    <img class="card-img img-g3" src="assets/images/assetscore-outcomes-icon.svg" alt="">
  </div>
  <div fxFlex="70">
    <p>Use the Asset Score tool to identify a compliance pathway for underperforming buildings, including a prioritized list of cost-effective upgrade measures which can be shared with building owners to make their lives easier.</p>

    <p>One common and very effective process is for auditors to submit their reports using Audit Template, which a program implementer can then convert into an Asset Score report with one click.</p>
    <div><img src="assets/images/asset-score-outcome_pathway-01.png" width="100%" alt="Use asset score to achieve compliance"></div>
  </div>
</div>
