<div fxLayout="row">
  <div fxFlex="30"><div class="pl-4"><h6 class="mat-h6">Achieve Compliance</h6></div><img class="card-img img-g3" src="assets/images/assetscore-outcomes-icon.svg" alt="Asset Score Logo"></div>
  <div fxFlex="70">
    <p>Use Asset Score to identify cost-effective energy efficiency measures to help buildings deliver EUI and GHGe metrics for compliance with a building performance policy. </p>
    <div><img src="assets/images/asset-score-outcome_pathway-01.png"></div>
  </div>
</div>