<div ng-include="'views/includes/topnav.html'"></div>

<div class="row pt-3">

	<div class="col-3 v-divider">
		<div class="mb-4"><img src="images/asset-score-logo.svg" alt="Asset Score Logo" width="100%"></div>
		<div ng-include="'views/tools/tool-nav.html'"></div>
	</div>
	<div class="col tool-main">
		<div ng-if="subNav === 'home'">
			<div class="row mb-4">
				<div class="col">
					<iframe width="100%" height="80%" src="https://www.youtube.com/embed/A9THtQg5lHU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col">
					<p>The Building Energy Asset Score (Asset Score) is a free, web-based tool for assessing the physical and structural energy efficiency of commercial and multifamily residential buildings. </p>
					<p>Asset Score assesses the energy efficiency of building assets (including envelope, mechanical, electrical and service hot water systems) and generates an Energy Asset Score Report which includes:

						<ul>
							<li>An overall efficiency score ranging from 1-10</li>
							<li>An energy efficiency assessment of the building’s individual systems</li>
							<li>Total estimated building energy usage under standard operation and by end use</li>
							<li>Opportunities to improve building efficiency, and a “potential” energy efficiency score based on identified upgrades</li>
						</ul>
					</p>

					<p>Because Asset Score reflects the energy efficiency of a building based solely on its design, construction, and energy systems, users can:
						<ul>
							<li>Quickly compare the physical energy efficiency of their building with other buildings</li>
							<li>Communicate building efficiency to the marketplace</li>
							<li>Identify opportunities to invest in energy efficiency upgrades</li>
						</ul>
					</p>
					<h4 class="color-3">Getting Started</h4>
					<p>To get started, <a href="https://buildingenergyscore.energy.gov/d/users/sign_up" target="_blank" class="color-3">register for an Asset Score account</a>. View the Introduction to Asset Score webinar on this page and review the additional resources on this page as well as the <a href="https://help.buildingenergyscore.com/support/home" class="color-3" target="_blank">Asset Score User Guide</a>. </p>
 

				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="accordion">
					  <div class="card">
					    <div class="card-header" id="heading1">
					      <h5 class="mb-0">
					        <button class="btn btn-link panel-header-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
					           <i class="fa px-3 chevron" aria-hidden="true"></i> Asset Score & ENERGY STAR Portfolio Manager 
					        </button>
					      </h5>
					    </div>

					    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
					      <div class="card-body">
					      	<div class="row mb-3">
					      		<div class="col my-auto">
					      			<p>An ENERGY STAR Portfolio Manager score enables the comparison of buildings based on their energy consumption, as indicated by actual energy bills (how a building <strong>actually</strong> performs based on use). The Portfolio Manager score may reflect how efficiently a building is operated and maintained.</p>
					      			<p>Asset Score reflects the energy efficiency of a building based solely on its design, construction, and energy systems (how a building <strong>should</strong> perform based on construction). Think of it as a “miles per gallon” sticker for buildings.</p>
					      		</div>
					      		<div class="col my-auto"><img src="views/tools/markdown/asset-score/img/asset-score-chart.png" alt="diagram of improvement recommendations based on asset score and portfolio manager score"></div>
					      	</div>
					      	<p>Using Asset Score and Portfolio Manager together provides powerful information that can identify energy upgrades and improvements in building operations. For example, in the graphic above:
					      		<ul>
					      			<li>A building that receives a low ENERGY STAR score and a high Asset Score may benefit from a re-tuning or retrocommissioning.</li>
					      			<li>A building that receives a high ENERGY STAR score and a low Asset Score may benefit from some capital improvements. </li>
					      		</ul>
					      	</p>
					      	<p>The <a href="https://www.seattle.gov/environment/climate-change/buildings-and-energy/building-tune-ups/tune-up-accelerator" target="_blank" class="color-3">Seattle Building Tune-Up Accelerator Program</a> recently used both tools in this way; their website includes information on the program, including a link to a recorded webinar and a case study.</p>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>	
		<div class="mt-4" ng-if="subNav === 'goals'">
			<h3 class="mb-4">Goals & Outcomes</h3>
			<p>Use Asset Score to identify cost-effective energy efficiency measures to help buildings deliver EUI and GHGe metrics for compliance with a building performance policy. </p>
		</div>	
		<div class="mt-4" ng-if="subNav === 'resources'">
			<h3 class="mb-4">Resources</h3>
			<p>The following documents are available to help you understand and use Asset Score:</p>
		
			<div id="accordion">
			  <div class="card">
			    <div class="card-header" id="heading1">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Getting Started
			        </button>
			      </h5>
			    </div>

			    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
			      <div class="card-body">
			        <ul>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_quick_start_guide.pdf">Quick Start Guide</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_quick_start_guide_preview.pdf">Quick Start Guide - Preview Version</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/videos/assetscore_demo.wmv">Overview and Demonstration</a> (WMV)</li>
			        	<li><a class="color-3" href="https://help.buildingenergyscore.com/">Asset Score Help</a></li>
			        	<li><a class="color-3" href="https://help.buildingenergyscore.com/support/solutions">User's Guide</a></li>
			        	<li><a class="color-3" href="https://help.buildingenergyscore.com/support/discussions">Community Forum</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading2">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed panel-header-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Data Collection
			        </button>
			      </h5>
			    </div>
			    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
			      <div class="card-body">
			        <ul>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_data_collection_form_preview.pdf">Data Collection Form - Preview Input Mode</a> (PDF)</li>
			        	<li><a class="color-3" href="Data Collection Short Form - Full Input Mode">Data Collection Short Form - Full Input Mode</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_data_collection_form_full_long.pdf">Data Collection Long Form - Full Input Mode</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_data_collection_priority_map.pdf">Asset Score Data Collection Priority Map</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/templates/spreadsheet_upload_template.xlsx">Upload Template for Preview Buildings</a> (XLSX)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/AST_UnitConversionCalculator.xlsx">Unit Conversion Calculator</a> (XLSX)</li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading3">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed panel-header-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Asset Score Report
			        </button>
			      </h5>
			    </div>
			    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
			      <div class="card-body">
			        <ul>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/example_report_preview.pdf">Example Asset Score Preview Report</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/example_report.pdf">Example Single-Use Asset Score Report</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/example_report_mixed_use.pdf">Example Mixed-Use Asset Score Report</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_report_guide.pdf">Asset Score Report Guide</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_recommendations_guide.pdf">Asset Score Building Upgrade Guide</a> (PDF)</li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading4">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed panel-header-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Software and Modeling Details
			        </button>
			      </h5>
			    </div>
			    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
			      <div class="card-body">
			        <ul>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_assumptions.pdf">Operational and Equipment Sizing Assumptions</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_use_types_systems_and_controls.pdf">Available Use Types, HVAC Systems, and System Controls At-a-Glance</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_technical_protocol.pdf">Program Overview and Technical Protocol</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_technical_protocol_appendix_L.pdf">Program Overview Appendix L - Sensitivity Analysis</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/api">Asset Score API</a></li>
			        	<li><a class="color-3" href="http://as-documentation.labworks.org/">Asset Score Release Notes</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>			
			  <div class="card">
			    <div class="card-header" id="heading5">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed panel-header-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Total System Performance Ratio
			        </button>
			      </h5>
			    </div>
			    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
			      <div class="card-body">
			        <ul>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/TSPR%20Quick%20Start%20Guide.pdf">TSPR Quick Start Guide</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/TSPR_HVAC_System_Data_Entry_Example.pdf">TSPR HVAC System Data Entry Example</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/TSPR_Analysis_Report_Example_1.pdf">Example TSPR Analysis Report</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/TSPR%20Technical%20Terms.pdf">TSPR Technical Terms</a> (PDF)</li>
			        	<li><a class="color-3" href="https://waenergycodes.com/online_training">2018 WSEC Commercial Training - Introduction to TSPR</a></li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/TSPR_Training_Presentation_Slides_2020-06-03.pdf">Total System Performance Ratio Webinar, June 2020 - Presentation Slides</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/Zip_Climate_V2.xlsx">Zip Code to Weather File Mapping</a> (XLSX)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/TSPR_CalculatorTool.xlsm">COP Calculator Tool</a> (XLSM)</li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading6">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed panel-header-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Asset Score Training
			        </button>
			      </h5>
			    </div>
			    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
			      <div class="card-body">
			        <ul>
			        	<li><a class="color-3" href="https://www.youtube.com/watch?v=A9THtQg5lHU">Introduction to Asset Score Webinar, April 28, 2020</a> (YouTube)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/Introduction_to_Asset_Score_042820.pdf">Introduction to Asset Score Webinar, April 28, 2020 - Presentation Slides</a> (PDF)</li>
			        	<li><a class="color-3" href="http://www.assetscorecertificate.org/">Center for Building Knowledge (CBK) Asset Score Training and Certification Program</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading7">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed panel-header-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Technical Publications
			        </button>
			      </h5>
			    </div>
			    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
			      <div class="card-body">
			        <ul>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/energy_asset_score_methodology_journal_012916.pdf">Journal Article: Scoring Methodology</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/simulation_based_coefficients_for_adjusting_climate_impact.pdf">Journal Article: Simulation-based coefficients for adjusting climate impact[...]</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/AS_Preview_Final.pdf">Journal Article: Asset Score Preview</a></li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/market_research.pdf">Conference Paper: Market Research; ACEEE Summer Study, 2012</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/lessons_learned.pdf">Conference Paper: Pilot Project Lessons Learned; ASHRAE Transactions, 2013</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/weather_normalization.pdf">Conference Paper: Weather Normalization; iBPSA, 2013</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/system_evaluation.pdf">Conference Paper: System Evaluation; ASHRAE Annual Conference, 2014</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/uncertainty_analysis_ibpsa.pdf">Conference Paper: Uncertainty Analysis; ASHRAE and iBPSA SimBuild, 2016</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/assetscore_preview_aceee.pdf">Conference Paper: Asset Score Preview; ACEEE Summer Study, 2016</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/energy_savings_hotels.pdf">Conference Paper: Energy Savings for Hotels; ACEEE Summer Study, 2016</a> (PDF)</li>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/Final_ASHRAE_PNNL_CommercialKitchen.pdf">Conference Paper: Energy Evaluation of Food Service; ASHRAE Annual Conference, 2018</a> (PDF)</li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading8">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed panel-header-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Communications
			        </button>
			      </h5>
			    </div>
			    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
			      <div class="card-body">
			        <ul>
			        	<li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_brochure.pdf">Asset Score Brochure</a> (PDF)</li>
			        	<li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-architects">Asset Score for Architects</a></li>
			        	<li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-building-owners">Asset Score for Building Owners </a></li>
			        	<li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-energy-services-companies-engineers-and">Asset Score for Energy Services Companies, Engineers and Green Building Consultants </a></li>
			        	<li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-real-estate-managers">Asset Score for Real Estate Managers</a></li>
			        	<li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-state-and-local-governments">Asset Score for State and Local Governments</a></li>
			        	<li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-utilities-and-energy-efficiency-program">Asset Score for Utilities and Energy Efficiency Program Administrators</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>			  
<!-- 			  <div class="card">
			    <div class="card-header" id="heading9">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed panel-header-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>FAQ
			        </button>
			      </h5>
			    </div>
			    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
			      <div class="card-body">
			        Coming Soon
			      </div>
			    </div>
			  </div>	 -->	
			</div>
		</div>	
		<div class="mt-4" ng-if="subNav === 'news'">
			<h3 class="mb-4">News</h3>
			<div markdown-it ng-include="'views/tools/markdown/asset-score/news.md'"></div>
		</div>
		<div class="mt-4" ng-if="subNav === 'dev'">
			<h3 class="mb-4">Links for Developers</h3>
			<p>We welcome use of the Asset Score by energy services companies, consultants, software providers and other parties that offer services to building owners to improve the energy efficiency of buildings. Such providers can integrate their tools seamlessly with the Asset Score through an application programming interface (API).</p>

			<h4 class="color-3 mt-4">RESTful Web Service</h4>
			<p>The Asset Score API is a RESTful style web service. For more information about REST, please visit: <a class="color-3" href="http://en.wikipedia.org/wiki/Representational_state_transfer">http://en.wikipedia.org/wiki/Representational_state_transfer</a></p>

			<h4 class="color-3 mt-4">API Organization Token</h4>

			<p>In order to create an account to authenticate and utilize the API, users must first get an API Organization Token. The token must be passed along with the parameters used when creating a new account. Please send an email with the subject line "Request API Token" to: <a class="color-3" href="mailto:asset.score@ee.doe.gov?subject=Request API Token">asset.score@ee.doe.gov</a></p>

			<p>Once the organization token is received the API can be utilized to create a user account. A user account is used to obtain an API Access Token, described below. Follow the API documentation for details of the parameters needed: <a class="color-3" href="https://buildingenergyscore.energy.gov/apidoc/v2/users/create.html">POST /api/v2/users</a></p>

			<h4 class="color-3 mt-4">API Access Token</h4>

			<p>Once a user account has been created the user can authenticate against the API to generate a user-specific access token. All subsequent interactions with the API must include the authenticated user's API token. Follow the API documentation for details of authentication method: <a class="color-3" href="https://buildingenergyscore.energy.gov/apidoc/v2/users/authenticate.html">POST /api/v2/users/authenticate</a></p>

			<p>The API Access Token is specific to an individual user, and is distinct from the API Organization Token. The API Organization Token is used only to create user accounts and to authenticate those accounts in order to receive the API Access Token.</p>

			<p>To use your API access token, simply pass the key as a URL parameter when making requests. For example:</p>

			<p class="pl-3"><code>GET https://api.labworks.org/api/v2/preview_buildings?token=YOUR_UNIQUE_TOKEN</code></p>

			<h4 class="color-3 mt-4">API Documentation</h4>

			<p>All API documentation can be found at: <a class="color-3" href="https://buildingenergyscore.energy.gov/apidoc">API Documentation</a></p>

			<h4 class="color-3 mt-4">Summary of Steps</h4>

			<ul>
				<li>Request an API Organization Token. Send email with subject line "Request API Token" to: <a class="color-3" href="mailto:asset.score@ee.doe.gov?subject=Request API Token">asset.score@ee.doe.gov</a></li>
				<li>Use the API Organization Token to create a user account: <a class="color-3" href="https://buildingenergyscore.energy.gov/apidoc/v2/users/create.html">POST /api/v2/users</a></li>
				<li>Authenticate the user account using the API Organization Token to receive an API Access Token: <a class="color-3" href="https://buildingenergyscore.energy.gov/apidoc/v2/users/authenticate.html">POST /api/v2/users/authenticate</a></li>
				<li>Use the API Access Token in further API requests.</li>
			</ul>

			<h4 class="color-3 mt-4">Data Documentation</h4>
			<p>The help desk website help documentation provides detail into how the tool works and is recommended reading: <a class="color-3" href="https://help.buildingenergyscore.com/">Asset Score Help</a></p>

			<p>See below for a high-level overview of the data model. For more detail, download a description of the data elements as described in: <a class="color-3" href="https://buildingenergyscore.energy.gov/documents/EnergyAssetScoreDataModel.v1.pdf">EnergyAssetScoreDataModel.v1.pdf</a>

			<div class="center p-2"><img width="50%" src="views/tools/markdown/asset-score/img/asset-score-diagram.png" alt="asset score diagram"></div>

			<h4 class="color-3 mt-4">Notice</h4>

			<p>This material was prepared as an account of work sponsored by an agency of the United States Government. Neither the United States Government nor the United States Department of Energy, nor the Contractor, nor any or their employees, nor any jurisdiction or organization that has cooperated in the development of these materials, <strong><em>makes any warranty, express or implied, or assumes any legal liability or responsibility for the accuracy, completeness, or usefulness or any information, apparatus, product, software, or process disclosed, or represents that its use would not infringe privately owned rights.</em></strong></p>

			<p>Reference herein to any specific commercial product, process, or service by trade name, trademark, manufacturer, or otherwise does not necessarily constitute or imply its endorsement, recommendation, or favoring by the United States Government or any agency thereof, or Battelle Memorial Institute. The views and opinions of authors expressed herein do not necessarily state or reflect those of the United States Government or any agency thereof.</p>

			<div class="center">
				PACIFIC NORTHWEST NATIONAL LABORATORY <br/>
				<em>operated</em><br/>
				BATTELLE<br/>
				<em>for the</em><br/>
				UNITED STATES DEPARTMENT OF ENERGY<br/>
				<em>under Contract DE-AC05-76RL01830</em><br/><br/>

				ALL RIGHTS RESERVED<br/>
			</div>

		</div>
		<div class="mt-4" ng-if="subNav === 'help'">
			<h3 class="mb-4">Get Help</h3>
			Visit the Data Tools Help Desk for help getting started with or using the Asset Score. 
		</div>						
	</div>
	
</div>
<div class="mt-5" ng-include="'views/includes/footer.html'"></div>