<div ng-include="'views/includes/topnav.html'"></div>

<div class="row pt-3">

	<div class="col-3">
		<div class="mb-4"><img src="../../images/audit-template-logo.svg" alt="Audit Template logo" width="100%"></div>
		<div ng-include="'views/tools/tool-nav.html'"></div>
	</div>
	<div class="col tool-main">
		<div ng-if="subNav === 'home'">
			<div class="row">
				<div class="col">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/vtmi1WzA7zQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col">
					<p>Audit Template is an online portal for collecting standardized information (no more wrestling with Excel files or proprietary formats) about a building’s physical systems and recommended upgrades. Auditors use the mobile-friendly interface to submit data (both ASHRAE-standard and customized templates are available), which is automatically checked for quality and completeness. Program administrators access their own City Dashboard to monitor submissions, verify reported data, and download reports in their preferred format (PDF, CSV, or XML). </p>

					<p>Because Audit Template stores data in the BuildingSync format, information is persistent and easily shared with other people and systems, including the other building energy tools as well as Customer Relationship Management (CRM) applications. You can even port data over to Asset Score with just one click!</p>

					<h4 class="color-1">Getting Started</h4>
					<p><a href="https://buildingenergyscore.energy.gov/d/users/sign_up" target="_blank" class="color-1">Register for an Audit Template account to get started</a>. Once registered, log in and select the   Audit Template tab from the home page. From there you can add a report, input building audit data, and submit your data. View the <a href="https://buildingenergyscore.energy.gov/documents/asset_score_quick_start_guide.pdf" target="_blank" class="color-1">Quick Start Guide</a> for details.</p>

				</div>
			</div>
		</div>		
		<div class="mt-4" ng-if="subNav === 'resources'">
			<h3 class="mb-4">Resources</h3>
			<div markdown-it ng-include="'views/tools/markdown/audit-template/resources.md'"></div>
		</div>	
		<div class="mt-4" ng-if="subNav === 'news'">
			<h3 class="mb-4">News</h3>
			<div markdown-it ng-include="'views/tools/markdown/audit-template/news.md'"></div>
		</div>
		<div class="mt-4" ng-if="subNav === 'help'">
			<h3 class="mb-4">Get Help</h3>
			Visit the Data Tools Help Desk [link forthcoming] or email placeholder@email.com for help getting started with or using the Audit Template. 
		</div>						
	</div>
	
</div>
<div class="mt-5" ng-include="'views/includes/footer.html'"></div>
