<div ng-include="'views/includes/topnav.html'"></div>

<div class="row pt-3">

	<div class="col-3 v-divider">
		<div class="mb-4"><img src="../../images/bldgsync-logo.svg" alt="BuildingSync logo" width="100%"></div>
		<div ng-include="'views/tools/tool-nav.html'"></div>
	</div>
	<div class="col tool-main">
		<div ng-if="subNav === 'home'">
			<div class="row">
				<div class="col">
					<p>BuildingSync&reg; is a common schema for energy audit data that can be utilized by different software and databases involved in the energy audit process. It allows data to be more easily aggregated, compared, and exchanged between different databases and software tools. This streamlines the energy audit process, improving the value of the data, minimizing duplication of effort for subsequent audits, and facilitating achievement of greater energy efficiency. </p>

					<p>BuildingSync&reg; was developed to address the lack of an industry-standard collection format for energy audit data. Standardizing energy audit data can help energy auditors, software providers, building owners, utilities, and other entities by maximizing the value that can be obtained from each set of data – value obtained through collaboration, comparison, and reuse. </p>
				</div>
				<div class="col">
					<p>The schema was developed by a National Renewable Energy Laboratory (NREL) led working group. Working group participants included industry collaborators, national laboratories, and government agencies. </p>

					<p>BuildingSync standardizes the format of the energy audit data itself. It is not intended to standardize the calculations performed on these data by engineers, analysts, software packages, or other audit tools. </p>

					<h4 class="color-5">Getting Started</h4>
					<p>Access the latest version of the BuildingSync schema, plus documentation and additional resources, on <a href="https://github.com/BuildingSync/schema/releases">GitHub</a>.</p>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div id="accordion">
					  <div class="card">
					    <div class="card-header" id="heading1">
					      <h5 class="mb-0">
					        <button class="btn btn-link panel-header-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
					          <i class="fa px-3 chevron" aria-hidden="true"></i> More About BuildingSync
					        </button>
					      </h5>
					    </div>

					    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
					      <div class="card-body">
					      	<p>BuildingSync&reg; is a standardized language for commercial building energy audit data that software developers can use to exchange data between audit tools. Taking the form of an <a href="https://en.wikipedia.org/wiki/XML_Schema_(W3C)">XML schema</a>, BuildingSync can be required by building owners and audit program managers to allow data analysis and aggregation across multiple buildings in order to evaluate program performance and analyze trends.</p>
					      	<p>BuildingSync was developed using the standard energy data terminology defined in the <a href="https://bedes.lbl.gov/">Building Energy Data Exchange Specification (BEDES)</a>. BuildingSync is one of the first implementations of BEDES Version 1.0, and it was developed in close collaboration with the BEDES working groups.</p>
					      	<p>BuildingSync standardizes the format of the energy audit data itself. It is not intended to standardize the calculations performed on these data by engineers, analysts, software packages, or other audit tools.</p>
					      	<p>BuildingSync consists of two files and a reference sheet, which are all offered as <a href="https://github.com/BuildingSync/schema/releases">free downloads</a>:</p>
					      	<ul>
					      		<li>The data field “dictionary” in Excel format, including field names, definitions, units, and other attributes. The data dictionary is aligned with BEDES, but includes only the subset of data fields that are relevant for energy audits. This file can be referenced to help standardize the terminology used in energy audits, but does it does not provide a structure that allows data to be exchanged across different applications.</li>
					      		<li>An XML Schema file (.xsd) that documents the relationships among the data fields. This file can be referenced as a voluntary or mandatory reporting format for audit data, and data files compliant with the schema can then be aggregated and analyzed in a database. There are several tools available for viewing a graphical version of the XML schema file. View the <a href="https://en.wikipedia.org/wiki/XML_Schema_Editor#XML_Schema_Editors">Wikipedia page about XML schema editors</a> for more information about XML viewers.</li>
					      		<li>The BuildingSync Geometry Reference Sheet , which illustrates how most of the simplified geometric terms (shapes, side names, vertices, orientations) are defined in the context of BuildingSync.</li>
					      	</ul>

					      	<h5>WHY WAS BUILDINGSYNC DEVELOPED?</h5>
					      	<p>Currently the energy audit industry lacks a common data collection format. Data collection differs widely between energy auditors, as do the outputs from various energy audit software tools. This makes it difficult to aggregate the data collected by different auditors, or to make comparisons between buildings that have been audited by different auditors using different software.</p>
					      	<p>Energy audits of commercial buildings are becoming increasingly common, and even required, in the federal sector and in cities like New York City and San Francisco. The <a href="https://www.ashrae.org/">American Society of Heating, Refrigeration and Air Conditioning Engineers (ASHRAE)</a> is in the process of developing a national standard for commercial building energy audits; however, this process is complicated by the lack of a standard data specification for information collected and reported, as well as the lack of consistency in data formats across audit software applications.</p>

					      	<h5>WHAT CAN BUILDINGSYNC DO?</h5>
					      	<p>BuildingSync can facilitate a consistent history of energy audit data across the life of a building or a group of buildings, and thus enable lower costs and higher energy performance results. It can also allow easier aggregation and analysis of audits conducted by different companies using different software. BuildingSync covers the essential data collected across all ASHRAE Audit Levels as defined in Procedures for Commercial Building Energy Audits, and includes all data necessary for the calculation of a <a href="http://energy.gov/eere/buildings/commercial-building-energy-asset-score">Commercial Building Energy Asset Score.</a></p>

					      	<p>BuildingSync provides a common schema for energy audit data that can be utilized by a variety of software and databases. Using the schema ensures that data collected for a single building over time is consistent and comparable, that data from different buildings can be easily aggregated and compared for large-scale analysis, and that data can be transferred between a variety of software tools. This streamlines the energy audit process and lead to new opportunities for using the resulting data to achieve greater energy efficiency.</p>

					      	<p>By delivering energy audit data in a common format, energy auditors can make it easier for their customers to use the data to make decisions. For large building owners with many properties, standardized data across their buildings can help them more easily understand their opportunities for energy efficiency. Standardized data can also make it much easier for building owners to integrate the information they receive in an energy audit into property management tools for later reference and reuse. Utilities or local governments that run energy audit programs may also find it easier to utilize the results of energy audits to spur energy efficiency improvements if those results are in a common format.</p>

					      	<p>The schema was built using the standard terminology defined in the Building Energy Data Exchange Specification (BEDES) dictionary. Existing data formats and guidance about how to conduct energy audits were incorporated whenever possible, making it easier to reconcile and map data from existing databases to BuildingSync.</p>

					      	<h5>WHO SHOULD USE BUILDINGSYNC?</h5>
					      	<p>BuildingSync considers the needs and interests of all stakeholders in the energy audit industry, including building owners, auditors, software developers, and program managers. Existing data formats and datasets were leveraged whenever possible, to avoid duplication of effort and minimize the effort required to perform data reconciliation and mapping from existing databases. Using BuildingSync, audit data can be collected and reported in a format that allows many different users to analyze and process the data to answer their specific questions.</p>

					      	<ul>
					      		<li><strong>Providers of building energy assessment software</strong> can integrate the ability to export BuildingSync-compatible files into their software.</li>
					      		<li><strong>Providers of energy auditing services</strong> can choose to use software that can output BuildingSync-compatible files.</li>
					      		<li><strong>Building owners</strong> may wish to incorporate BuildingSync into their next RFP for a building energy audit by requiring the auditor to provide data in a BuildingSync-compatible format.</li>
					      		<li><strong>Utilities</strong> can choose to recommend or require software that uses BuildingSync-compatible files for any programs involving energy audits.</li>
					      	</ul>

					      </div>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-header" id="heading2">
					      <h5 class="mb-0">
					        <button class="btn btn-link collapsed panel-header-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
					          <i class="fa px-3 chevron" aria-hidden="true"></i> Collaborators
					        </button>
					      </h5>
					    </div>
					    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
					      <div class="card-body">
					        <p>The following entities collaborated in the BuildingSync® development working group:</p>
					        <strong>Industry collaborators</strong><br/>
					        <ul>
										<li>ActioNet</li>
										<li>Advanced Energy</li>
										<li>ASHRAE</li>
										<li>Building Energy</li>
										<li>Concept 3D</li>
										<li>Consortium for Building Energy Innovation (CBEI)</li>
										<li>Consortium for Energy Efficiency (CEE)</li>
										<li>Descartes</li>
										<li>ecoInsight</li>
										<li>EcoPros, LLC</li>
										<li>EMAT</li>
										<li>Empowered Energy Solutions</li>
										<li>The Energy Coalition</li>
										<li>EnergyActio</li>
										<li>FirstFuel</li>
										<li>Grumman/Butkus Associates</li>
										<li>Hitchcock Consulting</li>
										<li>kW Engineering</li>
										<li>Improvement Facilitation</li>
										<li>Institute for Market Transformation (IMT)</li>
										<li>kWhOURS</li>
										<li>L&S Energy Services</li>
										<li>National Home Performance Council (NHPC), now Home Performance Coalition (HPC)</li>
										<li>Performance Systems Development (PSD)</li>
										<li>Philips Lighting</li>
										<li>Philips Research North America</li>
										<li>Retroficiency</li>
										<li>Shakti Consultants, Inc.</li>
										<li>Smart Buildings Center</li>
										<li>Sustainable Energy Partnerships</li>
										<li>VCA Green</li>
										<li>Utility Systems Solutions, Inc.</li>
									</ul>
									<strong>National laboratories and government agencies</strong><br/>
									<ul>
										<li>California Energy Commission (CEC)</li>
										<li>Federal Emergency Management Program (FEMP)</li>
										<li>Ft. Carson U.S. Army Base</li>
										<li>Lawrence Berkeley National Laboratory (LBNL)</li>
										<li>National Renewable Energy Laboratory (NREL)</li>
										<li>New York City</li>
										<li>Pacific Northwest National Laboratory (PNNL)</li>
										<li>San Francisco Department of the Environmentv
										<li>U.S. Department of Energy (DOE)</li>
									</ul>
					      </div>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-header" id="heading3">
					      <h5 class="mb-0">
					        <button class="btn btn-link collapsed panel-header-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
					          <i class="fa px-3 chevron" aria-hidden="true"></i>Current Adopters
					        </button>
					      </h5>
					    </div>
					    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
					      <div class="card-body">
					        <div class="row">
										<div class="col p-3"><a class="image" href="https://www.pnnl.gov/" target="_blank"><img src="views/tools/markdown/buildingsync/img/pnnl.png"></a></div>
										<div class="col p-3"><a class="image" href="http://psdconsulting.com/" target="_blank"><img src="views/tools/markdown/buildingsync/img/psd.png"></a></div>
									</div>
									<div class="row">
										<div class="col p-3"><a class="image" href="https://buildee.com/" target="_blank"><img src="views/tools/markdown/buildingsync/img/buildee.png"></a></div>
										<div class="col p-3"><a class="image" href="https://www.maalka.com/" target="_blank"><img src="views/tools/markdown/buildingsync/img/maalka.png"></a></div>
										
									</div>
									<div class="row">
										<div class="col p-3"><a class="image" href="https://brightpower.com" target="_blank"><img src="views/tools/markdown/buildingsync/img/bright_power.png"></a></div>
										<div class="col p-3"><a class="image" href="https://www.aecom.com/" target="_blank"><img src="views/tools/markdown/buildingsync/img/aecom.png"></a></div>

									</div>
									<div class="row">
										<div class="col p-3"><a class="image" href="https://brandnewbox.com" target="_blank"><img src="views/tools/markdown/buildingsync/img/brand_new_box.png"></a></div>
										<div class="col p-3"><a class="image" href="https://sfenvironment.org/" target="_blank"><img src="views/tools/markdown/buildingsync/img/sf_environment.png"></a></div>
									</div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>	
		<div class="mt-4" ng-if="subNav === 'resources'">
			<h3 class="mb-4">Resources</h3>
			<p>The following documents are available to help you understand and use BuildingSync:</p>

			<div id="accordion">
			  <div class="card">
			    <div class="card-header" id="headingr1">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link" data-toggle="collapse" data-target="#collapser1" aria-expanded="true" aria-controls="collapser1">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Documents
			        </button>
			      </h5>
			    </div>

			    <div id="collapser1" class="collapse show" aria-labelledby="headingr1" data-parent="#accordion">
			      <div class="card-body">
			      	<p>Each release of the schema includes several supporting documents, the Schema, a Data Dictionary, List of Measures. More information regarding each of the supporting documents is described below and the various versions of schemas are found <a href="https://buildingsync.net/schema">here</a>.</p>

			      	<h5>SCHEMA</h5>
			      	<p>The BuildingSync schema can be used to create and validate XML files. There have been multiple releases of the schema and they can be found <a href="https://buildingsync.net/schema">here</a>.</p>
			      
			      	<h5>DATA DICTIONARY</h5>
			      	<p>The data field “dictionary” includes field names, definitions, units, and other attributes for the enumerated fields. The data dictionary is aligned with BEDES, but includes only the subset of data fields that are relevant for energy audits. This page can be referenced to help standardize the terminology used in energy audits, but it does not provide a structure that allows data to be exchanged across different applications.</p>

			      	<h5>LIST OF MEASURES</h5>
			      	<p>The list of measures defined in the BuildingSync Schema contain a TechnologyCategory and a list of valid enumerations.</p>

			      	<h5>OTHER SUPPORTING DOCUMENTS</h5>
			      	<p>There are several supporting documents that are independent of the version of the schema. The supporting documents include Example Files, a Geometry Reference Sheet, and an Implementation Guide. More information can be found below.</p>

			      	<h6>EXAMPLES FILES</h6>
			      	<p>These <a href="https://github.com/BuildingSync/schema/tree/develop/examples">example files</a> aid in applying the schema to a particular energy auditing software. This collection is not exhaustive, but should still be helpful.</p>

			      	<h6>GEOMETRY REFERENCE SHEET</h6>
			      	<p>The BuildingSync <a href="https://github.com/BuildingSync/schema/blob/develop/docs/Geometry%20Reference.pdf">Geometry Reference Sheet</a> illustrates how most of the simplified geometric terms (shapes, side names, vertices, orientations) are defined in the context of BuildingSync.</p>

			      	<h6>IMPLEMENTATION GUIDE</h6>
			      	<p>The <a href="https://buildingsync.net/documents/BuildingSync%20v1.0-legacy%20Implementation%20Guide.pdf">Implementation Guide</a> is a comprehensive guide illustrating the process needed to adopt the BuildingSync schema. The Guide also provides context for BuildingSync and discusses how it has been developed in close coordination with the energy auditing industry.</p>

			      	<h5>PUBLICATIONS AND PRESENTATIONS</h5>

			      	<h6>2020</h6>

			      	<p><a href="https://buildingsync.net/documents/Mosiman-BPAC-2020.pdf">Mosiman, Cory, Nicholas Lee Long, Tobias Maile, Katherine Fleming and Christopher CaraDonna. 2020. “High-Level Model Articulation with BuildingSync and OpenStudio.” In ASHRAE and IBPSA-USA SimBuild 2020 Building Performance Analysis Conference, Virtual Conference.</a></p>

			      	<p>Long, Nicholas, Katherine Fleming, Cory Mosiman, Harry Bergmann, Mark Borkum, Ted Summer, Christopher Naismith. “BuildingSync Webinar.” September 11, 2020. <a href="https://nrel-seed.s3.us-east-1.amazonaws.com/resources/2020-09-11%20-%20BuildingSync%20Update%20Presentation.pdf">Webinar Presentation.</a><a href="https://nrel-seed.s3.us-east-1.amazonaws.com/resources/2020-09-11%20-%20BuildingSync%20Update%20Webinar.mp4">Webinar Recording</a></p>

			      	<h6>2018</h6>

			      	<p><a href="https://buildingsync.net/documents/Hooper-ACEEE-BRICR.pdf">Hooper, Barry, Tianzhen Hong, Daniel Macumber, Sang Hoon Lee, Yixing Chen, Nicholas Long, Edwin Lee, et al. 2018. “The BayREN Integrated Commercial Retrofits (BRICR) Project : An Introduction and Preliminary Results Overview of BRICR Software Tools and Workflow.” In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12. Pacific Grove, CA.</a></p>

			      	<p><a href="https://buildingsync.net/documents/DeGraw-ACEEE-BuildingSync-in-Action.pdf">DeGraw, Jason, Kristin Field-Macumber, Nicholas Long, and Supriya Goel. 2018. “BuildingSync&reg; in Action : Example Implementations.” In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12. Pacific Grove, CA.</a></p>

			      	<p><a href="https://buildingsync.net/documents/Kelsey-ACEEE-Std211.pdf">Kelsey, Jim. 2018. “Developing ASHRAE’s First Standard for Commercial Energy Audits (Or; How I Spent My Summer Vacations).” In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–14. Pacific Grove, CA.</a></p>

			      	<p><a href="http://www.kw-engineering.com/buildingsync-energy-audits-benefits/">Kelsey, Jim. 2018. “An XML-Ent Match Made in Energy Efficiency: BuildingSync and Energy Audits - KW Engineering.”</a></p>

			      	<p><a href="https://buildingsync.net/documents/Taylor-ACEEE-Ordinances.pdf">Taylor, Cody, Marc Costa, Nicholas Long, and Jayson Antonoff. 2016. “A National Framework for Energy Audit Ordinances.” In 2016 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12.</a></p>

			      	<p><a href="https://www.ashrae.org/technical-resources/bookstore/standards-180-and-211">ASHRAE. 2018. “BSR/ASHRAE/ACCA Standard Standard 211-2018.” Atlanta, GA.</a></p>

			      	<h6>2017</h6>

			      	<p><a href="http://nesea.org/sites/default/files/session-docs/1705_data_driven_bergman.pdf">Bergmann, Harry. 2017. “DOE Building Energy Data Tools.”</a></p>

			      	<h6>2016</h6>

			      	<p><a href="https://buildingsync.net/documents/Balbach-IBPSA-QAQC.pdf">Balbach, Chris, and David Bosworth. 2016. “Automated Methods for Improving Energy Model Quality Assurance and Quality Control.” In ASHRAE and IBPSA-USA SimBuild 2016 Building Performance Modeling Conference, 385–92. Salt Lake City, UT.</a></p>

			      	<p><a href="http://cbei.psu.edu/wp-content/uploads/2016/07/Broadening-Use-of-DOE-BTO-Tools-in-the-SMSCB-Market.pdf">Cochran, Erica, and Alon Abramson. 2016. “Broadening Use of DOE BTO Tools in the SMSCB Market Report.”</a></p>

			      	<p><a href="https://buildingsync.net/documents/Eley-IPBSA-StandardizeOutputs.pdf">Eley, Charles. 2016. “Standardizing Energy Modeling Output.” In ASHRAE and IBPSA-USA SimBuild 2016, 365–71. Salt Lake City, UT.</a></p>

			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingr2">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link collapsed" data-toggle="collapse" data-target="#collapser2" aria-expanded="true" aria-controls="collapser2">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>FAQ
			        </button>
			      </h5>
			    </div>

			    <div id="collapser2" class="collapse" aria-labelledby="headingr2" data-parent="#accordion">
			      <div class="card-body">
			      	<h5>WHO ELSE IS USING THE BUILDINGSYNC SCHEMA?</h5>
			      	<p>The BuildingSync effort has involved recruiting several industry collaborators to review the schema and investigate its incorporation into existing audits tools. See Collaborators for a list.</p>
			      	<h5>WHAT EFFORTS HAVE THE TEAM MADE TO ENSURE THAT BUILDINGSYNC FOLLOWS ESTABLISHED ENERGY AUDIT PRACTICES AND STANDARDS?</h5>
			      	<p>BuildingSync covers the essential data collected across all ASHRAE Audit Levels, as defined in Procedures for Commercial Building Energy Audits, and includes all data necessary for the calculation of a <a href="http://energy.gov/eere/buildings/building-energy-asset-score">Commercial Building Energy Asset Score</a>. Moreover, the team has coordinated with an extensive group of industry stakeholders to ensure relevance to the industry. The <a href="https://buildingsync.net/documents/BuildingSync%20v1.0-legacy%20Implementation%20Guide.pdf">Implementation Guide</a> includes a list of these stakeholders. Overall, existing data formats and datasets were leveraged whenever possible, to avoid duplication of effort and minimize the effort required to perform data reconciliation and mapping from existing databases.</p>
			      	<h5>I HAVE FOLLOWED THE PRACTICES SUGGESTED IN THE IMPLEMENTATION GUIDE, BUT I STILL CAN’T GET MY SOFTWARE TO VALIDATE TO THE BUILDINGSYNC SCHEMA. WHERE CAN I GO FOR HELP?</h5>
			      	<p>Please direct any questions to <a href="mailto:BuildingSync@ee.doe.gov">BuildingSync@ee.doe.gov</a>.</p>
			      	<h5>IS BUILDINGSYNC EVEN RELEVANT TO ME IF I’M NOT A SOFTWARE DEVELOPER?</h5>
			      	<p>Yes, it is relevant to you as long as you use, specify, or recommend energy auditing software. Providers of energy auditing services can choose to use software that can output BuildingSync-compatible files. Building owners may wish to incorporate BuildingSync into their next RFP for a building energy audit by requiring the auditor to provide data in a BuildingSync-compatible format.</p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>	
		<div class="mt-4" ng-if="subNav === 'news'">
			<h3 class="mb-4">News</h3>
			<div markdown-it ng-include="'views/tools/markdown/buildingsync/news.md'"></div>
		</div>
		<div class="mt-4" ng-if="subNav === 'dev'">
			<h3 class="mb-4">Links for Developers</h3>
		</div>	
		<div class="mt-4" ng-if="subNav === 'help'">
		  <h3 class="mb-4">Get Help</h3>
			Visit the Data Tools Help Desk [link forthcoming] or email [placeholder] for help getting started with or using BuildingSync. 
		</div>						
	</div>
	
</div>
