<div ng-include="'views/includes/topnav.html'"></div>

<div class="row pt-3">

	<div class="col-3">
		<div class="mb-4"><img src="images/pm-logo.svg" alt="Portfolio Manager logo" width="100%"></div>
		<div ng-include="'views/tools/tool-nav.html'"></div>
	</div>
	<div class="col">
		<div class="" ng-if="subNav === 'home'">
			<div markdown-it ng-include="'views/tools/markdown/portfolio-manager/home.md'"></div>
		</div>		
		<div class="" ng-if="subNav === 'resources'">
			<div markdown-it ng-include="'views/tools/markdown/portfolio-manager/resources.md'"></div>
		</div>	
		<div class="" ng-if="subNav === 'news'">
			<div markdown-it ng-include="'views/tools/markdown/portfolio-manager/news.md'"></div>
		</div>
		<div class="" ng-if="subNav === 'help'">
			Help section
		</div>						
	</div>
</div>
<div class="mt-5" ng-include="'views/includes/footer.html'"></div>