<div ng-include="'views/includes/topnav.html'"></div>
<div class="row">

	<div class="col-3 v-divider">
		<div class="mb-4"><img src="../../images/seed-logo-horizontal.png" alt="SEED logo" width="100%"></div>
		<div ng-include="'views/tools/tool-nav.html'"></div>
	</div>
	<div class="col tool-main">
		<div class="mt-4" ng-if="subNav === 'home'">
			<div class="row mb-4">
				<div class="col">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/sIGPeUP7JzA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col">
					<p>The Standard Energy Efficiency Data (SEED) Platform is a central database for building-related data. It merges information from ENERGY STAR Portfolio Manager, Audit Template, and other sources in one place, behind one intuitive interface. With just a few clicks, you can:
						<ul>
							<li>Merge datasets</li>
							<li>Assess the completeness of audit reports</li>
							<li>Perform automated quality assurance</li>
							<li>Share data with third parties</li>
							<li>Track the progress of BEPS program compliance</li>
							<li>Leverage analysis & evaluation tools to identify upgrade opportunities within buildings and across the city’s building stock, assess BEPS program performance, and set program cycle goals</li>
							<li>Share data with Customer Relationship Management (CRM) systems and dashboards.</li>
						</ul>
					</p>
					<p>Because SEED automates so many manual, time-intensive processes, even organizations with severely limited resources and staff can use it to achieve their program goals. </p>
				</div>
			</div>

			<div id="accordion">
				<div class="card">
			    <div class="card-header" id="heading1">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Getting Started</button>
			      </h5>
			    </div>

			    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
			      <div class="card-body">
			      	<h5 class="mb-4">Installation</h5>
							<p>SEED is a web-based database tool, and therefore must be "hosted" on a web server. It is not designed to be installed on an end-user's desktop computer. There are several options for how SEED can be hosted. The following information will help you select an appropriate type of SEED instance.</p>

							<p>If you are a developer, consult the <a href="https://seed-platform.readthedocs.io/en/latest/getting_started.html" target="_blank" class="color-2">Developer Getting Started Guide</a> for detailed instructions on how to install the SEED Platform locally for development purposes.</p>

							<h6>Third-Party Hosting</h6>
							<p>SEED can be hosted by third-party hosting providers, who will provide access to a SEED account. Providers will be LBNL-approved and will be responsible for keeping up with the updates to the code. See the Technical Allies page for current hosting providers.</p>

							<h6>Self-Hosted</h6>
							<p>Organizations may want to host their own SEED installation. This requires the SEED source code, installation scripts, and installation instructions, all of which are available in GitHub. Note that SEED is a server-based web application that is not designed to be installed on an end-user's desktop computer. Self-hosting SEED requires some experience with server and database administration and will usually require the involvement of an organization's IT department for installation and operation of a SEED instance.</p>

							<h6>Temporary Test Account Through LBNL</h6>
							<p>We are currently open to creating temporary test accounts for state and local governments and/or their relevant service providers that are exploring or in the process of implementing a building energy benchmarking ordinance. For more information, visit the <a href="https://seed-platform.org/lbnl/" target="_blank" class="color-2">LBNL SEED Platform page</a>.</p>

							<h5 class="mb-4">Data Guides</h5>
							<p>The following guides detail the SEED import process and supported data types:</p>

							<div class="mx-auto table-width mb-4">
								<table class="table table-striped">
									<thead class="thead-dark">
										<tr><th>Version</th><th>Date</th><th>Description</th></tr>
									</thead>
									<tbody>
										<tr><td><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_6_1%20Patch_%20Mapping%20and%20Merging.pdf" target="_blank" class="color-2">2.6.1</a></td><td>01/16/2020</td><td>Mapping and merging data overview</td></tr>
										<tr><td><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_6_%20Meter%20Data.pdf" target="_blank" class="color-2">2.6.0</a></td><td>08/09/2019</td><td>Overview of the new Meter Data features added to SEED release 2.6.0</td></tr>
										<tr><td><a href="https://docs.google.com/a/lbl.gov/viewer?a=v&pid=sites&srcid=bGJsLmdvdnxzZWVkfGd4OjZmMjJkYjc4ZDJkMmE4MjQ" target="_blank" class="color-2">2.5.1</a></td><td>08/26/2019</td><td>Overview of the GIS functionality available in SEED</td></tr>
										<tr><td><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_4%20Getting%20Started%20Guide.pdf" target="_blank" class="color-2">2.4.0</a></td><td>10/05/2018</td><td>Overview of the main features in the program, with the basic steps to get started</td></tr>
									</tbody>
								</table>
							</div>

							<h5 class="mb-4">Sample Data</h5>
							<p>The SEED Sample Data collection includes two files and can be downloaded from the table below:</p>

							<ul><li><strong>covered-buildings-sample.csv</strong>—sample tax assessor data with 512 building records</li>
								<li><strong>portfolio-manager-sample.csv</strong>—sample Energy Star Portfolio Manager data with 512 records which match the data in covered-buildings-sample.csv based on the Address field</li>
							</ul>

							<p>Note that this represents an ideal case, but it can be used to confirm proper program performance.</p>

							<p>All sample data should work with all versions of SEED, although the newer datasets may contain fields that do not exist in earlier versions.</p>

							<div class="mx-auto table-width mb-4">
								<table class="table table-striped">
									<thead class="thead-dark">
										<tr><th>Version</th><th>Files</th></tr>
									</thead>
									<tbody>
										<tr><td>2.7.0-Beta</td><td><a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.7.0-Beta/seed/tests/data/covered-buildings-sample.csv" target="_blank" class="color-2">Covered Buildings Sample File</a>&nbsp;&nbsp;<a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.7.0-Beta/seed/tests/data/portfolio-manager-sample.csv" target="_blank" class="color-2">Portfolio Manager Sample File</a></td></tr>
										<tr><td>2.6.1</td><td><a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.6.1/seed/tests/data/covered-buildings-sample.csv" target="_blank" class="color-2">Covered Buildings Sample File</a>&nbsp;&nbsp;<a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.6.1/seed/tests/data/portfolio-manager-sample.csv" target="_blank" class="color-2">Portfolio Manager Sample File</a></td></tr>
									</tbody>
								</table>
							</div>
							<p>See the <a href="https://seed-platform.org/documentation/" target="_blank" class="color-2">user documentation</a> page for more information on importing data.</p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>		
		<div class="mt-4" ng-if="subNav === 'resources'">
			<h3 class="mb-4">Resources</h3>
			<p>The following documents are available to help you understand and use the SEED Platform:</p>

			<div id="accordion">
			  <div class="card">
			    <div class="card-header" id="heading2">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>User Documentation</button>
			      </h5>
			    </div>

			    <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
			      <div class="card-body">
			      	<h5>Importing Data</h5>
							<h6>Importing Meter Data</h6>
							<p>SEED 2.6.0 incorporates the ability to import interval meter data. The document linked below explains how to import meter data from ENERGY STAR Portfolio Manager and Green Button files</p>

							<ul>
								<li><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_6_%20Meter%20Data.pdf" target="_blank" class="color-2">Meter Data (PDF)</a></li>
							</ul>

							<h5 class="mt-4">Field Mappings</h5>
							<p>List of SEED field names for Mapping data</p>

							<ul><li><a href="https://seed-platform.org/resources/MappingFieldstotheSEEDdatabase.pdf" target="_blank" class="color-2">Field Mappings (PDF)</a></li></ul>

							<h5 class="mt-4">Data Cleansing Rules</h5>
							<p>List of currently implemented data cleansing rules</p>

							<ul><li><a href="https://seed-platform.org/resources/DataCleansing.pdf" target="_blank" class="color-2">Cleansing Rules (PDF)</a></li></ul>
							
							<h5 class="mt-4">Filtering</h5>
							<ul>
								<li><a href="https://seed-platform.org/resources/SEED%20Filtering.pdf" target="_blank" class="color-2">SEED Filtering in Lists (PDF)</a></li>
								<li><a href="https://seed-platform.org/resources/Data%20Quality%20Checking%20with%20Filters-Labels.swf" target="_blank" class="color-2">Data Quality Checks with Filters-Labels (Video)</a></li>
							</ul>

							<h5 class="mt-4">GIS Features</h5>
							<p>SEED v2.5.0 and above incorporates some GIS functionality</p>

							<ul><li><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_5_%20GIS%20Features.pdf" target="_blank" class="color-2">GIS Features (PDF)</a></li></ul>


							<h5 class="mt-4">Excel™ Files</h5>
							<h6>Multi-Tab Files</h6>
							<p>Multi-tab Microsoft Excel™ files are only partially supported by SEED. It can read a Microsoft Excel™ file that has multiple tabs, but it will only read the first tab, so make sure that the data you want the program to import is in the first tab. If the mapping screen only has one field in it, this might be the problem.</p>

							<h6>Date Fields in Excel™ Files</h6>
							<p>If you are importing an Excel™ file (XLS, XLXS) into SEED, make sure that any field defined with a "date" format in Excel™ actually has data in it that is a date. If a field has non-date data (such as an integer) in a date-formatted field, SEED will not import that record.</p>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading3">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>References
			      </h5>
			    </div>

			    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
			      <div class="card-body">
			      	<h5>Publications</h5>

			      	<ul>
			      		<li>Taylor, C., Costa, M., Long, N. and Antonoff, J. <a href="https://aceee.org/files/proceedings/2016/data/papers/9_448.pdf" target="_blank" class="color-2">A National Framework for Energy Audit Ordinances"</a>, In 2016 ACEEE Summer Study on Energy Efficiency in Buildings, pp. 448–459. Pacific Grove, CA.</li>
			      		<li>Beddingfield, E., Duer-Balkind, M., Levine, A., Alschuler, E., and Brown, R. <a href="https://aceee.org/files/proceedings/2016/data/papers/7_324.pdf" target="_blank" class="color-2">“Putting Data to Work: Using Building Energy Performance Data to Expand the Market for Energy Efficiency in Buildings.”</a> In 2016 ACEEE Summer Study on Energy Efficiency in Buildings, pp. 324–335. Pacific Grove, CA.</li>
			      		<li>Aziz, A., Lasternas, B., Alschuler, E., Loftness, V., Wang, H., Mo, Y., Wang, T., Zhang, C., Sharma, S., and Stevens, I. <a href="https://www.osti.gov/biblio/1247127" target="_blank" class="color-2">“Supporting Building Portfolio Investment and Policy Decision Making through an Integrated Building Utility Data Platform.”</a> In Improving Energy Efficiency in Commercial Buildings & Smart Communities Conference, Mar. 2016.</li>
			      		<li>Alschuler, A., Antonoff, J., Brown, R., and Cheifetz, M. <a href="http://aceee.org/files/proceedings/2014/data/papers/4-274.pdf" target="_blank" class="color-2">Planting SEEDs: Implementation of a Common Platform for Building Performance Disclosure Program Data Management"</a>, In 2014 ACEEE Summer Study on Energy Efficiency in Buildings, pp. 274–284. Pacific Grove, CA.</li>
			      	</ul>

			      	<h5 class="mb-4">SEED-Adjacent Publications</h5>
			      	<ul>
			      		<li>DeGraw, Jason, Kristin Field-Macumber, Nicholas Long, and Supriya Goel. 2018. <a href="https://buildingsync.net/documents/DeGraw-ACEEE-BuildingSync-in-Action.pdf" target="_blank" class="color-2">“BuildingSync® in Action : Example Implementations.”</a> In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12. Pacific Grove, CA.</li>
			      	</ul>

			      	<h5 class="mb-4">Presentations</h5>
			      	<ul>
			      		<li>05/19/2020. NREL. <a href="https://nrel-seed.s3.amazonaws.com/resources/2020-05-19%20-%20SEED%20Advanced%20Features%20Webinar.mp4" target="_blank" class="color-2">SEED Advanced Features webinar</a> and <a href="https://nrel-seed.s3.amazonaws.com/resources/2020-05-19%20-%20SEED%20Sample%20Files.zip" target="_blank" class="color-2">sample files</a></li>
			      		<li>04/20/2020. <a href="https://nrel-seed.s3.amazonaws.com/resources/Introduction%20to%20SEED.pdf" target="_blank" class="color-2">Introduction to SEED presentation</a></li>
			      		<li>04/20/2020. LBNL. <a href="https://nrel-seed.s3.amazonaws.com/resources/2020-04-29%20-%20Introduction%20to%20SEED%20Webinar.mp4" target="_blank" class="color-2">Introduction to SEED webinar</a></li>
			      		<li>08/05/2019. <a href="https://nrel-seed.s3.amazonaws.com/resources/SEED%20Platform%20V2_6_%20Meter%20Data.pdf" target="_blank" class="color-2">Importing Meter Data into SEED</a></li>
			      		<li>11/05/2018. LBNL. <a href="https://nrel-seed.s3.amazonaws.com/resources/SEED%20Platform%20V2_4%20Getting%20Started%20Guide.pdf" target="_blank" class="color-2">SEED Platform Overview</a></li>
			      		<li><a href="https://nrel-seed.s3.amazonaws.com/resources/SEED_Factsheet_City.pdf" target="_blank" class="color-2">SEED for Cities</a> Factsheet.</li>
			      		<li><a href="https://nrel-seed.s3.amazonaws.com/resources/SEED_Overview_OpenSource_0.pdf" target="_blank" class="color-2">SEED: Why Open Source?</a> Factsheet.</li>
			      	</ul>
			      </div>
			    </div>
			  </div>
			</div>
		</div>	
		<div class="mt-4" ng-if="subNav === 'news'">
			<h3 class="mb-4">News</h3>
			<div markdown-it ng-include="'views/tools/markdown/seed/news.md'"></div>
		</div>
		<div class="mt-4" ng-if="subNav === 'allies'">
			<h3 class="mb-4">Technical Allies</h3>
			<p>SEED Platform Technical Allies are private companies and other entities that are officially recognized for their significant contributions to the <a href="http://energy.gov/eere/buildings/seed-platform-collaborative" target="_blank" class="color-2">SEED Platform Collaborative</a>. The Technical Ally categories are: Hosting Provider, Software Contributor, and App Developer. More information about these categories and the current qualifying Technical Allies are provided below. Note that Technical Allies must meet the approval criteria annually and execute the SEED Platform trademark <a href="http://seedinfo.lbl.gov/SEED_LBNL_sample_license.pdf" target="_blank" class="color-2">sublicense</a> in order to maintain their official SEED Platform Technical Ally status. The Technical Allies listed below have met all the approval criteria within the last year; click on their logo to find out more about the services they offer.</p>

    	<h4>Hosting Providers</h4>
    	<p>These Technical Allies offer the core functionality of the SEED Platform as a hosted service to end-users. Please see the <a href="https://seed-platform.org/hosting_requirements/" target="_blank" class="color-2">Hosting Provider Requirements</a> for more information about becoming an approved Hosting Provider.</p>

    	<div class="row mb-4">
    		<div class="col-4 mx-auto">
    			<img src="views/tools/markdown/seed/img/EA-Logo-Color-400x98.png" alt="earth advantage logo">
    			<div class="center">
      			Earth Advantage<br/>
      			<a href="https://seed-platform.org/technical_ally/earthadvantage.org" target="_blank" class="color-2">earthadvantage.org</a><br/><br/>
      			Contact: Erik Cathcart<br/>
      			<a href="mailto:ecathcart@earthadvantage.org">ecathcart@earthadvantage.org</a>
    			</div>
    		</div>
    		<div class="col-4 mx-auto">
    			<img src="views/tools/markdown/seed/img/ClearlyEnergy.png" alt="clearly energy logo">
    			<div class="center">
    				Clearly Energy<br/>
      			<a href="https://seed-platform.org/technical_ally/www.clearlyenergy.com" target="_blank" class="color-2">www.clearlyenergy.com</a><br/><br/>
      			Contact: Veronique Bugnion<br/>
      			<a href="mailto:vbugnion@clearlyenergy.com">vbugnion@clearlyenergy.com</a>
      		</div>
    		</div>
    	</div>

    	<h4>Software Contributors</h4>
    	<p>These Technical Allies have added functionality to the core <a href="https://github.com/SEED-platform/seed" target="_blank" class="color-2">SEED Platform repository</a> (note that only contributors that have made significant contributions in the last year are listed below; for a complete list of SEED Platform contributors, please see the Authors page in the SEED Platform source-code repository). Please see the <a href="https://github.com/SEED-platform/seed/blob/develop/.github/CONTRIBUTING.md" target="_blank" class="color-2">SEED Platform Contribution Policy</a> on the SEED Platform source-code repository for more information about becoming an approved Software Contributor.</p>

    	<div class="row mb-4">
    		<div class="col-4 mx-auto">
    			<div class="my-2 mx-auto"><img src="views/tools/markdown/seed/img/ClearlyEnergy.png" alt="clearly energy logo"></div>
    			<div class="my-2 mx-auto"><img src="views/tools/markdown/seed/img/maalka_logo.png" alt="maalka logo"></div>
    			<div class="my-4 pl-5 mx-auto"><img src="views/tools/markdown/seed/img/logo_nrel_c.jpg" alt="NREL logo"></div>
    			<div class="my-2 pl-5 mx-auto"><img src="views/tools/markdown/seed/img/psd-logo1.png" alt="PSD logo"></div>
    		</div>
    		<div class="col-4 mx-auto">
    			<div class="my-2 mx-auto"><img src="views/tools/markdown/seed/img/EA-Logo-Color-400x98.png" alt="earth advantage logo"></div>
    			<div class="my-2 mx-auto"><img src="views/tools/markdown/seed/img/mi_logo.png" alt="mcquillen interactive logo"></div>
    			<div class="my-2 pl-5 mx-auto"><img src="views/tools/markdown/seed/img/ogbs-logo-rough.png" alt="OGBS logo"></div>
    		</div>
    	</div>

    	<h4>App Developers</h4>
    	<p>These Technical Allies use the SEED Platform application programming interface (API) to offer value-added services using data hosted in SEED Platform. Please see the <a href="https://seed-platform.org/app_developer_requirements/" target="_blank" class="color-2">App Developer Requirements</a> for more information about becoming an approved App Developer.</p>

    	<p>There are currently no officially approved App Developers for the SEED Platform, but the SEED Team is working on approving several applications.</p>

    	<div class="center"><img src="views/tools/markdown/seed/img/ClearlyEnergy.png" alt="clearly energy logo"></div>
		</div>
		<div class="mt-4" ng-if="subNav === 'dev'">
			<h3 class="mb-4">Links for Developers</h3>
			<p>The SEED Platform™ is an open-source project. The source code and documentation is available on <a href="https://github.com/SEED-platform/seed" target="_blank" class="color-2">GitHub</a>.</p>

			<h4 class="mb-4">Source Code Documentation</h4>
			<ul>
				<li><a href="https://seed-platform.readthedocs.org/en/stable/index.html" target="_blank" class="color-2">General Source Code Documentation</a></li>
				<li><a href="https://seed-platform.readthedocs.io/en/stable/developer_resources.html" target="_blank" class="color-2">Developer Resources</a></li>
				<li><a href="https://seed-platform.org/api/swagger/" target="_blank" class="color-2">API Documentation</a></li>
			</ul>

			<h4 class="mb-4">Release Notes</h4>
			<ul>
				<li><a href="https://github.com/SEED-platform/seed/releases" target="_blank" class="color-2">Release Notes</a></li>
			</ul>

			<h4 class="mb-4">Known Issues</h4>
			<p>Visit the <a href="https://seed-platform.org/known_issues/" target="_blank" class="color-2">Known Issues</a> page for a list of SEED Platform issues.</p>

			<h4 class="mb-4">Developer Forum</h4>
			<p>There is a <a href="https://groups.google.com/forum/?hl=en#!forum/seed-platform-dev" target="_blank" class="color-2">Google Group</a> for developers to discuss the SEED Platform project. The LBNL team monitors that forum and will respond to inquiries there.</p>

		</div>
		<div class="mt-4" ng-if="subNav === 'faq'">
			<h3 class="mb-4">FAQ</h3>
			<div id="accordion2">
    		<div class="card">
			    <div class="card-header col-type-2" id="headingr1">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link2" data-toggle="collapse" data-target="#collapser1" aria-expanded="true" aria-controls="collapser1">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Features - Geocoding</button>
			      </h5>
			    </div>

			    <div id="collapser1" class="collapse show" aria-labelledby="headingr1" data-parent="#accordion2">
			      <div class="card-body">
			      	<h5 class="mb-4">When and how does SEED geocode my data?</h5>
							
							<p>SEED will attempt to geocode your data with latitude and longitude values only if the following are true:</p>

							<ol><li>Your organization has a MapQuest API key. You can register for one through MapQuest's website and apply it on your organization settings page.</li>
							<li>The records being geocoded have address values that can be read by SEED. In your organization column settings page, you can specify which fields and in what order SEED will use to build the full address that will be geocoded by MapQuest.</li>
							<li>The records being geocoded do not already have latitude and longitude populated. SEED won't override these values, but you can edit and remove these values if you want SEED to attempt to generate them with MapQuest.</li></ol>
							<p>SEED will make this attempt in the following cases:</p>

							<ul><li>During the file import process, after you've mapped columns, SEED will automatically attempt geocoding on records.</li>

							<li>On either the properties page or the tax lots page, you can select records and use the "Geocode Selected" button under the Actions menu.</li></ul>

							<p>Note: Valid UBID (properties) or ULID (tax lots) values can be parsed to provide a latitude and longitude value. On import, UBID/ULID is used instead of MapQuest if available. On the inventory pages, there's a separate Action menu button to "Decode UBID/ULID for Selected".</p>

							<h5 class="my-4">I just geocoded my data using SEED. How do I review and verify the results?</h5>

							<p>There are multiple ways of verifying geocoding results. The most obvious way is to verify that latitude and longitude fields are populated. Additionally, SEED provides a field called "Geocoding Confidence". This field can provide evidence of how the geocoding went for that record - a value starting with "Low..." indicates that geocoding failed for a record because the address values didn't yield reliable results. Finally, SEED provides an inventory map page that allows you to view where the points are located on a map.</p>
			      </div>
			    </div>
    		</div>
    		<div class="card">
			    <div class="card-header col-type-2" id="headingr2">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link2 collapsed" data-toggle="collapse" data-target="#collapser2" aria-expanded="true" aria-controls="collapser2">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Features - Inventory Management</button>
			      </h5>
			    </div>

			    <div id="collapser2" class="collapse" aria-labelledby="headingr2" data-parent="#accordion2">
			      <div class="card-body">
			      	<h5 class="mb-4">Mapping, Merging, Matching, Pairing, and Linking - What do each of those mean and how are they related or different from each other?</h5>
							
							<p>Different inventory management and analysis features in SEED are based on the relationships between records of different inventory types (properties and tax lots). Those terms help describe these relationships.</p>

							<div class="mx-auto" style="width:60%;"><a href="./views/tools/markdown/seed/img/mapping_diagram.png" target="_blank"><img src="views/tools/markdown/seed/img/mapping_diagram.png" alt="Mapping and Merging Diagram" width="100%" /></a><br/>
							<div class="ml-4 mb-4 center"><em>click to expand</em></div></div>
							<ul>
								<li><strong>Mapping</strong> refers to the process of mapping newly imported data fields to the known database column names in order to create a record.</li>
								<li><strong>Merging</strong> refers to the act of combining multiple properties (or multiple tax lots) into one record. This can be done manually by users or automatically by SEED and helps avoid duplicate records.</li>

								<li><strong>Matching</strong> refers to whether two or more properties match (or two or more tax lots). A match can only happen if specific fields between records match. Records can be compared within the same cycle (triggering a merge) or across cycles (building a link). The specific fields can be modified for each organization.</li>

								<li><strong>Pairing</strong> refers to the association between properties and tax lots within the same cycle.</li>

								<li><strong>Linking</strong> refers to the association between properties across cycles (or tax lots across cycles) and is useful for analysis.</li>
							</ul>

							<p>For more details, refer to this <a href="https://github.com/SEED-platform/seed/blob/develop/docs/source/matching.rst" target="_blank" class="color-2">documentation that covers matching, merging, and linking</a>.</p>
						
							<h5 class="my-4">The linking feature is new - can I get more details on how it works?</h5>

							<p>Cross-cycle linking, or simply <strong>linking</strong>, allows organizations to analyze uploads of the same property (or tax lot) over time. This is done by matching records in one cycle with records within other cycles. SEED builds these associations automatically during import using matching criteria as specified by the organization. Additionally, this association can be made during a manual edit to record values (especially if the changed value is a matching criteria field).</p>

							<p>For even more details on matching and linking, refer to this <a href="https://github.com/SEED-platform/seed/blob/develop/docs/source/matching.rst#linking-across-cycles" target="_blank" class="color-2">section of the matching, merging, and linking documentation</a>.</p>

							<h5 class="my-4">How does linking interact with paired properties and tax lots?</h5>
							<p>At the moment, paired property and tax lot relationships are displayed and managed separately from linked relationships. That is, paired records are viewed and managed in a separate area of SEED as linked records.</p>
			      </div>
			    </div>
    		</div>
    		<div class="card">
			    <div class="card-header col-type-2" id="headingr3">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link2 collapsed" data-toggle="collapse" data-target="#collapser3" aria-expanded="true" aria-controls="collapser3">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Features - Miscellaneous</button>
			      </h5>
			    </div>

			    <div id="collapser3" class="collapse" aria-labelledby="headingr3" data-parent="#accordion2">
			      <div class="card-body">
			      	<h5 class="mb-4">How can I get general information about the capabilities, features, and active development of SEED?</h5>
							
							<ul>
								<li>For a list of new features and fixed capabilities, visit the <a href="https://github.com/SEED-platform/seed/releases" target="_blank" class="color-2">SEED Platform GitHub Releases</a> page.</li>

								<li>Consult the <a href="https://seed-platform.org/references/" target="_blank" class="color-2">Reference Page</a> for publications related to SEED. Additionally, this paper describes the BuildingSync® format which can be used to import data into the SEED Platform:

								<div class="pl-5">DeGraw, Jason, Kristin Field-Macumber, Nicholas Long, and Supriya Goel. 2018. <a href="https://buildingsync.net/documents/DeGraw-ACEEE-BuildingSync-in-Action.pdf" target="_blank" class="color-2">“BuildingSync® in Action : Example Implementations.”</a> In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12. Pacific Grove, CA.</div>
								</li>
								<li>Here are some related projects that are using SEED:
									<ul>
										<li><a href="http://psdconsulting.com/openefficiency-platform/" target="_blank" class="color-2">The OpenEfficiency Platform (OEP) Project</a></li>
										<li><a href="https://aceee.org/files/proceedings/2018/#/paper/event-data/p110" target="_blank" class="color-2">The BayREN Integrated Commercial Retrofits (BRICR) Project</a> and <a href="https://www.energy.gov/sites/prod/files/2018/05/f52/24293_Hooper_050318-900.pdf" target="_blank" class="color-2">BRICR Presentation</a></li>
										<li><a href="https://www.energy.gov/eere/buildings/energy-data-vault" target="_blank" class="color-2">The Energy Data Vault (EDV) Project</a></li>
									</ul>
								</li>
							</ul>
							<h5 class="mt-4 mb-4">Do you anticipate any SEED issues if there are irregular data updates for each building? For example, with a point-of-sale benchmarking program, building data would only be updated when a property is sold.</h5>

							<p>There should not be any issues importing data at non-regular times; users frequently do so with ENERGY STAR Portfolio Manager data.</p>
																	
			      </div>
			    </div>
    		</div>
    		<div class="card">
			    <div class="card-header col-type-2" id="headingr5">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link2 collapsed" data-toggle="collapse" data-target="#collapser5" aria-expanded="true" aria-controls="collapser5">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Hosting</button>
			      </h5>
			    </div>

			    <div id="collapser5" class="collapse" aria-labelledby="headingr5" data-parent="#accordion2">
			      <div class="card-body">
			      	<h5 class="mb-4">Can the web interface of a self-hosted SEED instance be accessed via a local network, or is internet access required? Can access via local internet be disabled?</h5>
							
							<p>Access via public internet would be a function of the self-hosted instance's network configuration. If SEED is hosted on Amazon Web Services, for example, the host can deny access based on CIDR blocks (IP address ranges) in the Amazon Web Services Console. If the application is hosted on user-owned infrastructure, a local firewall can prevent external access. Note that internal access in both cases would still be available (i.e., the web interface would be accessible).</p>

							<h5 class="mb-4">What is the estimated cost to implement and maintain the SEED Platform as part of a benchmarking system?</h5>

							<p>There are three hosting options:</p>
							<ol>
								<li>Self-hosting on user-owned hardware</li>	
								<li>Self-hosting on the cloud (e.g. Amazon, Google Compute)</li>
								<li>Paying a hosting provider. Several companies offer SEED as a hosted solution:
									<ul>
										<li><a href="https://www.clearlyenergy.com/" target="blank" class="color-2">ClearlyEnergy</a></li>
										<li><a href="https://www.earthadvantage.org/creating-change/home-energy-score.html" target="blank" class="color-2">Earth Advantage</a></li>
										<li><a href="https://opentech.eco/" target="blank" class="color-2">Open</a></li>
										<li><a href="http://psdconsulting.com/" target="blank" class="color-2">PSD Consulting</a>.</li>
									</ul>
									See the Technical Allies section for more information.
								</li>
							</ol>
							<p>Options (1) and (2) are highly dependent on internal expertise and potential requirements related to sharing outside of a user's organization. Generally, cloud hosting simplifies management of networks, hardware, firewalls, and backups. An example SEED instance hosted in the cloud with staging and production environments costs approximately $1,000 to $1,500 per month for a large instance capable of processing records for an entire region.</p>
																	
			      </div>
			    </div>
    		</div>
    		<div class="card">
			    <div class="card-header col-type-2" id="headingr6">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link2 collapsed" data-toggle="collapse" data-target="#collapser6" aria-expanded="true" aria-controls="collapser6">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Industry Involvement</button>
			      </h5>
			    </div>

			    <div id="collapser6" class="collapse" aria-labelledby="headingr6" data-parent="#accordion2">
			      <div class="card-body">
			      	<h5 class="mb-4">Are there any organizations that are developing free and open-source plug-ins for SEED?</h5>
							
							<p>You can find more information about organizations contributing to SEED Platform development below:</p>
							<ul>
								<li><a href="https://www.energy.gov/eere/buildings/seed-platform-collaborative" target="_blank" class="color-2">SEED Platform Collaborative</a></li>
								<li><a href="https://github.com/SEED-platform/seed/blob/develop/AUTHORS.md" target="_blank" class="color-2">SEED Platform Contributing Developers</a></li>
								<li><a href="#heading6" target="_self" class="color-2">SEED Technical Allies</a></li>
								<li><a href="https://github.com/OpenEfficiencyPlatform/OEP" target="_blank" class="color-2">Open Efficiency Platform</a></li>
								<li><a href="https://www.energy.gov/sites/prod/files/2018/05/f52/24293_Hooper_050318-900.pdf" target="_blank" class="color-2">BayREN Integrated Commercial Retrofits (BRICR)</a></li>
								<li><a href="https://www.energy.gov/eere/buildings/energy-data-vault" target="_blank" class="color-2">Energy Data Vault (EDV)</a></li>
							</ul>

							<h5 class="mb-4">Do any applications use SEED to store and analyze building construction permit applications for energy code compliance?</h5>

							<p>We are not aware of any applications which use SEED to do this, although SEED could be linked to another tool, like SalesForce. We recommend contacting Earth Advantage and Clearly Energy for more details (see the technical allies page).</p>
																	
			      </div>
			    </div>
    		</div>
    		<div class="card">
			    <div class="card-header col-type-2" id="headingr7">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link2 collapsed" data-toggle="collapse" data-target="#collapser7" aria-expanded="true" aria-controls="collapser7">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Security</button>
			      </h5>
			    </div>

			    <div id="collapser7" class="collapse" aria-labelledby="headingr7" data-parent="#accordion2">
			      <div class="card-body">
			      	<h5 class="mb-4">Can you suggest any encryption solutions, since the SEED software does not encrypt its database?</h5>
							
							<p>We recommend hard drive encryption of the database server as the easiest solution; encrypting locally is more complicated but certainly doable.</p>

							<h5 class="mb-4">How does SEED secure internet data communications?</h5>

							<p>Secure sockets layer (SSL) protocols must be configured on the hosted instance. This requires purchasing and adding certificates to the deployed server, or using a third-party service (e.g. CloudFlare or Cloudfront) to manage the domain name system (DNS) and the SSL certificates.</p>			
			      </div>
			    </div>
    		</div>
    	</div>
		</div>	
		<div class="mt-4" ng-if="subNav === 'help'">
			<h3 class="mb-4">Get Help</h3>

			<p>We typically provide technical support as needed and within reason. As the community grows, there are more users able to provide support. It is recommended to use <a href="https://github.com/SEED-platform/seed/issues" target="_blank" class="color-2">GitHub issues</a> to a) view existing feature requests and issues, and b) communicate with various developers.</p>

			<p>Visit the Data Tools Help Desk for additional help getting started with or using the SEED Platform.</p>
		</div>						
	</div>
</div>
<div class="mt-5" ng-include="'views/includes/footer.html'"></div>