<div id="tool-nav">
	<ul class="nav flex-column">
	  <li class="nav-item">
	    <a class="nav-link" ng-href="#!/{{baseURL}}/" ng-click="setActive('home')" ng-class="{ active{{navNum}}: subnavIsActive('home')}"><span class="mx-3 align-center"><i class="fas fa-info-circle fa-2x"></i></span><span class="align-center">{{toolName}}</span></a>
	  </li>
	  <div ng-if="navNum === 3">
		  <li class="nav-item">
		  	<a class="nav-link" ng-href="#!/{{baseURL}}/goals" ng-click="setActive('goals')" ng-class="{ active{{navNum}}:subnavIsActive('goals')}"><span class="mx-3 align-center"><i class="fas fa-bullseye fa-2x"></i></span><span class="align-center">Goals & Outcomes</span></a>
		  </li>
	  </div>
	  <li class="nav-item">
	    <a class="nav-link" ng-href="#!/{{baseURL}}/resources" ng-click="setActive('resources')" ng-class="{ active{{navNum}}: subnavIsActive('resources')}"><span class="ml-3 mr-4 align-center"><i class="fas fa-file-alt fa-2x"></i></span><span class="align-center">Resources</span></a>
	  </li>
	  <div ng-if="toolName === 'SEED'">
  	<li class="nav-item">
		  	<a class="nav-link" href="#!/{{baseURL}}/allies" ng-click="setActive('allies')" ng-class="{ active{{navNum}}: subnavIsActive('allies')}"><span class="ml-2 mr-3 align-center"><i class="fas fa-hands-helping fa-2x"></i></span><span class="align-center">Technical Allies</span></a>
		  </li>
	  </div>
	  <div ng-if="toolName === 'BuildingSync'">
  	<li class="nav-item">
		  	<a class="nav-link" href="#!/{{baseURL}}/collaborators" ng-click="setActive('collaborators')" ng-class="{ active{{navNum}}: subnavIsActive('collaborators')}"><span class="ml-2 mr-3 align-center"><i class="fas fa-hands-helping fa-2x"></i></span><span class="align-center">Collaborators & Adopters</span></a>
		  </li>
	  </div>
	  <div ng-if="toolName === 'BETTER'">
		  <li class="nav-item">
		    <a class="nav-link" ng-href="#!/{{baseURL}}/news" ng-click="setActive('news')" ng-class="{ active{{navNum}}: subnavIsActive('news')}"><span class="mx-3 align-center"><i class="far fa-newspaper fa-2x"></i></span><span class="align-center">News</span></a>
		  </li>
		</div>
	  <div ng-if="toolName === 'SEED' || toolName === 'BuildingSync' || toolName === 'Asset Score' || toolName === 'ComStock & ResStock' || toolName === 'BETTER'">
	  <li class="nav-item">
	    <a class="nav-link" ng-href="#!/{{baseURL}}/dev" ng-click="setActive('dev')" ng-class="{ active{{navNum}}: subnavIsActive('dev')}"><span class="mx-3 align-center"><i class="fas fa-wrench fa-2x"></i></span><span class="align-center">Links for Developers</span></a>
	  </li>
	  </div>
	  <div ng-if="toolName === 'BuildingSync' || toolName === 'SEED'">
	  	<li class="nav-item">
	  		<a class="nav-link" ng-href="#!/{{baseURL}}/faq" ng-click="setActive('faq')" ng-class="{ active{{navNum}}: subnavIsActive('faq')}"><span class="mx-3 align-center"><i class="fas fa-question-circle fa-2x"></i></span><span class="align-center">FAQ</span></a>
	  	</li>
	  </div>
	   <li class="nav-item">
	    <a class="nav-link" ng-href="#!/{{baseURL}}/help" ng-click="setActive('help')" ng-class="{ active{{navNum}}: subnavIsActive('help')}"><span class="mx-3 align-center"><i class="fas fa-comments fa-2x"></i></span><span class="align-center">Get Help</span></a>
	  </li>
	</ul>
</div>