<div ng-include="'views/includes/topnav.html'"></div>

<div class="row pt-3">

	<div class="col-3 v-divider">
		<div class="mb-4"><img src="../../images/ubid-logo.png" alt="UBID logo" width="100%"></div>
		<div ng-include="'views/tools/tool-nav.html'"></div>
	</div>
	<div class="col tool-main">
		<div ng-if="subNav === 'home'">
			<div class="row">
				<div class="col">
					<p>The Unique Building ID (UBID) is a unique identification system for buildings and other objects that offers a standardized framework under which a unifying field is used to match building data from across various sources to a single object. It facilitates data management and sharing by reducing the risk of mismatching or duplicating data, and it eases the burden of data exchange.</p>

					<p>UBIDs are a solution to the problem of consistently identifying buildings or other spatial objects within and across datasets. The UBID generation tool is a computer program that creates unique record numbers based on the two-dimensional spaces on a map occupied by building footprints, tax lots, or other datapoints of interest. Assigning IDs to the space an object occupies yields a more effective, consistent, and reliable identifier than building addresses, parcel numbers, or in-house serial numbers. Governments that implement UBIDs can streamline systems that track changes to building ownership, tax permit status, or other data across departments – cutting administrative overhead and gaining powerful capabilities. </p>

					<p>In the context of a BEPS program, for example, a building and its annual benchmarking data can be consistently linked across many years, even if it were to change owners, ENERGY STAR Portfolio Manager ID numbers, or other attributes. </p>

				</div>
				<div class="col">
					<p>Why UBIDs? For data to be useful, its associated objects must be identified consistently. Unfortunately, building-related datasets are notoriously inconsistent; the same structure might appear as “123 First Street” in one database, “123 1st St.” in another, and “118 1st St.” (a data entry error) in a third. While a human in the loop can easily see that the first two addresses refer to the same building, a computer would struggle to do so. Why does it matter if the same object has different names? Suppose the three databases above hold different information about the building at 123 First Street. Because each one calls it something else (one of the three street addresses), the user may never recognize that each database has relevant information about the same building! “Siloed” datasets like this are less valuable and more difficult to maintain than connected datasets.</p>

					<h5 class="color-5">Getting Started</h5>
					<p>We invite you to learn more about how the UBID can help your organization implement or improve its building energy programs or make your building datasets more meaningful, actionable and sharable. Take a look at the UBID Public Sector Implementation Guide, review the other resources on this page, and let us know how we can help at [Groups.io and/or BuildingID@pnnl.gov].</p>
				</div>
			</div>
		</div>		
		<div class="mt-4" ng-if="subNav === 'resources'">
			<h3 class="mb-4">Resources</h3>
			<p>The following documents are available to help you understand and use the Unique Building ID:</p>

			<div id="accordion">
			  <div class="card">
			    <div class="card-header" id="heading1">
			      <h5 class="mb-0">
			        <button class="btn btn-link panel-header-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>General Resources
			        </button>
			      </h5>
			    </div>

			    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
			      <div class="card-body">
			      	<ul>
			      		<li><a href="https://github.com/pnnl/buildingid">UBID GitHub Repository</a></li>
								<li><a href="http://ubid.pnnl.gov/">UBID Automated Demonstration Site</a></li>
								<li><a href="https://buildingid.github.io/">UBID Apps and Examples</a></li>
								<li><a href="https://betterbuildingsinitiative.energy.gov/accelerators/building-energy-data-analysis">Building Energy Data Analysis Accelerator</a></li>
								<li><a href="https://buildingid.pnnl.gov/pdf/20191112-Energy_Benchmarking_with_UBIDs-Draft.pdf">Energy Benchmarking with UBIDs Guide</a></li>
								<li><a href="https://buildingid.pnnl.gov/pdf/20190410-Integration_of_UBID_with_Portfolio_Manager.pdf">Integration of UBID with Portfolio Manager</a></li>
								<li><a href="">UBID Public Sector Implementation Guide & Technical Resources Directory [link forthcoming]</a></li>
								<li><a href="https://betterbuildingssolutioncenter.energy.gov/sites/default/files/attachments/UBID D.C. Case Study BEDA.pdf">UBID Case Study: The District of Columbia</a></li>
								<li><a href="https://www.sciencedirect.com/science/article/abs/pii/S0378778818311526?via%3Dihub">“Unique Building Identifier: A natural key for building data matching and its energy applications”</a></li>
			      	</ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="heading2">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed panel-header-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
			          <i class="fa px-3 chevron" aria-hidden="true"></i>Technical Resource Directory
			        </button>
			      </h5>
			    </div>

			    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
			      <div class="card-body">
			      	<ul>
			      		<li><a href="https://buildingid.pnnl.gov/">Original UBID Demonstrator Website</a><br/>
			      		A web application with map-based UBID assignment and data visualization capabilities. It provides open access to UBID-assigned datasets for 4 major U.S. cities: Chicago, New York City, San Francisco, and Washington, D.C. (Map component and aerial photography provided by Microsoft Bing Maps API.)
								</li>
								<li><a href="https://buildingid.github.io/">New UBID Demonstrator Website</a><br/>
									A suite of UBID-related web applications with open source code that is designed to be copied, pasted, and extended by third parties; including, but not limited to:
									<ul><li><strong>Drawing Tools.</strong> Draw an area on the map. Edit and erase the existing shape. Import UBID strings and Well-Known Text strings.</li>
									<li><strong>Decode Example.</strong> Decode a UBID code string, then view the shape on a map. View minimum and maximum coordinates for UBID code area.</li>
									<li><strong>Encode Example.</strong> Encode minimum and maximum coordinates as a UBID code string, then decode and view the shape on the map.</li>
									<li><strong>Well Known Text Read Example.</strong> Decode a Well Known Text string, encode a UBID code string, then view the shape on the map.</li>
									</ul>
								</li>
								<li><a href="https://github.com/buildingid/buildingid.github.io">UBID Demonstrator Source Code</a>
									<br/>HTML, CSS and JavaScript source code for the new UBID demonstrator website.
								</li>
								<li><a href="https://github.com/pnnl/buildingid#ubid-documentation">UBID Documentation</a><br/>
									Documentation, including, but not limited to:
									<ul>
										<li><strong>UBID specification document</strong></li>
										<li><strong>UBID visualization guide</strong></li>
										<li><strong>UBID data flow guide</strong><br/>
											Overview of information flow in software systems that use UBID. Describes minimum data requirements for UBID assignment and how to convert between UBID and other data types. Uses the UBID demonstrator website to provide interactive examples. </li>
										<li><strong>FAQ</strong><br/>
											Technical reference material with in-depth discussion of UBID design   rationale and implementation details.
										</li>	
									</ul>
								</li>
								<li><a href="https://github.com/pnnl/buildingid-api-docs">“Open Spaces” API Description Document</a><br/>An OpenAPI/Swagger description document for a working draft of the “Open Spaces” API, a vendor-neutral specification for exchanging descriptions of spatially extended entities. 
								</li>
								<li><a href="https://github.com/pnnl/buildingid-csharp">UBID C-sharp API</a><br/>An API that provides implementations of UBID encoding, decoding and validation algorithms for Microsoft C-sharp .NET programming language.
								</li>
								<li><a href="https://github.com/pnnl/buildingid-js">UBID JavaScript API</a><br/>An API that provides implementations of UBID encoding, decoding and validation algorithms for JavaScript programming languages.</li>
								<li><a href="https://github.com/pnnl/buildingid-py">UBID Python API & CLI</a><br/>An API that provides implementations of UBID encoding, decoding, and validation algorithms, and CLI that performs UBID assignment for tabular data files and that performs UBID cross-reference for tabular data files by constructing quadtree indices.</li>
								<li><a href="https://github.com/pnnl/buildingid-rb">UBID Ruby API</a><br/>An API that provides implementations of UBID encoding, decoding, and validation algorithms for Ruby programming language.</li>
			      	</ul>
			      </div>
			    </div>
			  </div>
			</div>
		</div>	
		<div class="mt-4" ng-if="subNav === 'news'">
			<h3 class="mb-4">News</h3>
			<div markdown-it ng-include="'views/tools/markdown/ubid/news.md'"></div>
		</div>
<!-- 		<div class="mt-4" ng-if="subNav === 'dev'">
			<h3 class="mb-4">Links for Developers</h3>
		</div> -->
		<div class="mt-4" ng-if="subNav === 'help'">
			<h3 class="mb-4">Get Help</h3>
			<p>Visit the Data Tools Help Desk for help getting started with or using the UBID. </p>
		</div>						
	</div>
</div>
<div class="mt-5" ng-include="'views/includes/footer.html'"></div>