<h2 class="mat-h2 mb-4">Contribute Your Data</h2>

<p>BPD aims to be a seminal resource that informs and supports decision-making and investment across the energy efficiency landscape. But the value of the BPD depends on the quantity and depth of data it contains. More data will enable analysis of more retrofit measures, building types and locations, expand the uses and applications, and continue to increase the value and quality of the BPD.</p>

<p>We are continually looking for data contributions, and new datasets are being added regularly. To date, we have received data contributions from dozens of exemplary industry leaders including Federal agencies, state and local governments, energy efficiency programs, real estate owners and private businesses.</p>

<p>If you are interested in contributing data, please contact BTODataTools@ee.doe.gov.</p>

<p>Unless otherwise stated, all data provided to the BPD is treated as business confidential and anonymized per the <a href="https://buildings.lbl.gov/sites/default/files/bpd-privacy-terms.pdf">BPD privacy terms</a>.</p>
