<div class="row footer">
	<p class="medium footer">Driving Building Energy Performance with Data was developed to showcase tools and methods developed by Lawrence Berkeley National Laboratory, National Renewable Energy Laboratory, and Pacific Northwest National Laboratory with support from the U.S. Department of Energy's Building Technologies Office.
	<div class="col white-border">
		<div class="min-height mx-auto pt-4"><img src="images/doe_eere_logo_footer.svg" alt="DOE EERE logo" class="pb-3"></div>
		<div class="center"><p class="smaller">U.S. Department of Energy's Office of Energy Efficiency and Renewable Energy text here.</p></div>
	</div>
	<div class="col white-border">
		<div class="smaller-img min-height mx-auto"><img src="images/berkley_lab_logo_footer.svg" alt="LBNL logo" class="pb-3"></div>
		<div class="center"><p class="smaller">Lawrence Berkeley National Laboratory text here</p></div>
	</div>
	<div class="col white-border">
		<div class="smaller-img min-height mx-auto pt-4"><img src="images/nrel_logo_footer.svg" alt="NREL logo" class="pb-3"></div>
		<div class="center"><p class="smaller">NREL is a national laboratory of the U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, operated by the Alliance for Sustainable Energy, LLC.</p></div>
	</div>
	<div class="col">
		<div class="smaller-img min-height mx-auto"><img src="images/pnnl_logo_footer.svg" alt="PNNL logo" class="pb-3"></div>
		<div class="center"><p class="smaller">Pacific Northwest National Laboratory text here</p></div>
	</div>

</div>
<div class="row footer-dark">
	<div class="px-3">
		Contact us for more information on data tools at email@datatools.com
	</div>
</div>
