<div ng-controller="ViewsCtrl" class="gray-background">
	<div class="row no-gutters" >
		<div class="hamburger">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#submenu" aria-controls="submenu" aria-expanded="false" aria-label="Toggle navigation">
		      <span><i class="fa fa-bars dark-gray"></i></span>
		    </button>
		</div>
	    <div class="col">
	    	<div class="col-title pt-1"><a href="#!/collection-reporting" class="reg-nav col-line-1" ng-class="{ active: isActive('/collection-reporting')}">Data Collection & Reporting</a></div>
	    </div>
	    <div class="col">
	    	<div class="col-title pt-1"><a href="#!/management-compliance" class="reg-nav col-line-2" ng-class="{ active: isActive('/management-compliance')}">Management & Compliance</a></div>
		</div>
		<div class="col">
			<div class="col-title pt-1"><a href="#!/analysis-evaluation" class="reg-nav col-line-3" ng-class="{ active: isActive('/analysis-evaluation')}">Analysis & Evaluation</a></div>
		</div>
		<div class="col">
			<div class="col-title pt-1"><a href="#!/goals-outcomes" class="reg-nav col-line-4" ng-class="{ active: isActive('/goals-outcomes')}">Goals & Outcomes</a></div>
		</div>
		<div class="col">
			<div class="col-title pt-1"><a href="#!/developers" class="reg-nav col-line-5" ng-class="{ active: isActive('/developers')}">For Developers</a></div>
		</div>
	</div>
	<div class="row no-gutters collapse" id="submenu">
		<div class="hamburger"></div>
		<div class="col">
			<nav class="nav flex-column">
			  <a class="nav-link col-line-1-sm" href="https://www.energystar.gov/buildings/facility-owners-and-managers/existing-buildings/use-portfolio-manager" target="_blank">ENERGY STAR Portfolio Manager <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a>
			  <a class="nav-link col-line-1-sm" href="#!/audit-template">Building Energy Audit Template</a>
			</nav>
		</div>
		<div class="col">
			<nav class="nav flex-column">
			  <a class="nav-link col-line-2-sm" href="#!/seed">SEED Platform</a>
			</nav>
		</div>
		<div class="col">
			<nav class="nav flex-column">
			  <a class="nav-link col-line-3-sm" href="#!/comstock-resstock">ComStock & ResStock</a>
			  <a class="nav-link col-line-3-sm" href="#!/better">BETTER</a>
			  <a class="nav-link col-line-3-sm" href="#!/asset-score">Building Energy Asset Score</a>
			</nav>
		</div>
		<div class="col">
		</div>
		<div class="col">
			<nav class="nav flex-column">
			  <a class="nav-link col-line-5-sm" href="#!/buildingsync">BuildingSync</a>
			  <a class="nav-link col-line-5-sm" href="#!/third-party">3rd Party Tools</a>
			</nav>
		</div>
	</div>
</div>