<h2 class="mat-h2 mb-4">Goals & Outcomes</h2>
<p>Identify measures and suggest areas for deeper evaluations. </p>
<p>BETTER provides analyses at the individual building and portfolio levels. BETTER’s Individual Building Report shows:</p>
  <ul>
    <li>Annual energy, cost, and GHG emission reduction potential for the building</li>
    <li>The building’s cost and savings breakdown</li>
    <li>The original and potential reduced energy use trends</li>
    <li>The change-point model and coefficients benchmarking details</li> 
    <li>The energy efficiency recommendation details for the building</li>
  </ul>

<p>BETTER’s Portfolio Summary Report shows:</p>
  <ul>
    <li>Annual energy, cost, and GHG emission reduction potential for the portfolio</li>
    <li>Top five energy efficiency improvement measures for the portfolio</li>
    <li>An interactive energy use intensity (EUI) and cost savings potential comparison chart</li>
    <li>A sortable table with energy use and savings potentials for each building, to allow ranking and investment prioritization across the portfolio.</li>
  </ul>

