/* app css stylesheet */

body {
	font-family: 'Roboto', sans-serif;
  color: #5B5B5B;
}

@media (min-width: 1200px) { 
  .main-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 1800px) {
  .main-container {
    padding-left:15%;
    padding-right:15%;
  }
}

/* main title */
.title {
	padding: 3px 10px;
	color: #5B5B5B;
	font-size: 1.8em;
	font-weight: 300;
	text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.dark-gray {
  color: #5B5B5B;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.gray-background {
  background-color: #F7F7F7;
}

.title:hover {
  text-decoration: none;
  color: #5B5B5B;
}

.hamburger {
  min-width: 40px;
}

/* column and button special styles */
.z-3 {
  z-index: 10;
}

.home-nav {
	color: white;
  text-decoration: none;

}
.home-nav:hover {
	color: #EEE;
	text-decoration: none;
}
.dev-nav {
  color: black;
  text-decoration: none;
}

.dev-nav:hover {
  color: #eee;
  text-decoration: none;
}

.reg-nav {
	color: black;
	font-size: 14px;
	font-weight: normal;
	padding-top:5px;
  text-decoration: none;
}

.reg-nav.active {
	border-top-width: 10px !important;
}

.active {
	border-top-width: 10px !important;
}

.reg-nav:hover {
	color: #333;
	text-decoration: none;
}

.nav-link {
	color: black;
	font-size:11px;
}

.nav-link:hover {
	color: #333;
	text-decoration: none;
}

.col-pad {
	padding-bottom:20px;
}
.col-type-1 {
  background-color: #3B88AF;
}

.btn-type-1 {
	background-color: #3B88AF;
/*	text-transform: uppercase;*/
	font-weight:normal;
	color: #fff;
}

.big-line {
	border-top-width: 10px !important;
}

.col-line-1 {
  border-top: 4px solid #3B88AF;
  width:80%;
  margin: auto;
}

.bigger-text {
  font-size: 1.2em;
}

a {
  color: #3B88AF;
}

.color-1 {
  color: #3B88AF;
}

.color-2 {
  color: #024880;
}

.color-3 {
  color: #478662;
}

.color-4 {
  color: #094F58;
}

.color-5 {
  color: #F5AF13;
}

.col-line-1-sm {
	border-top: 2px solid #3B88AF;
  width:80%;
  margin: auto;
}

.col-type-2 {
	background-color: #024880;
}

.col-line-2 {
  border-top: 4px solid #024880;
  width:80%;
  margin: auto;
}

.col-line-2-sm {
  border-top: 2px solid #024880;
  width:80%;
  margin: auto;
}

.btn-type-2 {
	background-color: #024880;
/*	text-transform: uppercase;*/
	color: #fff;
}

.col-type-3 {
	background-color: #478662;
}

.col-line-3 {
  border-top: 4px solid #478662;
  width:80%;
  margin: auto;
}

.col-line-3-sm {
  border-top: 2px solid #478662;
  width:80%;
  margin: auto;
}

.btn-type-3 {
	background-color: #478662;
/*	text-transform: uppercase;*/
	color: #fff;
}

.col-type-4 {
	background-color: #094F58;
}

.col-line-4 {
  border-top: 4px solid #094F58;
  width:80%;
  margin: auto;
}

.col-line-4-sm{
  border-top: 2px solid #094F58;
  width:80%;
  margin: auto;
}

.btn-type-4 {
	background-color: #094F58;
/*	text-transform: uppercase;*/
	color: #fff;
}

.col-type-5 {
  background-color: #F5AF13;
}

.col-line-5 {
  border-top: 4px solid #F5AF13;
  width:80%;
  margin: auto;
}

.col-line-5-sm {
  border-top: 2px solid #F5AF13;
  width:80%;
  margin: auto;
}

.btn-type-5 {
	background-color: #F5AF13;
/*	text-transform: uppercase;*/
	color: #fff;
}

.btn-type-1:hover, .btn-type-2:hover, .btn-type-3:hover, .btn-type-4:hover, .btn-type-5:hover {
  color: #fff;
}

.col-line-white {
  border-top: 4px solid #Fff;
}


.col-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.card {
  z-index: 2;
}

.card-img {
	width:100%;
}

.card-img-sm {
  width:80%;
  padding-left:15%;
}

.v-divider {
  border-right: 2px solid #ccc;
}

.h-divider {
  margin-top:30px;
  border-top: 2px solid #5B5B5B;
  padding-bottom: 20px;
}


.subpage-heading {
  color: #000;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.small-heading {
  color: #000;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size:16px;
  padding-bottom:20px;
}

p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #5B5B5B;
}

.center {
  text-align: center;
}

.bsync-img {
  width:100%;
}

.bsync1 {
  position: relative;
  top:-200px;
  left: 87%;
  width: 31%;
  border-radius: 20%;
  border: 4px solid #F5AF13;
  z-index: 3;
}

.bsync1-flip {
  position: relative;
  top:-200px;
  left: 70%;
  width: 60%;
  border: 4px solid #F5AF13;
  z-index: 6;
}

.yellow-bar {
  position: relative;
  top:-900px;
  left:-75.5%;
  height:300px;
  border-right: 4px solid #F5AF13;
  z-index: 2;
  margin-bottom:0;
}

.yellow-bar2 {
  position: relative;
  top:-1320px;
  left:-41.3%;
  min-height:420px;
  border-right: 4px solid #F5AF13;
  z-index: 2;
  margin-bottom:0;
}

.yellow-border {
  border: 4px solid #F5AF13;
}

.bsync2 {
  position: relative;
  top:-200px;
  left: 89%;
  width: 23%;
  border-radius: 20%;
  border: 4px solid #F5AF13;
  z-index: 3;
}

.bsync2-flip {
  position: relative;
  top:-200px;
  left: 89%;
  width: 45%;
  border: 4px solid #F5AF13;
  z-index: 3;
}

.card-width {
  width: 70%;
}

.card-width2 {
  width: 70%;
}

.card-width3 {
  width:90%;
}

.img-g1 {
  width:55%;
  padding-left:20px;
}

.img-g2 {
  width: 50%;

}

.img-g3 {
  width: 45%;
  padding-left: 30px;
}

.img-g4 {
  width: 50%;
  padding-left: 20px;
}

.card-zindex {
  z-index: 5;
}

.card-margin {
  margin-bottom: 2.5rem;
}

.big {
  font-size: 1.2em;
}
.bold {
  font-weight: bold;
  color: #2E2D2D;
}

.bold-link {
  font-weight: bold;
}

a.bold-link:hover {
  text-decoration: none;
  color: inherit;
}

.footer {
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
  padding: 10px 20px;
}

p {
  font-family: 'Roboto', sans-serif;
}

p.footer {
  font-family: 'Roboto', sans-serif;
  color: #0A3446;
  font-size: 0.9em;
}

p.smaller {
  font-size: 0.8em;
}

p.medium {
  font-weight: 600;
}

.footer-dark {
  background-color: #6F8591;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0px 10px;
  font-size: 0.9em;
}

.white-border {
  border-right: 3px solid #fff;
}

#tool-nav a.active5 {
  background-color: #F5AF13;
  color: white;
}

#tool-nav a.active4 {
  background-color: #094F58;
  color: white;
}

#tool-nav a.active3 {
  background-color: #478662;
  color: white;
}

#tool-nav a.active2 {
  background-color: #024880;
  color: white;
}

#tool-nav a.active1 {
  background-color: #3B88AF;
  color: white;
}

#tool-nav .nav-link {
  font-size: 14px;
  color: #5B5B5B;
}

#arrow {
    stroke: #ffffff;
    fill: #ffffff;
}
#svg-canvas {
  z-index: 0;
  pointer-events: none;
}

.tool-main {
  padding-left: 50px;
  padding-top: 20px;
}

[data-toggle="collapse"] i.chevron:before{
    content: "\f078";
}

[data-toggle="collapse"].collapsed i.chevron:before{
    content: "\f054";
}

.image {
  border-radius: 3px;
  border: 0;
  display: inline-block;
  position: relative;
}

.icon-size {
  font-size: 1.4rem;
}

.align-center {
  vertical-align: middle;
}

.table-width {
  width:80%;
}

h5, h6 {
  font-weight: bold;
}

.accordion2 {
  overflow-anchor: none;
}

.accordion2 > .card {
  overflow: hidden;
}

.accordion2 > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion2 > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#accordion2 > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}

.panel-header-link2 {
  color: #fff;
  font-size: 1em;
}

.panel-header-link2:active {
  text-decoration: none;
  box-shadow: none;
  color: #fff;
}

.panel-header-link2:hover {

  text-decoration: none;
  box-shadow: none;
  color: #fff;
}

.panel-header-link2:focus, .panel-header-link2.focus {
  text-decoration: none;
  box-shadow: none;
  color: #fff;
}

.smaller-text {
  font-size: 0.9em;
  text-align: left;
}

.panel-header-link {
  color: #5B5B5B;
  font-size: 1.2em;
}

.panel-header-link:active {
  text-decoration: none;
  box-shadow: none;
  color: #5B5B5B;
}

.panel-header-link:hover {

  text-decoration: none;
  box-shadow: none;
  color: #5B5B5B;
}

.panel-header-link:focus, .panel-header-link.focus {
  text-decoration: none;
  box-shadow: none;
  color: #5B5B5B;
}

.smaller-img {
  width: 60%;
}

.min-height {
  min-height:130px;
}