<p>The Building Efficiency Targeting Tool for Energy Retrofits (BETTER) identifies cost-saving energy and emissions reductions in buildings and portfolios, without site visits or complex modeling. Use it to identify immediate cost-saving operational and technological improvements and target buildings and systems for more in-depth audits and analysis.</p>
<div class="callout">
  <div class="btn-type-3 p-3">
    <p>"The ability of the tool to go beyond benchmarking by offering energy efficiency measure recommendations is extremely valuable, particularly at times when on-site assessments are either impractical or not feasible."</p>
    <p class="pl-5">— Eric Noller, Principal at Energy Resources Integration, LLC</p>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="90">
    <p class="bold">With BETTER, you can easily:</p>
    <ul>
      <li>Quantify actual operational energy, cost, and emissions reduction potential at the building and portfolio levels.</li>
      <li>Identify efficiency measures (technical and behavioral) to immediately improve operational energy performance at the building and portfolio levels.</li>
      <li>Compare and rank buildings across a portfolio according to annual electricity and fossil energy use intensity (EUI) and annual cost savings potential.</li>
      <li>Target buildings with high cost-savings potential for audits or further analysis.</li>
      <li>Identify buildings with high fossil EUI for electrification and decarbonization.</li>
      <li>Assess the breakdown of annual utility costs and potential savings by load type (e.g., cooling, baseload, and heating) at the building level.</li>
      <li>Investigate electricity and fossil fuel change-point models.</li>
      <li>See how model coefficients benchmark against peers and which systems and equipment in a building may be underperforming.</li>
      <li>Export data to the <a routerLink="/seed" class="color-3">SEED Platform</a> database or other audit tools.</li>
      <li>Share data with other people and systems in CSV, PDF, or <a routerLink="/building-sync" class="color-3">BuildingSync XML</a> formats.</li>
      <li>Incorporate BETTER's analytical capabilities into your own software platforms and tools.</li>
      <li>Leverage expert support from DOE and Lawrence Berkeley National Laboratory.</li>
    </ul>
  </div>
  <!--<div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
    <img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
  </div>-->
</div>
<p>Best of all, BETTER only needs monthly energy consumption data to generate these insights.</p>
<p>Get started by visiting the <a href="https://better.lbl.gov/" class="color-3">BETTER web application</a>.</p>
<p>To learn more, view the <a href="https://youtu.be/-TkndH828mE" class="color-3">Introduction to BETTER</a> presentation, explore the additional resources on the <a href="https://better.lbl.gov/how_it_works/" class="color-3">How it Works</a> page, or contact BTODataTools@ee.doe.gov.</p>
  <!--<div fxLayout="row" fxLayoutAlign="center center" class="mb-4">
    <section fxFlex="40" fxLayoutGap="20px">
      <img src="assets/images/better-img.jpg" alt="BETTER R&D 100 Winner">
    </section>
    <section fxFlex="50" fxLayoutGap="20px">
      <p>The Building Efficiency Targeting Tool for Energy Retrofits (BETTER) is a free, award-winning web application available at <a href="https://better.lbl.gov/" class="color-3">https://better.lbl.gov/</a> that uses readily available building and monthly energy data to provide visibility into the operating energy performance of buildings and portfolios without site visits and complex modeling. The tool identifies immediate, cost-saving energy efficiency operational and technological measures and prioritizes further audits and studies.</p>
    </section>
  </div>

  <h3 class="mat-h3 color-3">Getting Started</h3>
  <p>To get started, visit <a href="https://better.lbl.gov/" class="color-3">https://better.lbl.gov/</a> or contact Lawrence Berkeley National Laboratory</p>
  <p>Carolyn Szum at <a href="mailto:ccszum@lbl.gov" class="color-3">ccszum@lbl.gov</a>.</p>-->
