
<div fxLayout="row" fxLayoutAlign="center center" class="mb-4">
  <section fxFlex="40" fxLayoutGap="20px">
    <img src="assets/images/better-img.jpg" alt="BETTER R&D 100 Winner" />
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>The Building Efficiency Targeting Tool for Energy Retrofits (BETTER) is a free, award-winning web application available at <a href="https://better.lbl.gov/" target="_blank" class="color-3">https://better.lbl.gov/</a> that uses readily available building and monthly energy data to provide visibility into the operating energy performance of buildings and portfolios without site visits and complex modeling. The tool identifies immediate, cost-saving energy efficiency operational and technological measures and prioritizes further audits and studies.</p>
  </section>
</div>

<h3 class="mat-h3 color-3">Getting Started</h3>
<p>To get started, visit <a href="https://better.lbl.gov/" target="_blank" class="color-3">https://better.lbl.gov/</a> or contact Lawrence Berkeley National Laboratory</p>
<p>Carolyn Szum at <a href="mailto:ccszum@lbl.gov" class="color-3">ccszum@lbl.gov</a>.</p>