<p>The Building Efficiency Targeting Tool for Energy Retrofits (BETTER) reveals the energy performance of buildings and building portfolios. Use it to identify cost-saving improvements and target individual buildings and building systems for audits.</p>
<div class="callout">
	<div class="btn-type-1 p-3 ">
		<p>"The ability of the tool to go beyond benchmarking by offering energy efficiency measure recommendations is extremely valuable, particularly at times when on-site assessments are either impractical or not feasible."</p>
		<p class="pl-5">— Eric Noller, Principal at Energy Resources Integration, LLC</p>
	</div>
</div>

<div fxLayout="row">
  <div fxFlex="60">
  	<p class="bold">With BETTER, you can easily:</p>
		<ul>
			<li>See upgrade recommendations (technical and behavioral) with potential savings at the building and portfolio levels.</li>
			<li>View potential energy, cost and GHG emission savings.</li>
			<li>Identify immediate steps building owners can take to improve performance.</li>
			<li>Compare a building's energy consumption to peers.</li>
			<li>See the cause of performance differences (for example, an underperforming heating system).</li>
			<li>Export data to the SEED Platform database or other audit tools.</li>
			<li>Share data with other people and systems in CSV, PDF, or BuildingSync XML formats.</li>
			<li>Incorporate BETTER’s analytical capabilities into your own software platforms and tools.</li>
		</ul>
	</div>
  <div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
		<img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
 	</div>
</div>
	<p>Best of all, BETTER only needs monthly energy consumption data to generate these insights.</p>
	<p>Get started by installing <a href="https://better.lbl.gov/how_it_works/" target="_blank" class="color-1"> BETTER</a>.
	<p>To learn more, view the <a href="https://youtu.be/-TkndH828mE" target="_blank" class="color-1">Introduction to BETTER</a> presentation, explore the additional resources on this page or contact BTODataTools@ee.doe.gov.

<!-- <div fxLayout="row" fxLayoutAlign="center center" class="mb-4">
  <section fxFlex="40" fxLayoutGap="20px">
    <img src="assets/images/better-img.jpg" alt="BETTER R&D 100 Winner" />
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>The Building Efficiency Targeting Tool for Energy Retrofits (BETTER) is a free, award-winning web application available at <a href="https://better.lbl.gov/" target="_blank" class="color-3">https://better.lbl.gov/</a> that uses readily available building and monthly energy data to provide visibility into the operating energy performance of buildings and portfolios without site visits and complex modeling. The tool identifies immediate, cost-saving energy efficiency operational and technological measures and prioritizes further audits and studies.</p>
  </section>
</div>

<h3 class="mat-h3 color-3">Getting Started</h3>
<p>To get started, visit <a href="https://better.lbl.gov/" target="_blank" class="color-3">https://better.lbl.gov/</a> or contact Lawrence Berkeley National Laboratory</p>
<p>Carolyn Szum at <a href="mailto:ccszum@lbl.gov" class="color-3">ccszum@lbl.gov</a>.</p> -->