<h2 class="mat-h2 mb-4">Links for Developers</h2>
<ul>
  <li><a class="color-2 bold-link" href="https://buildingsync.net/schema" target="_blank">BuildingSync Schema <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a class="color-2 bold-link" href="https://buildingsync.net/validator" target="_blank">Use Case Selection Tool <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a class="color-2 bold-link" href="https://buildingsync.net/tools" target="_blank">Schema Validation Tools <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
</ul>