<div ng-controller="HomeCtrl">
	<div class="row">
		<div class="col-3"><div class="col-line-1"></div><div class="col-line-white"></div></div>
		<div class="col-4"><div class="col-line-2"></div></div>
		<div class="col-3"><div class="col-line-3"></div></div>
		<div class="col-2"><div class="col-line-4"></div></div>
	</div>

	<div class="row">
		<div class="col-3 col-pad col-type-1">
			<div class="col-title pt-1 pb-2">
				<a href="#!/collection-reporting" class="home-nav" role="button">Data Collection & Reporting</a>
			</div>
			<div class="card mb-4 card-width3" id="pm" ng-if="!cardStatus['pm']" ng-click="toggleCard('pm')">
				<div class="card-body">
					<h6 class="card-subtitle mb-2 text-muted">Building Owners, Managers, Inspectors, Consultants, etc.</h6>
					<div><img class="card-img" src="/images/pm-logo.svg" alt="EnergyStar Portfolio Manager Logo"></div>
				</div>
				<div class="card-footer text-muted">Consumption, Energy Star Score</div>
			</div>
			<div class="card mb-4 card-width3" id="pm2" ng-if="cardStatus['pm']" ng-click="toggleCard('pm')">
				<div class="card-body">
					<p class="card-text">Building owners use <strong>ENERGY STAR Portfolio Manager</strong> to report their energy use.  This information reveals how efficiently a building is being operated.</p>
					<p class="card-text">Portfolio Manager also generates an ENERGY STAR Score, a number from 0-100 which many cities use to set their performance targets and prioritize buildings for upgrade.</p>
					<div class="center"><a href="https://www.energystar.gov/buildings/facility-owners-and-managers/existing-buildings/use-portfolio-manager"  target="_blank" role="button" class="btn btn-type-1">Learn more <span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a></div>
				</div>
			</div>
			<div class="card card-width card-zindex" id="at" ng-if="!cardStatus['at']" ng-click="toggleCard('at')">
				<div class="card-body">
					<h6 class="card-subtitle mb-2 text-muted">Building Owners, Managers, Inspectors, Consultants, etc.</h6>
					<div><img class="card-img" src="images/audit-template-logo.svg" alt="Audit Template Logo"></div>
				</div>
				<div class="card-footer text-muted">Custom Program Templates, ASHRAE Std. 211</div>
			</div>
			<div class="card card-width card-zindex" ng-if="cardStatus['at']" ng-click="toggleCard('at')">
				<div class="card-body">
					<p class="card-text"><strong>Audit Template</strong> is an online portal which cities use to collect standardized information &ndash; no more wrestling with Excel files or proprietary formats &ndash; about a building's physical systems and recommended upgrades.</p>
					<p class="card-text">Auditors use the mobile-friendly interface to submit data.</p>
					<div class="center"><a href="#!/audit-template" role="button" class="btn btn-type-1">Learn more</a></div>
				</div>
			</div>
			<div class="card bsync1" id="bsync1" ng-if="!cardStatus['bsync1']" ng-click="toggleCard('bsync1')">
				<div class="card-body p-1">
					<div><img class="bsync-img" src="../images/bldgsync-logo.svg" alt="BuildingSync Logo"></div>
				</div>
			</div>
			<div class="card bsync1-flip" id="bsync1f" ng-if="cardStatus['bsync1']" ng-click="toggleCard('bsync1')">
				<div class="card-body p-1">
					<p class="card-text">BuildingSync XML is a language used to describe buildings in a way that computers can understand. (In technical terms, it's an XML schema built on top of DOE's Building Energy Data Exchange Specification library.)</p>
					<div class="center"><a href="#!/buildingsync" role="button" class="btn btn-type-5">Learn more</a></div>
				</div>
			</div>
		</div>
		<div class="col-4 col-pad col-type-2">
			<div class="col-title pt-1 pb-2"><a href="#!/management-compliance" class="home-nav">Management & Compliance</a></div>
			<div class="card card-width card-zindex mx-auto" id="seed" ng-if="!cardStatus['seed']" ng-click="toggleCard('seed')">
				<div class="card-body" >
					<h6 class="card-subtitle mb-2 text-muted">Program Implementers and Administrators</h6>
					<div><img class="card-img-sm" src="../images/seed-logo.svg" alt="SEED Logo"></div>
				</div>
				<div class="card-footer text-muted">
					<div class="center">Merge Datasets</div>
					<div class="center">Assess Submission Completion</div>
					<div class="center">Quality Assurance</div>
					<div class="center">Share Data w/ 3rd Parties</div>
					<div class="center">Track Progress</div>
				</div>
			</div>
			<div class="card card-width card-zindex mx-auto" id="seed2" ng-if="cardStatus['seed']">
				<div class="card-body" ng-click="toggleCard('seed')">
					<p class="card-text">The <strong>SEED Platform</strong> is a central database for city BEPS data. It merges information from Portfolio Manager, Audit Template, and other city datasets in one place, behind one intuitive interface.</p>
					<p class="card-text">With just a few clicks, your city can:
					<ul>
						<li>Merge datasets</li>
						<li>Assess the completeness of audit reports</li>
						<li>Perform automated quality assurance</li>
						<li>Share data with third parties</li>
						<li>Track the progress fo BEPS compliance</li>
						<li> Leverage DOE's analysis & evaluation tools to identify upgrade opportunities within buildings and across the city's building stock, assess the performance of the BEPS program, and set program cycle goals.</li>
						<li> Share data with CRM sytems & dashbaords</li>
					</ul>
					</p>
					<p class="card-tex"><strong>Because SEED automates so many manual, time-intensive processes, even cities wiht severely limited resources and staff and use SEED to achieve their program goals.</strong></p>
					<div class="center"><a href="#!/seed" role="button" class="btn btn-type-2">Learn more</a></div>
				</div>
			</div>
			<div class="card bsync2" id="bsync2" ng-if="!cardStatus['bsync2']">
				<div class="card-body p-1" ng-click="toggleCard('bsync2')">
					<img class="bsync-img" src="../images/bldgsync-logo.svg" alt="BuildingSync Logo">
				</div>
			</div>
			<div class="card bsync2-flip" id="bsync2f" ng-if="cardStatus['bsync2']">
				<div class="card-body p-1" ng-click="toggleCard('bsync2')">
					<p class="card-text">BuildingSync XML is a language used to describe buildings in a way that computers can understand. (In technical terms, it's an XML schema built on top of DOE's Building Energy Data Exchange Specification library.)</p>
					<div class="center"><a href="#!/buildingsync" role="button" class="btn btn-type-5">Learn more</a></div>
				</div>
			</div>
			<div id="under-seed" class="center pt-0 mt-0">
				<p class="white">Aggregate Results &sdot; Assess Performance &sdot; Determine Compliance &sdot; <br/>
					Reset Goals for new Program Cycle</p>
			</div>
		</div>
		<div class="col-3 col-pad col-type-3">
			<div class="col-title pt-1 pb-2"><a href="#!/analysis-evaluation" class="home-nav">Analysis & Evaluation</a></div>
			<div class="card card-width2 mx-auto mb-4" id="csrs" ng-if="!cardStatus['csrs']"ng-click="toggleCard('csrs')">
				<div class="card-body">
					<div><img class="card-img" src="../images/com-resstock-logos.svg" alt="ComStock & ResStock Logos"></div>
				</div>
			</div>
			<div class="card card-width2 mx-auto mb-4" id="csrs2" ng-if="cardStatus['csrs']">
				<div class="card-body" ng-click="toggleCard('csrs')">
					<div class="card-title">Find Big Improvements with Big Data</div>
					<p class="card-text">Use the <strong>ResStock</strong> and <strong>ComStock</strong> analysis tools to identify which building stock improvements save the most energy and money.</p>
					<p class="card-text">By combining large public and private data sources, statistical sampling, detailed sub-hourly building simulations, and high-performance computing, these two tools achieve unprecedented granularity and accuracy in modeling the U.S. building stock.
					</p>
					<div class="center"><a href="#!/comstock-resstock" role="button" class="btn btn-type-3">Learn more</a></div>
				</div>
			</div>

			<div class="card card-width2 mx-auto mb-4" id="better">
				<div class="card-body">
					<div><img class="card-img" src="../images/better-logo.svg" alt="BETTER Logo"></div>
				</div>
			</div>

			<div class="card card-width2 mx-auto mb-4" id="as" ng-if="!cardStatus['as']" ng-click="toggleCard('as')">
				<div class="card-body">
					<div><img class="card-img" src="../images/asset-score-logo.svg" alt="Asset Score Logos"></div>
				</div>
			</div>
			<div class="card card-width2 mx-auto mb-4" id="as2" ng-if="cardStatus['as']" ng-click="toggleCard('as')">
				<div class="card-body" >
					<div class="card-title">Get Cost-Effective</div>
					<p class="card-text">The <strong>Asset Score</strong> tool assesses the energy efficiency of a building's physical systems and produces an Energy Asset Score Report.</p>
					<p class="card-text">Use Asset Score to identify cost-effective energy efficiency measure to help buildings deliver EUI and GHGe metrics for compliance with your city's BEPS policy.
					</p>
					<p class="card-text">You can even port data over to Asset Score in just one click!</p>
					<div class="center"><a href="#!/asset-score" role="button" class="btn btn-type-3">Learn more</a></div>
				</div>
			</div>
			<div class="card card-width2 mx-auto mb-4 yellow-border" id="3p" ng-if="!cardStatus['3p']"ng-click="toggleCard('3p')">
				<div class="card-body">
					<div><img class="card-img" src="../images/third-party-icon-text.svg" alt="3rd party tools Logos"></div>
				</div>
			</div>
			<div class="card card-width mx-auto mb-4" id="3p2" ng-if="cardStatus['3p']">
				<div class="card-body" ng-click="toggleCard('3p')">
					<div class="card-title">Leverage Other Tools</div>
					<p class="card-text">Whether you want to notify building owners of their compliance using Customer Relationship Management (CRM) programs, pipe data into a public dashboard, access data from the DOE Building Performance Database (BPD), or take advantage of other tools, there's a way to do it.
					</p>
					<p class="card-text">Application Programming Interfaces (APIs) can make ready use of the BuildingSync file format used by Audit Template, SEED, and Asset Score.
					<div class="center"><a href="#!/developers" role="button" class="btn btn-type-5">For Developers</a></div>
				</div>
			</div>
		</div>
		<div class="col-2 col-pad col-type-4">
			<div class="col-title pt-1 pb-2 mb-3"><a href="#!/goals-outcomes" class="home-nav">Goals & Outcomes</a></div>

			<div class="card card-margin" id="g1">
				<div class="card-body px-2">
					<div class="row no-gutters">
						<div class="col-4 my-auto pr-3"><img class="card-img" src="../images/com-resstock-outcomes-icon.svg" alt="ComStock & ResStock outcomes icon"></div>
						<div class="col my-auto"><p class="card-text">Assess Impacts & Identify New Opportunities</p></div>
					</div>
				</div>
			</div>
			<div class="card card-margin" id="g2">
				<div class="card-body px-2">
					<div class="row no-gutters">
						<div class="col-4 my-auto pr-3"><img class="card-img" src="../images/better-outcomes-icon.svg" alt="BETTER outcomes icon"></div>
						<div class="col my-auto"><p class="card-text">Identify measures and suggest areas for deeper evaluations</p></div>
					</div>
				</div>
			</div>
			<div class="card card-margin" id="g3">
				<div class="card-body px-2">
					<div class="row no-gutters">
						<div class="col-4 my-auto pr-3"><img class="card-img" src="../images/assetscore-outcomes-icon.svg" alt="Asset Score Outcomes icon"></div>
						<div class="col my-auto"><p class="card-text">Cost-effective EEMs Deliver EUI GHGe metrics for compliance</p></div>
					</div>
				</div>
			</div>
			<div class="card mb-2" id="g4">
				<div class="card-body px-2">
					<div class="row no-gutters">
						<div class="col-4 my-auto pr-3"><img class="card-img" src="../images/thirdparty-outcomes-icon.svg" alt="third-party outcomes icon"></div>
						<div class="col my-auto"><p class="card-text">Customize your workflow, connect to CRMs and data visualizations</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-type-5">
			<div class="col-title"><a href="#!/developers" class="dev-nav">For Developers</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="col-line-white">
				<div class="col-line-5"></div>
			</div>
		</div>
	</div>
	<div class="row pt-3">
		<div class="col-5 v-divider">
			<p style="font-size:18px;">More cities are passing building energy performance standards (BEPS) to improve the efficiency of their jurisdiction's buildings.  BEPS policies go beyond benchmarking, requiring building owners to get an energy audit and install recommended upgrades in pursuit of a defined goal.</p>
			<p style="font-size:18px;">These mandates often lack funding for implementation, leaving city staff to do the best they can without any additional staff or tools.  Often, this means a lot of manual data handling with time-consuming, error-prone processes (Hi, Excel).
		</div>
		<div class="col">
			<p>To help cities deploy a BEPS program, the U.S. Department of Energy (DOE) and its national laboratory partners created a suite of powerful, free, and open-source data tools. These tools can snap directly into existing workflows and make it easy to collect, manage, analyze, and share building-related data.</p>
			<p>Sustainability leaders like Washington, D.C. and using these tools to meet their goals. And since they're backed by DOE, you can count on long-term maintenance and support.</p>
		</div>
		<div class="col">
			<p class="bold">Explore the interactive workflow map above to learn more about each tool.  When you're ready, follow the 'Learn More' button to see just how easy data can be.</p>
		</div>
	</div>
	<div ng-include="'views/includes/footer.html'"></div>
</div>
