<h2 class="mat-h2 mb-4">Resources</h2>
<p>The following documents are available to help you understand and use Asset Score:</p>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      Getting Started
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_quick_start_guide.pdf" target="_blank">Quick Start Guide (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_quick_start_guide_preview.pdf" target="_blank">Quick Start Guide - Preview Version (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/videos/assetscore_demo.wmv" target="_blank">Overview and Demonstration (WMV) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://help.buildingenergyscore.com/" target="_blank">Asset Score Help <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://help.buildingenergyscore.com/support/solutions" target="_blank">User's Guide <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://help.buildingenergyscore.com/support/discussions" target="_blank">Community Forum <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      Data Collection
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_data_collection_form_preview.pdf" target="_blank">Data Collection Form - Preview Input Mode (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="Data Collection Short Form - Full Input Mode" target="_blank">Data Collection Short Form - Full Input Mode (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_data_collection_form_full_long.pdf" target="_blank">Data Collection Long Form - Full Input Mode (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_data_collection_priority_map.pdf" target="_blank">Asset Score Data Collection Priority Map (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/templates/spreadsheet_upload_template.xlsx" target="_blank">Upload Template for Preview Buildings (XLSX) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/AST_UnitConversionCalculator.xlsx" target="_blank">Unit Conversion Calculator (XLSX) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      Asset Score Report
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/example_report_preview.pdf" target="_blank">Example Asset Score Preview Report (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/example_report.pdf" target="_blank">Example Single-Use Asset Score Report (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/example_report_mixed_use.pdf" target="_blank">Example Mixed-Use Asset Score Report (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_report_guide.pdf" target="_blank">Asset Score Report Guide (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_recommendations_guide.pdf" target="_blank">Asset Score Building Upgrade Guide (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      Software and Modeling Details
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_assumptions.pdf" target="_blank">Operational and Equipment Sizing Assumptions (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_use_types_systems_and_controls.pdf" target="_blank">Available Use Types, HVAC Systems, and System Controls At-a-Glance (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a> </li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_technical_protocol.pdf" target="_blank">Program Overview and Technical Protocol (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_technical_protocol_appendix_L.pdf" target="_blank">Program Overview Appendix L - Sensitivity Analysis (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a> </li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/api" target="_blank">Asset Score API <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="http://as-documentation.labworks.org/" target="_blank">Asset Score Release Notes <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      Asset Score Training
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a class="color-3" href="https://www.youtube.com/watch?v=A9THtQg5lHU" target="_blank">Introduction to Asset Score Webinar, April 28, 2020 (YouTube) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/Introduction_to_Asset_Score_042820.pdf" target="_blank">Introduction to Asset Score Webinar, April 28, 2020 - Presentation Slides (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="http://www.assetscorecertificate.org/" target="_blank">Center for Building Knowledge (CBK) Asset Score Training and Certification Program <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      Technical Publications
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/energy_asset_score_methodology_journal_012916.pdf" target="_blank">Journal Article: Scoring Methodology (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/simulation_based_coefficients_for_adjusting_climate_impact.pdf" target="_blank">Journal Article: Simulation-based coefficients for adjusting climate impact[...] (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/AS_Preview_Final.pdf" target="_blank">Journal Article: Asset Score Preview <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/market_research.pdf" target="_blank">Conference Paper: Market Research; ACEEE Summer Study, 2012 (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/lessons_learned.pdf" target="_blank">Conference Paper: Pilot Project Lessons Learned; ASHRAE Transactions, 2013 (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/weather_normalization.pdf" target="_blank">Conference Paper: Weather Normalization; iBPSA, 2013 (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/system_evaluation.pdf" target="_blank">Conference Paper: System Evaluation; ASHRAE Annual Conference, 2014 (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/uncertainty_analysis_ibpsa.pdf" target="_blank">Conference Paper: Uncertainty Analysis; ASHRAE and iBPSA SimBuild, 2016 (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/assetscore_preview_aceee.pdf" target="_blank">Conference Paper: Asset Score Preview; ACEEE Summer Study, 2016 (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/energy_savings_hotels.pdf" target="_blank">Conference Paper: Energy Savings for Hotels; ACEEE Summer Study, 2016 (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/publications/Final_ASHRAE_PNNL_CommercialKitchen.pdf" target="_blank">Conference Paper: Energy Evaluation of Food Service; ASHRAE Annual Conference, 2018 (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      Communications
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a class="color-3" href="https://buildingenergyscore.energy.gov/documents/asset_score_brochure.pdf" target="_blank">Asset Score Brochure (PDF) <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-architects" target="_blank">Asset Score for Architects <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-building-owners" target="_blank">Asset Score for Building Owners <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-energy-services-companies-engineers-and" target="_blank">Asset Score for Energy Services Companies, Engineers and Green Building Consultants <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-real-estate-managers" target="_blank">Asset Score for Real Estate Managers <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-state-and-local-governments" target="_blank">Asset Score for State and Local Governments <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
    <li><a class="color-3" href="https://energy.gov/eere/buildings/downloads/building-energy-asset-score-utilities-and-energy-efficiency-program" target="_blank">Asset Score for Utilities and Energy Efficiency Program Administrators <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  </ul>
</mat-expansion-panel>