<h1 class="mat-h2 mb-4">Resources</h1>
<p>The following documents are available to help you understand and use Asset Score:</p>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Getting Started
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a href="https://buildingenergyscore.energy.gov/documents/asset_score_quick_start_guide.pdf">Quick Start Guide (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/asset_score_quick_start_guide_preview.pdf">Quick Start Guide - Preview Version (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/videos/assetscore_demo.wmv">Overview and Demonstration (WMV)</a></li>
    <li><a href="https://help.buildingenergyscore.com/support/home">Asset Score Help</a></li>
    <li><a href="https://help.buildingenergyscore.com/support/solutions">User's Guide</a></li>
    <li><a href="https://help.buildingenergyscore.com/support/discussions">Community Forum</a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Data Collection
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_data_collection_form_preview.pdf">Data Collection Form - Preview Input Mode (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_data_collection_form_full_short.pdf">Data Collection Short Form - Full Input Mode (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_data_collection_form_full_long.pdf">Data Collection Long Form - Full Input Mode (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/asset_score_data_collection_priority_map.pdf">Asset Score Data Collection Priority Map (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/templates/spreadsheet_upload_template.xlsx">Upload Template for Preview Buildings (XLSX)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/AST_UnitConversionCalculator.xlsx">Unit Conversion Calculator (XLSX)</a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Asset Score Report
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a href="https://buildingenergyscore.energy.gov/documents/example_report_preview.pdf">Example Asset Score Preview Report (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/example_report.pdf">Example Single-Use Asset Score Report (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/example_report_mixed_use.pdf">Example Mixed-Use Asset Score Report (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_report_guide.pdf">Asset Score Report Guide (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_recommendations_guide.pdf">Asset Score Building Upgrade Guide (PDF)</a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Software and Modeling Details
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_assumptions.pdf">Operational and Equipment Sizing Assumptions (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/asset_score_use_types_systems_and_controls.pdf">Available Use Types, HVAC Systems, and System Controls At-a-Glance (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_technical_protocol.pdf">Program Overview and Technical Protocol (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/energy_asset_score_technical_protocol_appendix_L.pdf">Program Overview Appendix L - Sensitivity Analysis (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/reports/api">Asset Score API</a></li>
    <li><a href="https://as-documentation.labworks.org/">Asset Score Release Notes</a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Asset Score Training
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=A9THtQg5lHU">Introduction to Asset Score Webinar, April 28, 2020 (YouTube)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/documents/Introduction_to_Asset_Score_042820.pdf">Introduction to Asset Score Webinar, April 28, 2020 - Presentation Slides (PDF)</a></li>
    <li><a href="https://www.assetscorecertificate.org/">Center for Building Knowledge (CBK) Asset Score Training and Certification Program</a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Technical Publications
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a href="https://buildingenergyscore.energy.gov/publications/energy_asset_score_methodology_journal_012916.pdf">Journal Article: Scoring Methodology (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/simulation_based_coefficients_for_adjusting_climate_impact.pdf">Journal Article: Simulation-based coefficients for adjusting climate impact[...] (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/AS_Preview_Final.pdf">Journal Article: Asset Score Preview</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/market_research.pdf">Conference Paper: Market Research; ACEEE Summer Study, 2012 (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/lessons_learned.pdf">Conference Paper: Pilot Project Lessons Learned; ASHRAE Transactions, 2013 (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/weather_normalization.pdf">Conference Paper: Weather Normalization; iBPSA, 2013 (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/system_evaluation.pdf">Conference Paper: System Evaluation; ASHRAE Annual Conference, 2014 (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/uncertainty_analysis_ibpsa.pdf">Conference Paper: Uncertainty Analysis; ASHRAE and iBPSA SimBuild, 2016 (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/assetscore_preview_aceee.pdf">Conference Paper: Asset Score Preview; ACEEE Summer Study, 2016 (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/energy_savings_hotels.pdf">Conference Paper: Energy Savings for Hotels; ACEEE Summer Study, 2016 (PDF)</a></li>
    <li><a href="https://buildingenergyscore.energy.gov/publications/Final_ASHRAE_PNNL_CommercialKitchen.pdf">Conference Paper: Energy Evaluation of Food Service; ASHRAE Annual Conference, 2018 (PDF)</a></li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Communications
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a href="https://buildingenergyscore.energy.gov/documents/asset_score_brochure.pdf">Asset Score Brochure (PDF)</a></li>
    <li><a href="https://www.energy.gov/eere/buildings/articles/building-energy-asset-score-architects">Asset Score for Architects</a></li>
    <li><a href="https://www.energy.gov/eere/buildings/downloads/building-energy-asset-score-building-owners">Asset Score for Building Owners</a></li>
    <li><a href="https://www.energy.gov/eere/buildings/downloads/building-energy-asset-score-energy-services-companies-engineers-and">Asset Score for Energy Services Companies, Engineers and Green Building Consultants</a></li>
    <li><a href="https://www.energy.gov/eere/buildings/downloads/building-energy-asset-score-real-estate-managers">Asset Score for Real Estate Managers</a></li>
    <li><a href="https://www.energy.gov/eere/buildings/downloads/building-energy-asset-score-state-and-local-governments">Asset Score for State and Local Governments</a></li>
    <li><a href="https://www.energy.gov/eere/buildings/downloads/building-energy-asset-score-utilities-and-energy-efficiency-program">Asset Score for Utilities and Energy Efficiency Program Administrators</a></li>
  </ul>
</mat-expansion-panel>
