<h2 class="mat-h2 mb-4">Links for Developers</h2>

<ul>
  <li><a href="https://github.com/LBNL-JCI-ICF/better">BETTER GitHub repository</a>. BETTER's modular, cross-platform analytical engine can be adopted, redeveloped, and redistributed freely under an open-source license, allowing users to incorporate BETTER's analytical capabilities into their own software platforms and tools.</li>
  <li><a href="https://better.lbl.gov/docs/api/">Application Programming Interface (API)</a>. BETTER's API allows developers to utilize BETTER's analytical capabilities from their own software platform without using the BETTER web-interface. Currently, the API is a Remote Procedure Call (PRC), which accepts JSON encoded HTTP request, runs the analyses, and returns the results in a JSON encoded HTTP response. Visit the BETTER's <a href="https://better.lbl.gov/docs/api/">API web page</a> to get started.</li>
</ul>
