<div ng-include="'views/includes/topnav.html'"></div>


<div class="row pt-3">
	<div class="col-5 v-divider pr-5">
		<h3 class="subpage-heading">Data Collection & Reporting</h3>
		<p>Collecting building audit and energy consumption data is the first step in a building performance policy. Explore the tools on the right to learn more how they work together to make data collection & reporting easy, and how you can deploy them in your workflows.</p>
	</div>
	<div class="col-7">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5"><a href="#!/portfolio-manager"><img class="card-img card-width3" src="../images/pm-logo.svg" alt="EnergyStar Portfolio Manager Logo"></a></div>
  				<div class="col-6">
  					<p>ENERGY STAR Portfolio Manager i used by building owners to report their energy use. This information reveals how efficiently a building is being operated. <a href="#!/portfolio-manager" class="color-1 bold-link">Learn more</a>.</p>
  				</div>
  			</div>
			</li>
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5 my-auto"><a href="#!/audit-template"><img class="card-img card-width3" src="../images/audit-template-logo.svg" alt="Building Energy Audit Template Logo"></a></div>
  				<div class="col-6 my-auto">
  					<p>The Building Energy Audit Template is a free, web-based tool used to collect, store and report building energy audit data. Audit data reveals the potential performance of a building based on its physical assets and equipment. <a href="#!/audit-template" class="color-1 bold-link">Learn more</a>.</p>
  				</div>
  			</div>
			</li>
		</ul>
  	<div class="h-divider"></div>
		<h5 class="small-heading">Additional Resources</h5>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5 my-auto"><a href="#!/ubid"><img class="card-img card-width3" src="../images/ubid-logo.png" alt="Unique Building Identifier logo"></a></div>
  				<div class="col-6 my-auto">
  					<p>The Unique Building ID (UBID) is a unique identification system for buildings and other objects. It facilitates data management and sharing by reducing the risk of mismatching or duplicating data, and it eases the burden of data exchange. <a href="#!/ubid" class="color-1 bold-link">Learn more</a>.</p>
  				</div>
  			</div>
			</li>
		</ul>
	</div>
</div>
<div class="mt-5" ng-include="'views/includes/footer.html'"></div>
