<div ng-include="'views/includes/topnav.html'"></div>

<div class="row pt-3">
	<div class="col-5 v-divider">
		<h3 class="subpage-heading">For Developers</h3>
		<p>Would you like to take your building data even further? Are you a product or service provider interested in incorporating data or features from the building energy data tools? Explore the tools at right to learn more about the wealth of opportunities available to developers. </p>
	</div>
	<div class="col-7">
		<ul class="list-group list-group-flush">
  			<li class="list-group-item">
  				<div class="row">
	  				<div class="col-5 my-auto"><img class="card-img card-width3" src="../images/bldgsync-logo.svg" alt="BuildingSync Logo"></div>
	  				<div class="col-6 my-auto">
	  					<p>BuildingSync is a common XML schema for energy audit data that simplifies the aggregation, comparison, and exchange of information across databases and applications.  <a class="color-5 bold-link" href="#!/buildingsync">Learn more</a>.</p>
	  				</div>
	  			</div>
  			</li>
  			<li class="list-group-item">
  				<div class="row py-3">
	  				<div class="col-5 my-auto"><img class="card-img card-width3" src="../images/third-party-icon-text.png" alt="BuildingSync Logo"></div>
	  				<div class="col-6 my-auto">
	  					<p>Learn how the building energy data tools can be linked with 3rd-party tools such as customer relationship management (CRM) and data visualization applications. <a class="color-5 bold-link" href="#!/third-party">Learn more</a>.</p>
	  				</div>
	  			</div>
  			</li>
  		</ul>
	</div>
</div>
