<div ng-include="'views/includes/topnav.html'"></div>
<div class="row pt-3">
	<div class="col-4 v-divider">
		<h3 class="subpage-heading">Goals & Outcomes </h3>
		<p>Learn more about how the building energy data tools can help your organization realize its ultimate goals:</p>
	</div>
	<div class="col-8">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row">
  				<div class="col-3 my-auto"><img class="card-img img-g1" src="../images/com-resstock-outcomes-icon.svg"></div>
  				<div class="col-7 my-auto">
  					<p>Analysis tools will help states, municipalities, utilities, and manufacturers identify the most impactful building stock improvements.</p>
  					<div><img src="../images/comstock_outcome_pathway-01.png"></div>
  				</div>
  			</div>
			</li>
			<li class="list-group-item">
				<div class="row">
  				<div class="col-3 my-auto"><img class="card-img img-g2" src="../images/better-outcomes-icon.svg" alt="BETTER Logo"></div>
  				<div class="col-7 my-auto">
  					<p>Identify measures and suggest areas for deeper evaluations. </p>
  					<div><img src="../images/better_outcome_pathway-01.png"></div>
  				</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
  				<div class="col-3 my-auto"><img class="card-img img-g3" src="../images/assetscore-outcomes-icon.svg" alt="Asset Score Logo"></div>
  				<div class="col-7 my-auto">
  					<p>Use Asset Score to identify cost-effective energy efficiency measures to help buildings deliver EUI and GHGe metrics for compliance with a building performance policy. </p>
  					<div><img src="../images/asset-score-outcome_pathway-01.png"></div>
  				</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
  				<div class="col-3 my-auto"><img class="card-img img-g4" src="../images/thirdparty-outcomes-icon.svg" alt="Third Party Tools"></div>
  				<div class="col-7 my-auto">
  					<p>Customize your workflow, connect to CRMs, add data visualizations. </p>
  				</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="mt-5" ng-include="'views/includes/footer.html'"></div>