<div ng-include="'views/includes/topnav.html'"></div>
<div class="row pt-3">
	<div class="col-5 v-divider">
		<h3 class="subpage-heading">Goals & Outcomes </h3>
		<p>Learn more about how the building energy data tools can help your organization realize its ultimate goals:</p>
		<div id="accordion">
		  <div class="card">
		    <div class="card-header" id="heading1">
		      <h5 class="mb-0">
		        <button class="btn btn-link panel-header-link smaller-text" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
		          <i class="fa px-3 chevron" aria-hidden="true"></i>Assess Impacts & Identify New Opportunities
		        </button>
		      </h5>
		    </div>
		    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
		      <div class="card-body">
		      	[Placeholder]
		      </div>
		    </div>
		  </div> 
		  <div class="card">
		    <div class="card-header" id="heading2">
		      <h5 class="mb-0">
		        <button class="btn btn-link panel-header-link smaller-text collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
		          <i class="fa px-3 chevron" aria-hidden="true"></i>Identify Measures & Suggest Areas for Deeper Evaluations
		        </button>
		      </h5>
		    </div>
		    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
		      <div class="card-body">
		      	[Placeholder]
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="heading3">
		      <h5 class="mb-0">
		        <button class="btn btn-link panel-header-link smaller-text collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
		          <i class="fa px-3 chevron" aria-hidden="true"></i>Cost-Effective Upgrades Deliver EUI and GHGe Metrics for Compliance
		        </button>
		      </h5>
		    </div>
		    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
		      <div class="card-body">
		      	[Placeholder]
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="heading4">
		      <h5 class="mb-0">
		        <button class="btn btn-link panel-header-link smaller-text collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
		          <i class="fa px-3 chevron" aria-hidden="true"></i>Customize Your Workflow, Connect to CRMs and Add Data Visualizations
		        </button>
		      </h5>
		    </div>
		    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
		      <div class="card-body">
		      	[Placeholder]
		      </div>
		    </div>
		  </div>			  
		</div>
	</div>
	<div class="col-7">
		<!-- TODO: make this accordion panels -->

		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5 my-auto"><a href="#!/comstock-resstock"><img class="card-img card-width3" src="../images/com-resstock-logos.svg" alt="ComStock & ResStock Logos"></a></div>
  				<div class="col-6 my-auto">
  					<p>Analysis tools will help states, municipalities, utilities, and manufacturers identify the most impactful building stock improvements. <a class="color-4 bold-link" href="#!/comstock-resstock">Learn more</a>.</p>
  				</div>
  			</div>
			</li>
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5 my-auto"><a href="#!/better"><img class="card-img card-width3" src="../images/better-logo.svg" alt="BETTER Logo"></a></div>
  				<div class="col-6 my-auto">
  					<p>Identify measures and suggest areas for deeper evaluations. <a class="color-4 bold-link" href="#!/better">Learn more</a>.</p>
  				</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5 my-auto"><a href="#!/asset-score"><img class="card-img card-width3" src="../images/asset-score-logo.svg" alt="Asset Score Logo"></a></div>
  				<div class="col-6 my-auto">
  					<p>Use Asset Score to identify cost-effective energy efficiency measures to help buildings deliver EUI and GHGe metrics for compliance with a building performance policy. <a class="color-4 bold-link" href="#!/asset-score">Learn more</a>.</p>
  				</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5 my-auto"><a href="#!/third-party"><img class="card-img card-width3" src="../images/third-party-icon-text.svg" alt="Third Party Tools"></a></div>
  				<div class="col-6 my-auto">
  					<p>Customize your workflow, connect to CRMs, add data visualizations. <a class="color-4 bold-link" href="#!/third-party">Learn more</a>.</p>
  				</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="mt-5" ng-include="'views/includes/footer.html'"></div>