<div ng-include="'views/includes/topnav.html'"></div>


<div class="row pt-3">
	<div class="col-5 v-divider">
		<h3 class="subpage-heading">Management & Compliance</h3>
		<p>Text here to explain what is available under this section.  Could like to individual pages from here.</p>
	</div>
	<div class="col-7">
		<ul class="list-group list-group-flush">
  			<li class="list-group-item">
  				<div class="row">
	  				<div class="col-5 my-auto"><a href="#!/seed"><img class="card-img card-width3" src="../images/seed-logo-horizontal.png" alt="SEED Logo"></a></div>
	  				<div class="col-6 my-auto">
	  					<p><br/>Standard Energy Efficiency Exchange Data Platform (SEED): A central hub for building-relevant datasets from multiple sources, which can be linked with other tools or dashboards and to prioritize buildings for upgraded and individual measures within them. <a class="color-2 bold-link" href="#!/seed">Learn more</a>.</p>
	  				</div>
	  			</div>
  			</li>
  		</ul>
	</div>
</div>