<h1 class="mat-h2 mb-4">News</h1>

<ul>
	<li class="news-li">
		<span class="bold-text">BETTER Featured at the 2024 American Council for Energy Efficient Economy (ACEEE) Summer Study -</span> <span class="news-date"> Aug. 5, 2024</span>

		<p class="news-p">Read the recent paper included in the 2024 ACEEE Summer Study on Energy Efficiency in Buildings: <a href="https://storage.googleapis.com/better_statics/publications/New%20U.S.%20Data%20Tools%20are%20Playing%20a%20Crucial%20Role%20in%20Decarbonizing%20Buildings%20at%20Speed%2C%20Scale%2C%20and%20Low%20Cost.pdf" target="_blank">New U.S. Data Tools are Playing a Crucial Role in Decarbonizing Buildings at Speed, Scale, and Low Cost</a>. The paper discusses the use of BETTER and the U.S. DOE Standard Energy Efficiency Data (SEED) platform by one of the branches of the California state government to streamline a retrofit program across 455 public non-residential buildings to align with state goals.</p>

	</li>
	<li class="news-li">
		<span class="bold-text">New Data Privacy and Use Terms for BETTER are Released -</span> <span class="news-date"> July 26, 2024</span>
		<p class="news-p">Learn about BETTER's new <a href="https://better.lbl.gov/privacy_policy/" target="_blank">data privacy and use terms</a>.</p>
	</li>

	<li class="news-li">
		<span class="bold-text">Mexico’s National Energy Efficiency Commission Endorses Use of BETTER | Mexico to Meet Federal Energy Savings Targets -</span><span class="news-date"> May 6, 2024</span>
		<p class="news-p">
			Building managers and operators of the 7,582 buildings that are part of the Mexico Federal Public Administration Program (APF), which seeks to reduce energy consumption by 3% annually across federal government facilities, can use the <a href="https://better.lbl.gov/country/mexico/" target="_blank">BETTER | Mexico toolkit</a> to meet annual energy-saving targets without costly energy audits. This is the conclusion of a study conducted by the National Commission for the Efficient Use of Energy (<a href="https://www.gob.mx/conuee" target="_blank">CONUEE</a>) comparing the results of energy performance evaluations using BETTER | Mexico and the <a href="https://www.conuee.gob.mx/fenix/programas/benchmk/selectorentmunyloc.jsp" target="_blank">Mexico national building energy Benchmarking Tool</a>. Support for BETTER | Mexico comes from USAID/Mexico and the USAID Energy Efficiency for Development (<a href="http://ee4d.org/" target="_blank">EE4D</a>) program.
		</p>
	</li>
	<li class="news-li">
		<span class="bold-text">Renew America's Nonprofits Program Highlights BETTER -</span><span class="news-date"> Feb. 27, 2024</span>
		<p class="news-p">
			The U.S. Department of Energy (DOE) <a href="https://www.energy.gov/scep/renew-americas-nonprofits" target="_blank">Renew America's Nonprofits program</a> hosted an informational webinar about the importance of energy efficiency as a first step in preparing nonprofits for solar. The webinar introduced BETTER for benchmarking and identifying low-cost improvements. <a href="https://www.youtube.com/watch?v=FlNYwpFo__I" target="_blank">Access the webinar recording</a>
		</p>
	</li>
	<li class="news-li">
		<span class="bold-text"><a href="https://eta.lbl.gov/news/retrofit-tool-enables-big-energy-cost-savings" target="_blank">BETTER Enables PowerOptions To Find $2.5 Million in Potential Annual Energy Cost Savings for Its Nonprofit Members</a> -</span><span class="news-date"> Dec. 14, 2023</span>

		<p class="news-p">
			Access the <a href="https://drive.google.com/file/d/1aRIzvnJrzg9bmm9VWWqN_n0qovS63caq/view" target="_blank">nonprofit case study</a>.
		</p>
	</li>
	<li class="news-li">
		<span class="bold-text">USAID Power Tunisia Partners with Berkeley Lab to Enhance BETTER | Tunisia -</span><span class="news-date"> July 26, 2023</span>
		<p class="news-p">
			<a href="https://www.powertunisia.com/" target="_blank">USAID Power Tunisia</a> is working with Berkeley Lab to increase the size of BETTER | Tunisia’s hotel energy database in order to deliver more accurate and precise benchmarking and net zero retrofit analysis of hotels in Tunisia. This work is supported by <a href="https://www.usaid.gov/tunisia" target="_blank">USAID/Tunisia</a> through the <a href="https://ee4d.org/about/" target="_blank">EE4D program</a>.
		</p>
	</li>
	<li class="news-li">
		<span class="bold-text">Berkeley Lab Introduces BETTER | Tunisia to Fédération Tunisienne d'Hôtellerie (FTH)</span><span class="news-date"> July 15, 2023</span>
		<p class="news-p">
			Berkeley Lab introduces BETTER | Tunisia to <a href="https://www.fth.com.tn/" target="_blank">FTH</a>, Tunisia's national hotel industry association, and explores opportunities to train its members, managing 70% of all Tunisian hotels, on energy efficiency and net zero energy strategies. This work is supported by <a href="https://www.usaid.gov/tunisia" target="_blank">USAID/Tunisia</a> through the <a href="https://ee4d.org/about/" target="_blank">EE4D program</a>.
		</p>
	</li>
	<li class="news-li">
		<span class="bold-text">Acciona Pilots BETTER | Mexico to Support Net Zero Energy Retrofits</span> <span class="news-date"> July 11, 2023</span>
		<p class="news-p"><a href="https://www.acciona.com/?_adin=02021864894" target="_blank">Acciona</a>, one of Mexico's largest energy service providers, pilots BETTER to support net zero energy retrofit analysis in its corporate portfolio. This work is supported by <a href="https://www.usaid.gov/mexico" target="_blank">USAID/Mexico</a> through the <a href="https://ee4d.org/about/" target="_blank">EE4D program</a>.

		</p>
	</li>
	<li class="news-li">
		<span class="bold-text">BETTER Adds French and Spanish Language Toggles</span><span class="news-date"> April 28, 2023</span>
		<p class="news-p">BETTER is now available for use in French and Spanish. This work is supported by USAID/Tunisia and USAID/Mexico through the <a href="https://ee4d.org/about/" target="_blank">EE4D program</a>.
		</p>
	</li>
	<li class="news-li">
		<span class="bold-text">BETTER Adds Net Zero Energy Analysis Capability</span><span class="news-date"> April 19, 2023
		</span>
		<p class="news-p">
			Thanks to a new application programming interface (API) connection with National Renewable Energy Laboratory’s PVWatts® Calculator, BETTER now assesses both energy savings through energy efficiency upgrades and the electricity generation potential from installation of rooftop solar photovoltaic panels to quickly and easily target buildings for net zero energy retrofits. This work is supported by USAID/Mexico through the <a href="https://ee4d.org/about/" target="_blank">EE4D program</a>.

		</p>
	</li>
	<li class="news-li">
		<span class="bold-text">The Efficient Healthy Schools Campaign Trains U.S. School Districts on BETTER</span><span class="news-date"> March 14, 2023</span>
		<p class="news-p">To help K-12 school districts in the United States reduce energy waste, Berkeley Lab partnered with the New Buildings Institute (NBI) to provide training on using BETTER to identify cost-saving energy efficiency measures in school buildings. Access the <a href="https://newbuildings.org/event/efficient-and-healthy-schools-campaign-webinar-series-track-1-energy-efficiency-plus-health/" target="_blank">recording of the training</a>. This outreach is supported by DOE through the <a href="https://efficienthealthyschools.lbl.gov/" target="_blank">Efficient Healthy Schools Campaign</a>.
		</p>
	</li>
</ul>

For more news, visit the <a href="https://better.lbl.gov/news/" target="_blank">BETTER news page</a>
