<h2 class="mat-h2 mb-4">Resources</h2>
<p>The following documents are available to help you understand and use the Unique Building ID:</p>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      General Resources
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a href="https://github.com/pnnl/buildingid" target="_blank">UBID GitHub Repository</a></li>
    <li><a href="https://buildingid.github.io/" target="_blank">UBID Apps and Examples</a></li>
    <li><a href="https://betterbuildingsinitiative.energy.gov/accelerators/building-energy-data-analysis" target="_blank">Building Energy Data Analysis Accelerator</a></li>
    <li><a href="https://buildingid.pnnl.gov/pdf/20191112-Energy_Benchmarking_with_UBIDs-Draft.pdf" target="_blank">Energy Benchmarking with UBIDs Guide</a></li>
    <li><a href="https://buildingid.pnnl.gov/pdf/20190410-Integration_of_UBID_with_Portfolio_Manager.pdf" target="_blank">Integration of UBID with Portfolio Manager</a></li>
    <li><a href="https://betterbuildingssolutioncenter.energy.gov/sites/default/files/attachments/UBID%20Public%20Sector%20Implementation%20Guide.pdf" target="_blank">UBID Public Sector Implementation Guide &amp; Technical Resources Directory</a></li>
    <li><a href="https://betterbuildingssolutioncenter.energy.gov/sites/default/files/attachments/UBID D.C. Case Study BEDA.pdf" target="_blank">UBID Case Study: The District of Columbia</a></li>
    <li><a href="https://www.sciencedirect.com/science/article/abs/pii/S0378778818311526?via%3Dihub">&ldquo;Unique Building Identifier: A natural key for building data matching and its energy applications&rdquo;</a></li>
    <li><a href="https://seed-platform.org/resources/DOE Covered Buildings List Guide.pdf">Quick Guide - Considerations for Creating a Covered Buildings List for a Building Performance Standard (BPS) or Benchmarking Program (PDF)</a></li>
    <li><a href="https://www.pnnl.gov/news-media/x-marks-spot-so-does-ubid">X Marks the Spot; So Does UBID</a></li>
    <li><a href="https://www.miamidade.gov/pa/property_search.asp">Property Search Landing Page - Miami-Dade County (miamidade.gov)</a></li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Technical Resource Directory
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><a href="https://buildingid.github.io/" target="_blank">UBID Demonstrator Website</a><br/>
      A suite of UBID-related web applications with open source code that is designed to be copied, pasted, and extended by third parties; including, but not limited to:
      <ul>
        <li><strong>Cross-reference Example.</strong> Decode 2 UBID code strings, then quantify how similar the corresponding pair of UBID code areas are to each other.</li>
        <li><strong>Decode Example.</strong> Decode a UBID code string, then view the shape on a map. View minimum and maximum coordinates for UBID code area.</li>
        <li><strong>Encode Example.</strong> Encode minimum and maximum coordinates as a UBID code string, then decode and view the shape on the map.</li>
        <li><strong>Well Known Text Read Example.</strong> Decode a Well Known Text string, encode a UBID code string, then view the shape on the map.</li>
      </ul>
    </li>
    <li><a href="https://github.com/buildingid/buildingid.github.io" target="_blank">UBID Demonstrator Source Code</a>
      <br/>HTML, CSS and JavaScript source code for the UBID demonstrator website.
    </li>
    <li><a href="https://github.com/pnnl/buildingid#ubid-documentation">UBID Documentation</a><br>
      Documentation, including, but not limited to:
      <ul>
        <li><strong>UBID specification document</strong></li>
        <li><strong>UBID visualization guide</strong></li>
        <li><strong>UBID data flow guide</strong><br/>
          Overview of information flow in software systems that use UBID. Describes minimum data requirements for UBID assignment and how to convert between UBID and other data types. Uses the UBID demonstrator website to provide interactive examples. </li>
        <li><strong>FAQ</strong><br/>
          Technical reference material with in-depth discussion of UBID design rationale and implementation details.
        </li>
      </ul>
    </li>
    <li><a href="https://github.com/pnnl/buildingid-api-docs" target="_blank">&ldquo;Open Spaces&rdquo; API Description Document</a><br/>An OpenAPI/Swagger description document for a working draft of the &ldquo;Open Spaces&rdquo; API, a vendor-neutral specification for exchanging descriptions of spatially extended entities.</li>
    <li><a href="https://github.com/pnnl/buildingid-csharp" target="_blank">UBID C-sharp API</a><br/>An API that provides implementations of UBID encoding, decoding and validation algorithms for Microsoft C-sharp .NET programming language.</li>
    <li><a href="https://github.com/pnnl/buildingid-js" target="_blank">UBID JavaScript API</a><br/>An API that provides implementations of UBID encoding, decoding and validation algorithms for JavaScript programming languages.</li>
    <li><a href="https://github.com/pnnl/buildingid-plpgsql" target="_blank">UBID PL/pgSQL API</a><br/>An API that provides implementations of UBID encoding, decoding and validation algorithms for PL/pgSQL programming language used by the PostgreSQL database management system and its PostGIS extension.</li>
    <li><a href="https://github.com/pnnl/buildingid-py" target="_blank">UBID Python API &amp; CLI</a><br/>An API that provides implementations of UBID encoding, decoding, and validation algorithms, and CLI that performs UBID assignment for tabular data files and that performs UBID cross-reference for tabular data files by constructing quadtree indices.</li>
    <li><a href="https://github.com/pnnl/buildingid-rb" target="_blank">UBID Ruby API</a><br/>An API that provides implementations of UBID encoding, decoding, and validation algorithms for Ruby programming language.</li>
  </ul>
</mat-expansion-panel>
