<div fxLayout="row">
  <div fxFlex="25"><div class="pl-4"><h6 class="mat-h6">Analyze Building Stock</h6></div><img class="card-img img-g1" src="assets/images/com-resstock-outcomes-icon.svg"></div>
  <div fxFlex="70">
    <p>Use the ComStock and ResStock tools to gain high-level insights into energy use of the building stock in a particular geographic area (down to the county resolution). Understand your area’s building stock performance and characteristics and analyze the scenarios of interest to you -- including the feasibility and savings potential of a building performance standard.</p>
    <div><img src="assets/images/comstock_outcome_pathway-01.png" width="100%"></div>
  </div>
</div>