<p>Ambiguous terms are a constant problem for any organization that collects data from multiple sources. If several energy auditors each have their own definition of "gross floor area," for example, it's very difficult to combine their submissions in a single dataset.</p>
<p>The Building Energy Data Exchange Specification (BEDES) solves this problem. It's a data dictionary that includes terms, definitions, units of measure and data types. Different tools, databases and data formats can use BEDES to exchange information.</p>
<p>Using BEDES-compliant tools and datasets in your workflows is an easy way to <a routerLink="../data-standardization" class="color-2">standardize data</a>, making it more valuable and easier to manage.
<!-- <div class="callout">
  <div class="btn-type-1 p-3 ">
    <p>"BEDES Testimonial"</p>
    <p class="pl-5">— John Doe</p>
  </div>
</div> -->

<div fxLayout="row">
  <div fxFlex="60" fxFlex="90">
    <p class="bold">With BEDES, you can:</p>
    <ul>
      <li>Take the first step on the road to <a routerLink="../data-standardization" class="color-2">data standardization</a>.</li>
      <li>Combine, analyze and share building performance data from different sources and formats.</li>
      <li>Spend less time managing data.</li>
      <li>Deliver better information to decision makers, partners and the public.</li>
      <li>Leverage the power of existing BEDES-compliant tools and datasets.</li>
      <li>Enhance the value of your own products or services.</li>
      <li>Leverage expert support from DOE and Lawrence Berkeley National Laboratory.</li>
    </ul>
  </div>
  <!-- <div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
    <img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
  </div> -->
</div>
  <p>Contact BTODataTools@ee.doe.gov to schedule an expert consultation and see what BEDES can do for you.</p>
  <p>Ready to jump in? Visit the <a href="https://bedes.lbl.gov/bedes-online" target="_blank" class="color-2">BEDES Dictionary <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a> and <a href="https://bedes-manager.lbl.gov/home/login" target="_blank" class="color-2">Mapping Manager <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a> to get started.</p>

<!-- <div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="50%" class="mr-3">
    <p>The Building Energy Data Exchange Specification (BEDES) is a set of over 600 terms and definitions for building characteristics, efficiency measures, and energy use which can be used to support the analysis of the energy performance of buildings. It is a data dictionary that includes data terms, term definitions, units of measure and data types – not a database, data schema, or file format – which different tools, databases and data formats can use to exchange data using a common set of terms.</p>
    <p>BEDES allows the accessing, aggregation, sharing and utilization of building performance data from different sources and in different formats. Data definitions of terms (ex: gross floor area) can often be ambiguous across the building data analysis space, and any organization collecting such from multiple sources must constantly deal with this problem, in addition to the other typical challenges of collection, reconciling, importing and maintaining data. Existing data sets can be mapped to BEDES terms, with the result being that all such BEDES-compliant data now becomes relatable, combinable and able to be analyzed in the aggregate.</p>
  </div>
  <div fxFlex="50%">
    <p>The terms and definitions in this BEDES Dictionary were taken from a variety of sources in order to be as complete as possible as well as being inclusive of the existing implementations that characterize the energy use in buildings.</p>
    <p>Over 30 tools and datasets are BEDES-compliant, including many of the building energy data tools developed by DOE and featured on this website. As the number of public and private tools that utilize BEDES grows, they will contribute to an interoperable ecosystem of software that lowers the cost in time and money currently involved in sharing and aggregating data. This also increases the availability of products and services that utilize energy data, allowing them to achieve greater market penetration and deliver better information to decision-makers.</p>
    <p>BEDES is the basic level of data standardization, with the BuildingSync XML schema and Audit Template reporting tool being the next levels up.</p>
  </div>
</div>

<div>
  <h3 class="mat-h3 color-5">Getting Started</h3>

  <p>We encourage you to use BEDES in your products and business processes. Software developers and other entities that collect or distribute building energy performance data can either adopt an existing schema that uses BEDES terms, or develop their own. BEDES compliant products can be recognized by DOE on the web site and in communications materials, and featured in events, conferences, press releases, success stories, etc.</p>
  <p>Interested in developing a BEDES-compliant application? Take a look at the BEDES FAQ, then explore the <a href="https://bedes.lbl.gov/bedes-online" target="_blank">BEDES Dictionary</a> and review the BEDES Mapping Procedure. Need help mapping your data? Contact us for technical assistance. </p>


</div> -->
