<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="50%" class="mr-3">
    <p>The Building Energy Data Exchange Specification (BEDES) is a set of over 600 terms and definitions for building characteristics, efficiency measures, and energy use which can be used to support the analysis of the energy performance of buildings. It is a collection of data terms, term definitions, units of measure and data types – not a database, data schema, or file format – which different tools, databases and data formats can share.</p>
    <p>BEDES allows the accessing, aggregation, sharing and utilization of building performance data from different sources and in different formats. Data definitions of terms (ex: gross floor area) can often be ambiguous across the building data analysis space, and any organization collecting such from multiple sources must constantly deal with this problem, in addition to the other typical challenges of collection, reconciling, importing and maintaining data. Existing data sets can be mapped to BEDES definitions, with the result being that all such BEDES-compliant data now becomes relatable, combinable and able to be analyzed in the aggregate.</p> 
  </div>
  <div fxFlex="50%">
    <p>The terms and definitions in this BEDES Dictionary were taken from a variety of sources in order to be as complete as possible as well as being inclusive of the existing implementations that characterize the energy use in buildings.</p>
    <p>Over 30 tools and datasets are BEDES-compliant, including many of the building energy data tools developed by DOE and featured on this website. The dictionary can also be used by private-sector software tools and databases. As the number of public and private tools that utilize BEDES grows, they will contribute to an interoperable ecosystem of software that lowers the cost in time and money currently involved in sharing and aggregating data. This also increases the availability of products and services that utilize energy data, allowing them to achieve greater market penetration and deliver better information to decision-makers.</p>
    <p>BEDES is the initial tier of data standardization, with the BuildingSync XML schema and Audit Template reporting tool being the next steps up.</p>
  </div>
</div>

<div>
  <h3 class="mat-h3 color-5">Getting Started</h3>

  <p>We encourage you to use BEDES in your products and business processes. Software developers and other entities that collect or distribute building energy performance data can either adopt an existing schema that uses BEDES terms, or develop their own. BEDES compliant products can be recognized by DOE on the web site and in communications materials, and featured in events, conferences, press releases, success stories, etc.</p> 
  <p>Interested in developing a BEDES-compliant application? Take a look at the BEDES FAQ, then download the <a href="https://bedes.lbl.gov/bedes-online" target="_blank">BEDES Dictionary</a> and review the BEDES Mapping Procedure. Need help mapping your data? Contact [placeholder] for technical assistance. </p>


</div>