<div class="bpt">
  <div class="m-3">
    <div id=header>
      <h2>Help Desk</h2>
      <p>Submit technical questions about building energy codes, REScheck or COMcheck projects, or BECP website content.
      </p>
    </div>

    <form>
      <div id="Your Info">
        <p class="bold">Your Information</p>

        <div class="name">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="text" matInput [formControl]="firstNameFormControl">
            <mat-error *ngIf="firstNameFormControl.hasError('required')">
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput [formControl]="lastNameFormControl">
            <mat-error *ngIf="lastNameFormControl.hasError('required')">
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div id="Your Question">
        <p class="bold">Your Question</p>

        <p id="tools-label">Select the relevant tool</p>
        <mat-radio-group class="tools" [(ngModel)]="selectedTool" name="tool">
          <mat-radio-button *ngFor="let tool of tools" [value]="tool">
            {{tool}}
          </mat-radio-button>
        </mat-radio-group>

        <div>
          <mat-form-field class="question" appearance="outline">
            <mat-label>Question</mat-label>
            <textarea type="text" matInput [formControl]="questionFormControl"></textarea>
            <mat-error *ngIf="questionFormControl.hasError('required')">
              Question is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </form>
  </div>
</div>