<div class="bpt" [ngSwitch]="status">
  <div class="m-3" *ngSwitchDefault>
    <div class="header">
      <h2>Help Desk</h2>
      <p>Submit technical questions about Building Data Tools (e.g., BuildingSync, ComStock, SEED, Audit Template) here.
        You may also submit general questions and questions that span across multiple tools.
        Please visit
        <a href="https://www.energycodes.gov/technical-assistance/help-desk">The Building Energy Codes Program</a>
        to submit questions for COMcheck and REScheck.
      </p>
      <p>For questions about Building Performance Standards, please
        <a href=" https://www.energycodes.gov/bps/bps-technical-assistance”">Request BPS Technical Assistance</a>.
      </p>
    </div>

    <form [formGroup]="helpForm">
      <div id="Your Info">
        <p class="bold">Your Information</p>

        <div class="name">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input type="text" id="first_name" matInput formControlName="firstName">
            <mat-error *ngIf="helpForm.get('firstName').hasError('required')">
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text" id="last_name" matInput formControlName="lastName">
            <mat-error *ngIf="helpForm.get('lastName').hasError('required')">
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" id="email" matInput formControlName="email">
          <mat-error *ngIf="helpForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="helpForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div id="Your Question">
        <p class="bold">Your Question</p>

        <mat-form-field>
          <mat-label>Select the relevant tool</mat-label>
          <mat-error *ngIf="helpForm.get('tool').touched && helpForm.get('tool').hasError('required')">
            Tool is <strong>required</strong>
          </mat-error>

          <mat-select class="tools" formControlName="tool" id="tool">
            <mat-option *ngFor="let tool of tools" [value]="tool">
              {{tool}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <mat-form-field class="question">
            <mat-label>Question</mat-label>
            <textarea type="text" id="questions" matInput formControlName="question"></textarea>
            <mat-error *ngIf="helpForm.get('question').hasError('required')">
              Question is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <re-captcha formControlName="recaptcha" siteKey="6Lcub80fAAAAAGtDrxldrdrlanCQ0m5kOMmsAt5f"></re-captcha>
      <button mat-raised-button color="primary" class="submit" [disabled]="helpForm.invalid" type="submit" (click)="submit()">Submit</button>
    </form>
    <div id="form-response"></div>
  </div>

  <div class="m-3" *ngSwitchCase="'PROCESSING'">
    <mat-spinner></mat-spinner>
  </div>

  <div class="m-3" *ngSwitchCase="'SENT'">
    <h2>Your question has been submitted.</h2>
  </div>

  <div class="m-3" *ngSwitchCase="'ERRORED'">
    <h2>There has been an error. Please try again.</h2>
  </div>
</div>
