<div fxLayout="row">
  <section fxFlex="50" fxLayoutGap="20px" fxLayoutAlign="center center">
    <iframe width="90%" height="90%" src="https://www.youtube.com/embed/vtmi1WzA7zQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>Audit Template is an online portal for collecting standardized information (no more wrestling with Excel files or proprietary formats) about a building’s physical systems and recommended upgrades. Auditors use the mobile-friendly interface to submit data (both ASHRAE-standard and customized templates are available), which is automatically checked for quality and completeness. Program administrators access their own City Dashboard to monitor submissions, verify reported data, and download reports in their preferred format (PDF, CSV, or XML). </p>
    <p>Because Audit Template stores data in the BuildingSync format, information is persistent and easily shared with other people and systems, including the other building energy tools as well as Customer Relationship Management (CRM) applications. You can even port data over to Asset Score with just one click!</p>

    <h3 class="mat-h3 color-1">Getting Started</h3>
    <p><a href="https://buildingenergyscore.energy.gov/d/users/sign_up" target="_blank" class="color-1">Register for an Audit Template account to get started</a>. Once registered, log in and select the   Audit Template tab from the home page. From there you can add a report, input building audit data, and submit your data. View the <a href="https://buildingenergyscore.energy.gov/documents/asset_score_quick_start_guide.pdf" target="_blank" class="color-1">Quick Start Guide</a> for details.</p>
  </section>
</div>
