<p>Frustrated with the complexities of collecting and managing audit data? Audit Template makes it simple — think of it as an "easy button" for audits.</p>
<div class="callout">
	<div class="btn-type-1 p-3 ">
		<p>"The aspect I appreciate most about the Audit Template tool is the structure it has brought to our overall auditing process. It also saved time by avoiding mistakes in the field."</p>
		<p class="pl-5">— Vic Batson, Boone Energy Co-Founder & CEO</p>
	</div>
</div>

<div fxLayout="row">
  <div fxFlex="60">
  	<p class="bold">With Audit Template, you can easily:</p>
		<ul>
			<li>Implement an audit, retrocommissioning or building performance standard policy.</li>
			<li>Manage private or municipal building stock data.</li>
			<li>Submit audit reports online or through the mobile app.</li>
			<li>Use the City Dashboard feature to track submissions and compliance.</li>
			<li>Automatically confirm data quality and completeness.</li>
			<li>Get exactly the data you need with a variety of ASHRAE Standard and custom reporting templates.</li>
			<li>Generate reports, including energy consumption by fuel type and end use as well as upgrade costs and payback periods.</li>
			<li>Export data to the SEED Platform database or other audit tools.</li>
			<li>Share data with other people and systems in CSV, PDF, or BuildingSync XML formats.</li>
			<li>Leverage expert support from DOE and the Pacific Northwest National Laboratory.</li>
		</ul>
	</div>
  <!-- <div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
		<img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
 	</div> -->
</div>
	<p>Get started by signing up for a free <a href="https://buildingenergyscore.energy.gov/" target="_blank" class="color-1">Audit Template</a> account.</p>
	<p>To learn more, view the <a href="https://betterbuildingssolutioncenter.energy.gov/webinars/training-introduction-audit-template
	" target="_blank" class="color-1">Introduction to Audit Template</a> presentation, explore the additional resources on this page or contact BTODataTools@ee.doe.gov.</p>


<!-- <div fxLayout="row">
  <section fxFlex="50" fxLayoutGap="20px" fxLayoutAlign="center center">
    <iframe width="90%" height="90%" src="https://www.youtube.com/embed/vtmi1WzA7zQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>Audit Template is an online portal for collecting standardized information (no more wrestling with Excel files or proprietary formats) about a building’s physical systems and recommended upgrades. Auditors use the mobile-friendly interface to submit data (both ASHRAE-standard and customized templates are available), which is automatically checked for quality and completeness. Program administrators access their own City Dashboard to monitor submissions, verify reported data, and download reports in their preferred format (PDF, CSV, or XML). </p>
    <p>Because Audit Template stores data in the BuildingSync format, information is persistent and easily shared with other people and systems, including the other building energy tools as well as Customer Relationship Management (CRM) applications. You can even port data over to Asset Score with just one click!</p>

    <h3 class="mat-h3 color-1">Getting Started</h3>
    <p><a href="https://buildingenergyscore.energy.gov/d/users/sign_up" target="_blank" class="color-1">Register for an Audit Template account to get started</a>. Once registered, log in and select the   Audit Template tab from the home page. From there you can add a report, input building audit data, and submit your data. View the <a href="https://buildingenergyscore.energy.gov/documents/asset_score_quick_start_guide_audit_template.pdf" target="_blank" class="color-1">Quick Start Guide</a> for details.</p>
  </section>
</div> -->
