<h1 class="mat-h2 mb-4">Resources</h1>

<h2>Audit Template Training</h2>
<ul>
  <li><a href="https://youtu.be/vtmi1WzA7zQ">Introduction to the Audit Template Webinar, April 30, 2020 (YouTube)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/documents/Introduction_to_Audit_Template_043020.pdf">Introduction to the Audit Template Webinar, April 30, 2020 (PDF)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/documents/AuditTemplate_LL87_Webinar_06282018_PresentationSlides.pdf">NYC LL87 Energy Audit Data Collection Tool Webinar, June 29, 2018 - Presentation Slides (PDF)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=videos%2FAuditTemplate_LL87_Webinar_06282018.mp4">NYC LL87 Energy Audit Data Collection Tool Webinar, June 29, 2018 (MP4)</a></li>
  <li><a href="https://www.energycodes.gov/sites/default/files/bps/2023-11/BPS_and_Audit_Template_Tool_Guide.pdf">Audit Template: A Tool for Streamlining Compliance in Building Performance Standards (PDF)</a>
  </li>
</ul>

<h2>Audit Template</h2>
<ul>
  
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=documents%2FAuditTemplate_Auditor_QuickStartGuide.pdf">Audit Template Quick Start Guide - For Auditors (PDF)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=documents%2FAuditTemplate_ProgramAdministrator_QuickStartGuide.pdf">Audit Template Quick Start Guide - For Program Administrators (PDF)</a></li>
  <li><a href="https://help.buildingenergyscore.com/support/solutions/8000051362">Audit Template User Guide</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=documents%2Fexample_audit_data_report.pdf">Audit Template PDF Report Example (PDF)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=templates%2Faudit_data_csv_report_template.xlsx">Audit Template CSV Report Example (XLSX)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=documents%2Fexample_NYC_audit_report_property_BS_v2.3_081321.xml">Audit Template BuildingSync XML Example – NYC BBL Property (XML)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=documents%2Fexample_SF_audit_report_BS_v2.3_081321.xml">Audit Template BuildingSync XML Example – San Francisco Building (XML)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=documents%2Fexample_audit_report_to_asset_score_BS_v2.3_081321.xml">Audit Template to Asset Score Conversion Example (XML)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=videos%2Fassetscore_reporting_platform_demo.wmv">Audit Template Overview (WMV)</a></li>
  <li><a href="https://buildingenergyscore.energy.gov/resources/download?key=videos%2Fassetscore_audit_template_webinar_demo.wmv">Audit Template Overview and Demonstration (WMV)</a></li>
 </ul>
