<h2 class="mat-h2 mb-4">Resources</h2>

<p>The following resources are available to help you understand and use BEDES:</p>

<ul>
  <li><a href="https://www.energy.gov/eere/buildings/bedes-glossary" target="_blank">BEDES Glossary</a></li>
  <li><a href="https://bedes.lbl.gov/bedes-online" target="_blank">BEDES Dictionary</a></li>
  <li><a href="https://docs.google.com/document/d/1wvkugBc5UZ4v6mhjFCDoaqOmZreJ3hrcJDcp36tClmQ/edit#heading=h.1araki8oh4y5" target="_blank">BEDES Mapping Procedure</a></li>
  <li><a href="https://bedes-manager.lbl.gov/home/login" target="_blank">BEDES Mapping Manager</a></li>
  <li><a href="https://bedes.lbl.gov/comparison" target="_blank">View the Differences Between Two BEDES Versions</a></li>
  <li><a href="https://www.aceee.org/files/proceedings/2014/data/papers/6-650.pdf" target="_blank">Enabling Interoperability though a Common Language for Building Performance</a></li>
</ul>
