<h2 class="mat-h2 mb-4">Resources</h2>

<p>The following resources are available to help you understand and use BEDES:</p>

<ul>
  <li><a href="https://bedes.lbl.gov/bedes-online" target="_blank">BEDES Dictionary <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://bedes.lbl.gov/common-composite-terms" target="_blank">Example Composite Terms <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://docs.google.com/document/d/1wvkugBc5UZ4v6mhjFCDoaqOmZreJ3hrcJDcp36tClmQ/edit#heading=h.1araki8oh4y5" target="_blank">BEDES Mapping Procedure <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://bedes-manager.lbl.gov/home/login" target="_blank">BEDES Mapping Manager <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://docs.google.com/document/d/1a021yCc8Op_NyYGnoyLgWdBteHEf0P6soYs5k3jXyY8/edit#heading=h.s9gdanqlui5x" target="_blank">BEDES Technical Assistance <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://bedes.lbl.gov/comparison" target="_blank">View the Differences Between Two BEDES Versions <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://www.aceee.org/files/proceedings/2014/data/papers/6-650.pdf" target="_blank">ACEEE Paper: Enabling Interoperability though a Common Language for Building Performance <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
</ul>
