@import "theme";

:host {
  font-family: $robotoCondensed;
  user-select: none;

  > div {
    display: flex;
  }
}

@each $color in $colors {
  $i: index($colors, $color);
  .category:nth-of-type(#{$i}) {
    &:hover {
      background-color: transparentize($color, $hoverOpacity);
    }

    &::before {
      border-top: 4px solid $color;
    }
  }

  .child-row > section:nth-of-type(#{$i}) > div {
    &.active {
      background: $color;
      color: #fff;
      font-weight: bold;
    }

    &:not(.active):hover {
      background-color: transparentize($color, $hoverOpacity);
    }

    &::before {
      border-top: 2px solid $color;
    }
  }
}

.small-menu-div {
  background-color: #3b88af;
  width:100%;
  display: flex;
}

.small-menu {
  background-color: #3b88af; 
  color: white;
}

/*.category-small {
  margin:10px;
  background-color: #3b88af; 
  color: white;
}*/

.category-item-small {
  padding:10px;
  background-color: #3b88af; 
  color: white;
}

.top-row {
  background-color: $gray;
  min-height: 40px;
  text-transform: uppercase;
  font-size: 0.95rem;

  > .category {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    position: relative;
    text-align: center;

    &:first-child {
      margin-left: $pad;
    }

    &:last-child {
      margin-right: $pad;
    }

    &::before {
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &.active {
      font-weight: bold;

      &::before {
        border-top-width: 8px;
        top: -4px;
      }
    }
  }
}

.child-row {
  background-color: $gray;
  font-size: 0.9rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 250ms ease-out;

  > section {
    > div {
      color: #444;
      cursor: pointer;
      padding: 8px 8px 0;
      position: relative;

      a, a:visited {
        color: #444;
      }

      &::before {
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &:first-child {
      margin-left: $pad;
    }

    &:last-child {
      margin-right: $pad;
      padding-bottom: 10px;
    }
  }
}

.opened .child-row {
  max-height: 100%;
}
