@import "theme";

.bpt {
  max-width: $maxWidth;
  margin: 0 auto;
}

:host {
  font-family: "Karla", sans-serif;
  user-select: none;

  > div {
    display: flex;
  }
}

@each $color in $colors {
  $i: index($colors, $color);
  .category:nth-of-type(#{$i}) {
    &:hover {
      background-color: transparentize($color, $hoverOpacity);
    }

    &::before {
      border-top: 4px solid $color;
    }
  }

  .child-row > section:nth-of-type(#{$i}) > div {
    &.active {
      background: $color;
      color: #fff;
      font-weight: bold;
    }

    &:not(.active):hover {
      background-color: transparentize($color, $hoverOpacity);
    }

    &::before {
      border-top: 2px solid $color;
    }
  }
}

.small-menu-div {
  background-color: #3b88af;
  width: 100%;
  display: flex;
}

.small-menu {
  background-color: #3b88af;
  color: white;
}

.category-item-small {
  padding: 10px;
  background-color: #3b88af;
  color: white;
}

.top-row {
  background-color: $gray;
  min-height: 44px;
  padding: 0 26px;
  text-transform: uppercase;

  > .category {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    position: relative;
    text-align: center;

    &::before {
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &.active {
      font-weight: bold;

      &::before {
        border-top-width: 8px;
        top: -4px;
      }
    }

    a {
      color: #000;
    }

  }
}

.child-row {
  background-color: $gray;
  font-size: 1.3rem;
  max-height: 0;
  overflow: hidden;
  padding: 0 26px;
  transition: max-height 250ms ease-out;
  width: 100%;
  z-index: 1;

  > section {
    padding-bottom: 10px;

    > div {
      color: #444;
      cursor: pointer;
      padding: 5px 8px 3px;
      position: relative;

      a,
      a:visited {
        color: #444;
      }

      &::before {
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}

.opened .child-row {
  max-height: 265px;
}
