$robotoCondensed: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;

$maxWidth: 1500px;

$pad: 26px;

$blueGray: #6e8591;
$gray: #eee;
$orange: #f5af13;

$colors:
  #3b88af
  #024880
  #478662
  #094f58
  $orange;

$hoverOpacity: 0.8;
