$robotoCondensed: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;

$maxWidth: 1200px;

$pad: 26px;

$blueGray: #6e8591;
$gray: #eee;
$orange: #f5af13;

$colors:
  #0174a1
  #024880
  #355F46
  #094f58
  $orange;

$hoverOpacity: 0.8;


/* old analysis color */
/* #478662 */