$robotoCondensed: Figtree, "Helvetica Neue", sans-serif;

$maxWidth: 1200px;

$pad: 26px;

$blueGray: #6e8591;
$gray: #eee;
$orange: #9C6D07;

$colors:
  #0174a1
  #024880
  #355F46
  #094f58
  $orange;

$hoverOpacity: 0.8;
