<div fxLayout.gt-xs="row" fxLayout.xs="column">
  <div fxFlex="25" ngClass.xs="mb-4">
    <div class="pl-4"><h4 class="mat-h6">Customize</h4></div>
    <img class="card-img img-g4" src="assets/images/thirdparty-outcomes-icon.svg" alt="">
  </div>
  <div fxFlex="70">
    <p>It's easy to combine DOE's building energy tools with other applications like Salesforce or the many proprietary and open-source applications available. Visit the <a [routerLink]="['/developers']" class="color-4 bold-link">For Developers</a> page to learn more about customizing your workflows.</p>
  </div>
</div>
