<h2 class="mat-h2 mb-4">Collaborators & Adopters</h2>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-2">
      Collaborators
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>The following entities collaborated in the BuildingSync® development working group:</p>
  <strong>Industry collaborators</strong><br>
  <ul>
    <li>ActioNet</li>
    <li>Advanced Energy</li>
    <li>ASHRAE</li>
    <li>Building Energy</li>
    <li>Concept 3D</li>
    <li>Consortium for Building Energy Innovation (CBEI)</li>
    <li>Consortium for Energy Efficiency (CEE)</li>
    <li>Descartes</li>
    <li>ecoInsight</li>
    <li>EcoPros, LLC</li>
    <li>EMAT</li>
    <li>Empowered Energy Solutions</li>
    <li>The Energy Coalition</li>
    <li>EnergyActio</li>
    <li>FirstFuel</li>
    <li>Grumman/Butkus Associates</li>
    <li>Hitchcock Consulting</li>
    <li>kW Engineering</li>
    <li>Improvement Facilitation</li>
    <li>Institute for Market Transformation (IMT)</li>
    <li>kWhOURS</li>
    <li>L&S Energy Services</li>
    <li>National Home Performance Council (NHPC), now Home Performance Coalition (HPC)</li>
    <li>Performance Systems Development (PSD)</li>
    <li>Philips Lighting</li>
    <li>Philips Research North America</li>
    <li>Retroficiency</li>
    <li>Shakti Consultants, Inc.</li>
    <li>Smart Buildings Center</li>
    <li>Sustainable Energy Partnerships</li>
    <li>VCA Green</li>
    <li>Utility Systems Solutions, Inc.</li>
  </ul>
  <strong>National laboratories and government agencies</strong><br>
  <ul>
    <li>California Energy Commission (CEC)</li>
    <li>Federal Emergency Management Program (FEMP)</li>
    <li>Ft. Carson U.S. Army Base</li>
    <li>Lawrence Berkeley National Laboratory (LBNL)</li>
    <li>National Renewable Energy Laboratory (NREL)</li>
    <li>New York City</li>
    <li>Pacific Northwest National Laboratory (PNNL)</li>
    <li>San Francisco Department of the Environment</li>
    <li>U.S. Department of Energy (DOE)</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-2">
      Current Adopters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="grid-container" gdColumns="repeat(2, 1fr)" gdColumns.lt-md="none" gdGap="32px 8px">
    <a href="https://www.pnnl.gov/"><img src="assets/md/buildingsync/img/pnnl.svg" alt="PNNL logo"></a>
    <a href="https://psdconsulting.com/"><img src="assets/md/buildingsync/img/psd.png" alt="PSD logo"></a>
    <a href="https://buildee.com/"><img src="assets/md/buildingsync/img/buildee.png" alt="Buildee logo"></a>
    <a href="https://www.brightpower.com/"><img src="assets/md/buildingsync/img/bright_power.svg" alt="Bright Power logo"></a>
    <a href="https://aecom.com/"><img src="assets/md/buildingsync/img/aecom.svg" alt="AECOM logo"></a>
    <a href="https://www.lbl.gov/"><img src="assets/images/berkley_lab_logo_footer.svg" alt="LBNL logo"></a>
    <a href="https://sfenvironment.org/"><img src="assets/md/buildingsync/img/sf_environment.png" alt="SF Environment"></a>
    <a href="https://brandnewbox.com/"><img src="assets/md/buildingsync/img/brand_new_box.svg" alt="Brand New Box"></a>
  </div>
</mat-expansion-panel>
