<h2 class="mat-h2 mb-4">Collaborators & Adopters</h2>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-2">
      Collaborators
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>The following entities collaborated in the BuildingSync® development working group:</p>
  <strong>Industry collaborators</strong><br/>
  <ul>
    <li>ActioNet</li>
    <li>Advanced Energy</li>
    <li>ASHRAE</li>
    <li>Building Energy</li>
    <li>Concept 3D</li>
    <li>Consortium for Building Energy Innovation (CBEI)</li>
    <li>Consortium for Energy Efficiency (CEE)</li>
    <li>Descartes</li>
    <li>ecoInsight</li>
    <li>EcoPros, LLC</li>
    <li>EMAT</li>
    <li>Empowered Energy Solutions</li>
    <li>The Energy Coalition</li>
    <li>EnergyActio</li>
    <li>FirstFuel</li>
    <li>Grumman/Butkus Associates</li>
    <li>Hitchcock Consulting</li>
    <li>kW Engineering</li>
    <li>Improvement Facilitation</li>
    <li>Institute for Market Transformation (IMT)</li>
    <li>kWhOURS</li>
    <li>L&S Energy Services</li>
    <li>National Home Performance Council (NHPC), now Home Performance Coalition (HPC)</li>
    <li>Performance Systems Development (PSD)</li>
    <li>Philips Lighting</li>
    <li>Philips Research North America</li>
    <li>Retroficiency</li>
    <li>Shakti Consultants, Inc.</li>
    <li>Smart Buildings Center</li>
    <li>Sustainable Energy Partnerships</li>
    <li>VCA Green</li>
    <li>Utility Systems Solutions, Inc.</li>
  </ul>
  <strong>National laboratories and government agencies</strong><br/>
  <ul>
    <li>California Energy Commission (CEC)</li>
    <li>Federal Emergency Management Program (FEMP)</li>
    <li>Ft. Carson U.S. Army Base</li>
    <li>Lawrence Berkeley National Laboratory (LBNL)</li>
    <li>National Renewable Energy Laboratory (NREL)</li>
    <li>New York City</li>
    <li>Pacific Northwest National Laboratory (PNNL)</li>
    <li>San Francisco Department of the Environmentv
    <li>U.S. Department of Energy (DOE)</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-2">
      Current Adopters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="40" class="p-3"><a href="https://www.pnnl.gov/" target="_blank"><img class="collab-image" src="assets/md/buildingsync/img/pnnl.png"></a></div>
    <div fxFlex="40" class="p-3"><a href="http://psdconsulting.com/" target="_blank"><img class="collab-image" src="assets/md/buildingsync/img/psd.png"></a></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="40" class="p-3"><a href="https://buildee.com/" target="_blank"><img class="collab-image" src="assets/md/buildingsync/img/buildee.png"></a></div>
    <div fxFlex="40" class="p-3"><a href="https://www.maalka.com/" target="_blank"><img class="collab-image" src="assets/md/buildingsync/img/maalka.png"></a></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="40" class="p-3"><a href="https://brightpower.com" target="_blank"><img class="collab-image" src="assets/md/buildingsync/img/bright_power.png"></a></div>
    <div fxFlex="40" class="p-3"><a href="https://www.aecom.com/" target="_blank"><img class="collab-image" src="assets/md/buildingsync/img/aecom.png"></a></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="40" class="p-3"><a href="https://brandnewbox.com" target="_blank"><img class="collab-image" src="assets/md/buildingsync/img/brand_new_box.png"></a></div>
    <div fxFlex="40" class="p-3"><a href="https://sfenvironment.org/" target="_blank"><img class="collab-image" src="assets/md/buildingsync/img/sf_environment.png"></a></div>
  </div>
</mat-expansion-panel>