<h2 class="mat-h2 mb-4">Links for Developers</h2>

<p>The BPD features an application programming interface, which enables external software tools to run analytical queries on the dataset and incorporate the results into their own products. Browse the resources below to learn more, or send a question to [placeholder]. </p>

<ul>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/access" class="color-3 bold-link" target="_blank">How to Access the API</a></li>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/api-fields" class="color-3 bold-link" target="_blank">List of API Fields</a></li>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/api-functions" class="color-3 bold-link" target="_blank">List of API Functions</a></li>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/access" class="color-3 bold-link" target="_blank">Details on the Building Energy Data Exchange Specification (BEDES)</a>, which is used to structure the back-end data in BPD.</li>
  <li><a href="https://www.energy.gov/eere/buildings/downloads/buildings-performance-database-recommended-data-fields" class="color-3 bold-link" target="_blank">BPD Priority Fields List</a></li>
  <li><a href="https://www.energy.gov/eere/buildings/downloads/data-preparation-process-buildings-performance-database" class="color-3 bold-link" target="_blank">BPD Data Preparation Process</a></li>
  <li><a href="https://www.energy.gov/eere/buildings/downloads/bpd-security" class="color-3 bold-link" target="_blank">BPD Security</a></li>
</ul>