<h2 class="mat-h2 mb-4">Links for Developers</h2>

<p>The BPD features an application programming interface, which enables external software tools to run analytical queries on the dataset and incorporate the results into their own products. Browse the resources below to learn more.</p>

<ul>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/access" class="color-3 bold-link" target="_blank">How to Access the API <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/api-fields" class="color-3 bold-link" target="_blank">List of Fields <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/api-functions" class="color-3 bold-link" target="_blank">List of Functions <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/examples" class="color-3 bold-link" target="_blank">Filtering Examples <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/security" class="color-3 bold-link" target="_blank">Security <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
  <li><a href="https://sites.google.com/a/lbl.gov/bpd-api-documentation/home/glossary" class="color-3 bold-link" target="_blank">Glossary <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
</ul>
