<h2 class="mat-h3 mb-4">Resources</h2>
<p>The following documents are available to help you understand and use the SEED Platform. Click on the sections below to expand</p>

<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header>
    <mat-panel-title>
      User Documentation
    </mat-panel-title>
  </mat-expansion-panel-header>
  <h3 class="mat-h5">Importing Data</h3>
  <h4 class="mat-h6">Importing Meter Data</h4>
  <p>SEED 2.6.0 incorporates the ability to import interval meter data. The document linked below explains how to import meter data from ENERGY STAR Portfolio Manager and Green Button files</p>

  <ul>
    <li><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_6_%20Meter%20Data.pdf" target="_blank" class="color-2">Meter Data (PDF)</a></li>
  </ul>

  <h3 class=" mat-h3 mt-4">Field Mappings</h3>
  <p>List of SEED field names for Mapping data</p>

  <ul><li><a href="https://seed-platform.org/resources/MappingFieldstotheSEEDdatabase.pdf" target="_blank" class="color-2">Field Mappings (PDF)</a></li></ul>

  <h3 class="mat-h3 mt-4">Data Cleansing Rules</h3>
  <p>List of currently implemented data cleansing rules</p>

  <ul><li><a href="https://seed-platform.org/resources/DataCleansing.pdf" target="_blank" class="color-2">Cleansing Rules (PDF)</a></li></ul>
        
  <h3 class="mat-h3 mt-4">Filtering</h3>
  <ul>
    <li><a href="https://seed-platform.org/resources/SEED%20Filtering.pdf" target="_blank" class="color-2">SEED Filtering in Lists (PDF)</a></li>
    <li><a href="https://seed-platform.org/resources/Data%20Quality%20Checking%20with%20Filters-Labels.swf" target="_blank" class="color-2">Data Quality Checks with Filters-Labels (Video)</a></li>
  </ul>

  <h3 class="mat-h3 mt-4">GIS Features</h3>
  <p>SEED v2.5.0 and above incorporates some GIS functionality</p>

  <ul><li><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_5_%20GIS%20Features.pdf" target="_blank" class="color-2">GIS Features (PDF)</a></li></ul>

  <h3 class="mat-h3 mt-4">Excel™ Files</h3>
  <h4 class="mat-h4">Multi-Tab Files</h4>
  <p>Multi-tab Microsoft Excel™ files are only partially supported by SEED. It can read a Microsoft Excel™ file that has multiple tabs, but it will only read the first tab, so make sure that the data you want the program to import is in the first tab. If the mapping screen only has one field in it, this might be the problem.</p>

  <h4 class="mat-h4">Date Fields in Excel™ Files</h4>
  <p>If you are importing an Excel™ file (XLS, XLXS) into SEED, make sure that any field defined with a "date" format in Excel™ actually has data in it that is a date. If a field has non-date data (such as an integer) in a date-formatted field, SEED will not import that record.</p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      References
    </mat-panel-title>
  </mat-expansion-panel-header>
  <h3 class="mat-h3">Publications</h3>
  <ul>
    <li>Taylor, C., Costa, M., Long, N. and Antonoff, J. <a href="https://aceee.org/files/proceedings/2016/data/papers/9_448.pdf" target="_blank" class="color-2">A National Framework for Energy Audit Ordinances"</a>, In 2016 ACEEE Summer Study on Energy Efficiency in Buildings, pp. 448–459. Pacific Grove, CA.</li>
    <li>Beddingfield, E., Duer-Balkind, M., Levine, A., Alschuler, E., and Brown, R. <a href="https://aceee.org/files/proceedings/2016/data/papers/7_324.pdf" target="_blank" class="color-2">“Putting Data to Work: Using Building Energy Performance Data to Expand the Market for Energy Efficiency in Buildings.”</a> In 2016 ACEEE Summer Study on Energy Efficiency in Buildings, pp. 324–335. Pacific Grove, CA.</li>
    <li>Aziz, A., Lasternas, B., Alschuler, E., Loftness, V., Wang, H., Mo, Y., Wang, T., Zhang, C., Sharma, S., and Stevens, I. <a href="https://www.osti.gov/biblio/1247127" target="_blank" class="color-2">“Supporting Building Portfolio Investment and Policy Decision Making through an Integrated Building Utility Data Platform.”</a> In Improving Energy Efficiency in Commercial Buildings & Smart Communities Conference, Mar. 2016.</li>
    <li>Alschuler, A., Antonoff, J., Brown, R., and Cheifetz, M. <a href="http://aceee.org/files/proceedings/2014/data/papers/4-274.pdf" target="_blank" class="color-2">Planting SEEDs: Implementation of a Common Platform for Building Performance Disclosure Program Data Management"</a>, In 2014 ACEEE Summer Study on Energy Efficiency in Buildings, pp. 274–284. Pacific Grove, CA.</li>
    <li>Taylor, C., Mathew, P., Hernandez, G., & Mercado, A. (2012). <a href="https://www.aceee.org/files/proceedings/2012/data/papers/0193-000384.pdf" target="_blank" class="color-2">Standard Energy Efficiency Data ( SEED ) Platform : A Tool to Track and Transact Energy Data.</a> 2012 ACEEE Summer Study on Energy Efficiency in Buildings, 289–297.</li>
  </ul>

  <h3 class="mat-h3 mb-4">SEED-Adjacent Publications</h3>
  <ul>
    <li>DeGraw, Jason, Kristin Field-Macumber, Nicholas Long, and Supriya Goel. 2018. <a href="https://buildingsync.net/documents/DeGraw-ACEEE-BuildingSync-in-Action.pdf" target="_blank" class="color-2">“BuildingSync® in Action : Example Implementations.”</a> In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12. Pacific Grove, CA.</li>
  </ul>

  <h3 class="mat-h3 mb-4">Presentations</h3>
  <ul>
    <li>05/19/2020. NREL. <a href="https://nrel-seed.s3.amazonaws.com/resources/2020-05-19%20-%20SEED%20Advanced%20Features%20Webinar.mp4" target="_blank" class="color-2">SEED Advanced Features webinar</a> and <a href="https://nrel-seed.s3.amazonaws.com/resources/2020-05-19%20-%20SEED%20Sample%20Files.zip" target="_blank" class="color-2">sample files</a></li>
    <li>04/20/2020. <a href="https://nrel-seed.s3.amazonaws.com/resources/Introduction%20to%20SEED.pdf" target="_blank" class="color-2">Introduction to SEED presentation</a></li>
    <li>04/20/2020. LBNL. <a href="https://nrel-seed.s3.amazonaws.com/resources/2020-04-29%20-%20Introduction%20to%20SEED%20Webinar.mp4" target="_blank" class="color-2">Introduction to SEED webinar</a></li>
    <li>08/05/2019. <a href="https://nrel-seed.s3.amazonaws.com/resources/SEED%20Platform%20V2_6_%20Meter%20Data.pdf" target="_blank" class="color-2">Importing Meter Data into SEED</a></li>
    <li>11/05/2018. LBNL. <a href="https://nrel-seed.s3.amazonaws.com/resources/SEED%20Platform%20V2_4%20Getting%20Started%20Guide.pdf" target="_blank" class="color-2">SEED Platform Overview</a></li>
    <li><a href="https://nrel-seed.s3.amazonaws.com/resources/SEED_Factsheet_City.pdf" target="_blank" class="color-2">SEED for Cities</a> Factsheet.</li>
    <li><a href="https://nrel-seed.s3.amazonaws.com/resources/SEED_Overview_OpenSource_0.pdf" target="_blank" class="color-2">SEED: Why Open Source?</a> Factsheet.</li>
  </ul>
</mat-expansion-panel>