<h2 class="mat-h3 mb-4">Resources</h2>
<p>The following documents are available to help you understand and use the SEED Platform. Click on the sections below to expand</p>

<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-2">
      User Documentation
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h3 class="mat-h3 mb-4">Installation</h3>
  <p>SEED is a web-based database tool, and therefore must be "hosted" on a web server. It is not designed to be installed on an end-user's desktop computer. There are several options for how SEED can be hosted. The following information will help you select an appropriate type of SEED instance.</p>

  <p>If you are a developer, consult the <a href="https://seed-platform.readthedocs.io/en/latest/getting_started.html" target="_blank" class="color-2">Developer Getting Started Guide</a> for detailed instructions on how to install the SEED Platform locally for development purposes.</p>

  <h4 class="mat-h4 ml-3">Third-Party Hosting</h4>
  <p class="ml-3">SEED can be hosted by third-party hosting providers, who will provide access to a SEED account. Providers will be LBNL-approved and will be responsible for keeping up with the updates to the code. See the <a routerLink="/seed/allies">Technical Allies page</a> for current hosting providers.</p>

  <h4 class="mat-h4 ml-3">Self-Hosted</h4>
  <p class="ml-3">Organizations may want to host their own SEED installation. This requires the SEED source code, installation scripts, and installation instructions, all of which are available on <a href="https://github.com/SEED-platform/seed" target="_blank">GitHub</a>. Note that SEED is a server-based web application that is not designed to be installed on an end-user's desktop computer. Self-hosting SEED requires some experience with server and database administration and will usually require the involvement of an organization's IT department for installation and operation of a SEED instance.</p>

  <h4 class="mat-h4 ml-3">Temporary Test Account Through LBNL</h4>
  <p class="ml-3">We are currently open to creating temporary test accounts for state and local governments and/or their relevant service providers that are exploring or in the process of implementing a building energy benchmarking ordinance. For more information, visit the <a href="https://seed-platform.org/lbnl/" target="_blank" class="color-2">LBNL SEED Platform page</a>.</p>

  <h3 class="mat-h3 mb-4">Data Guides</h3>
  <p>The following guides detail the SEED import process and supported data types:</p>

  <div class="mb-4" fxLayoutAlign="center">
    <table class="table table-striped">
      <tr><th>Version</th><th>Date</th><th>Description</th></tr>
      <tr><td><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_6_1%20Patch_%20Mapping%20and%20Merging.pdf" target="_blank" class="color-2">2.6.1 <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></td><td>01/16/2020</td><td>Mapping and merging data overview </td></tr>
      <tr><td><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_6_%20Meter%20Data.pdf" target="_blank" class="color-2">2.6.0 <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></td><td>08/09/2019</td><td>Overview of the new Meter Data features added to SEED release 2.6.0</td></tr>
      <tr><td><a href="https://docs.google.com/a/lbl.gov/viewer?a=v&pid=sites&srcid=bGJsLmdvdnxzZWVkfGd4OjZmMjJkYjc4ZDJkMmE4MjQ" target="_blank" class="color-2">2.5.1</a></td><td>08/26/2019</td><td>Overview of the GIS functionality available in SEED</td></tr>
      <tr><td><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_4%20Getting%20Started%20Guide.pdf" target="_blank" class="color-2">2.4.0 <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></td><td>10/05/2018</td><td>Overview of the main features in the program, with the basic steps to get started</td></tr>
    </table>
  </div>

  <h3 class="mat-h5">Importing Data</h3>
  <h4 class="mat-h6">Importing Meter Data</h4>
  <p>SEED 2.6.0 incorporates the ability to import interval meter data. The document linked below explains how to import meter data from ENERGY STAR Portfolio Manager and Green Button files</p>

  <ul>
    <li><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_6_%20Meter%20Data.pdf" target="_blank" class="color-2">Meter Data <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></li>
  </ul>

  <h3 class=" mat-h3 mt-4">Field Mappings</h3>
  <p>List of SEED field names for Mapping data</p>

  <ul><li><a href="https://seed-platform.org/resources/MappingFieldstotheSEEDdatabase.pdf" target="_blank" class="color-2">Field Mappings <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></li></ul>

  <h3 class="mat-h3 mt-4">Data Cleansing Rules</h3>
  <p>List of currently implemented data cleansing rules</p>

  <ul><li><a href="https://seed-platform.org/resources/DataCleansing.pdf" target="_blank" class="color-2">Cleansing Rules <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></li></ul>

  <h3 class="mat-h3 mt-4">Filtering</h3>
  <ul>
    <li><a href="https://seed-platform.org/resources/SEED%20Filtering.pdf" target="_blank" class="color-2">SEED Filtering in Lists <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></li>
    <li><a href="https://seed-platform.org/resources/Data%20Quality%20Checking%20with%20Filters-Labels.swf" target="_blank" class="color-2">Data Quality Checks with Filters-Labels <img src="/assets/images/icon_video.gif" alt="video"></a></li>
  </ul>

  <h3 class="mat-h3 mt-4">GIS Features</h3>
  <p>SEED v2.5.0 and above incorporates some GIS functionality</p>

  <ul><li><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_5_%20GIS%20Features.pdf" target="_blank" class="color-2">GIS Features <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></li></ul>

  <h3 class="mat-h3 mt-4">Excel™ Files</h3>
  <h4 class="mat-h4">Multi-Tab Files</h4>
  <p>Multi-tab Microsoft Excel™ files are only partially supported by SEED. It can read a Microsoft Excel™ file that has multiple tabs, but it will only read the first tab, so make sure that the data you want the program to import is in the first tab. If the mapping screen only has one field in it, this might be the problem.</p>

  <h4 class="mat-h4">Date Fields in Excel™ Files</h4>
  <p>If you are importing an Excel™ file (XLS, XLXS) into SEED, make sure that any field defined with a "date" format in Excel™ actually has data in it that is a date. If a field has non-date data (such as an integer) in a date-formatted field, SEED will not import that record.</p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="color-2">
      References
    </mat-panel-title>
  </mat-expansion-panel-header>
  <h3 class="mat-h3">Publications</h3>
  <ul>
    <li>Taylor, C., Costa, M., Long, N. and Antonoff, J. <a href="https://aceee.org/files/proceedings/2016/data/papers/9_448.pdf" target="_blank" class="color-2">"A National Framework for Energy Audit Ordinances." <img src="/assets/images/icon_pdf.gif" alt="PDF"></a>, In 2016 ACEEE Summer Study on Energy Efficiency in Buildings, pp. 448–459. Pacific Grove, CA.</li>
    <li>Beddingfield, E., Duer-Balkind, M., Levine, A., Alschuler, E., and Brown, R. <a href="https://aceee.org/files/proceedings/2016/data/papers/7_324.pdf" target="_blank" class="color-2">"Putting Data to Work: Using Building Energy Performance Data to Expand the Market for Energy Efficiency in Buildings." <img src="/assets/images/icon_pdf.gif" alt="PDF"></a> In 2016 ACEEE Summer Study on Energy Efficiency in Buildings, pp. 324–335. Pacific Grove, CA.</li>
    <li>Aziz, A., Lasternas, B., Alschuler, E., Loftness, V., Wang, H., Mo, Y., Wang, T., Zhang, C., Sharma, S., and Stevens, I. <a href="https://www.osti.gov/biblio/1247127" target="_blank" class="color-2">“Supporting Building Portfolio Investment and Policy Decision Making through an Integrated Building Utility Data Platform.”</a> In Improving Energy Efficiency in Commercial Buildings & Smart Communities Conference, Mar. 2016.</li>
    <li>Alschuler, A., Antonoff, J., Brown, R., and Cheifetz, M. <a href="http://aceee.org/files/proceedings/2014/data/papers/4-274.pdf" target="_blank" class="color-2">Planting SEEDs: Implementation of a Common Platform for Building Performance Disclosure Program Data Management" <img src="/assets/images/icon_pdf.gif" alt="PDF"></a>, In 2014 ACEEE Summer Study on Energy Efficiency in Buildings, pp. 274–284. Pacific Grove, CA.</li>
    <li>Taylor, C., Mathew, P., Hernandez, G., & Mercado, A. (2012). <a href="https://www.aceee.org/files/proceedings/2012/data/papers/0193-000384.pdf" target="_blank" class="color-2">Standard Energy Efficiency Data ( SEED ) Platform : A Tool to Track and Transact Energy Data. <img src="/assets/images/icon_pdf.gif" alt="PDF"></a> 2012 ACEEE Summer Study on Energy Efficiency in Buildings, 289–297.</li>
  </ul>

  <h3 class="mat-h3 mb-4">SEED-Adjacent Publications</h3>
  <ul>
    <li>DeGraw, Jason, Kristin Field-Macumber, Nicholas Long, and Supriya Goel. 2018. <a href="https://buildingsync.net/documents/DeGraw-ACEEE-BuildingSync-in-Action.pdf" target="_blank" class="color-2">"BuildingSync® in Action : Example Implementations." <img src="/assets/images/icon_pdf.gif" alt="PDF"></a> In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12. Pacific Grove, CA.</li>
  </ul>

  <h3 class="mat-h3 mb-4">Presentations</h3>
  <ul>
    <li>05/19/2020. NREL. <a href="https://nrel-seed.s3.amazonaws.com/resources/2020-05-19%20-%20SEED%20Advanced%20Features%20Webinar.mp4" target="_blank" class="color-2">SEED Advanced Features webinar <img src="/assets/images/icon_video.gif" alt="video"></a> and <a href="https://nrel-seed.s3.amazonaws.com/resources/2020-05-19%20-%20SEED%20Sample%20Files.zip" target="_blank" class="color-2">sample files</a></li>
    <li>04/20/2020. LBNL. <a href="https://nrel-seed.s3.amazonaws.com/resources/Introduction%20to%20SEED.pdf" target="_blank" class="color-2">Introduction to SEED presentation <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></li>
    <li>04/20/2020. LBNL. <a href="https://nrel-seed.s3.amazonaws.com/resources/2020-04-29%20-%20Introduction%20to%20SEED%20Webinar.mp4" target="_blank" class="color-2">Introduction to SEED webinar <img src="/assets/images/icon_video.gif" alt="video"></a></li>
    <li>08/05/2019. <a href="https://nrel-seed.s3.amazonaws.com/resources/SEED%20Platform%20V2_6_%20Meter%20Data.pdf" target="_blank" class="color-2">Importing Meter Data into SEED<img src="/assets/images/icon_pdf.gif" alt="PDF"></a></li>
    <li>11/05/2018. LBNL. <a href="https://nrel-seed.s3.amazonaws.com/resources/SEED%20Platform%20V2_4%20Getting%20Started%20Guide.pdf" target="_blank" class="color-2">SEED Platform Overview <img src="/assets/images/icon_pdf.gif" alt="PDF"></a></li>
    <li><a href="https://nrel-seed.s3.amazonaws.com/resources/SEED_Factsheet_City.pdf" target="_blank" class="color-2">SEED for Cities <img src="/assets/images/icon_pdf.gif" alt="PDF"></a> Factsheet.</li>
    <li><a href="https://nrel-seed.s3.amazonaws.com/resources/SEED_Overview_OpenSource_0.pdf" target="_blank" class="color-2">SEED: Why Open Source? <img src="/assets/images/icon_pdf.gif" alt="PDF"></a> Factsheet.</li>
  </ul>
</mat-expansion-panel>
