<app-tools-overview>
  <div slot="left">
    <h3>Maintenance & Compliance</h3>
    <p>Would you like to easily store, share and analyze your building data without spreadsheets? The SEED Platform makes it possible.</p>
  </div>
  <div slot="right" fxLayout="column">
    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/seed-logo-horizontal.svg" alt="SEED Logo" routerLink="/seed">
      </div>
      <div class="description">
        <p>SEED is a central database for building energy data. It was developed as an enterprise-grade solution to the problems associated with manual, spreadsheet-based processes. <a routerLink="/seed">Learn more.</a></p>
      </div>
    </div>
  </div>
</app-tools-overview>
