<app-tools-overview>
  <div slot="left">
    <h3>Maintenance & Compliance</h3>
    <p>Once you've collected audit and consumption data, you'll need a place to store it and monitor compliance. That's where the Standard Energy Efficiency Data (SEED) Platform comes in – it's a one-stop database shop for building-related datasets. Click 'Learn more' on the right to discover what SEED can do for your organization.</p>
  </div>
  <div slot="right" fxLayout="column">
    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/seed-logo-horizontal.svg" alt="SEED Logo" routerLink="/seed">
      </div>
      <div class="description">
        <p>The SEED Platform is a central database for building energy data. It merges information from Portfolio Manager, Audit Template, and other datasets in one place, behind one intuitive interface. Because SEED automates so many manual, time-intensive processes, even organizations with severely limited resources and staff can use it to achieve their program goals. <a routerLink="/seed">Learn more.</a></p>
      </div>
    </div>
  </div>
</app-tools-overview>
