<p>Asset Score is a "miles-per-gallon" rating for buildings. Use it to quickly assess a building's efficiency and see the best upgrades for reaching performance goals.</p>
<div class="callout">
  <div class="btn-type-3 p-3 ">
    <p>"Asset Score enables insight into the energy efficiency and the potential efficiency of any building. Modeling the building in the tool is easy to do and the output is a report that includes cost-benefit upgrades to further drive down energy consumption."</p>
    <p class="pl-5">— Michael Weingarten, Efficiency Program Manager</p>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="60">
    <p class="bold">With Asset Score, you can easily:</p>
    <ul>
      <li>Implement an audit, retrocommissioning or building performance standard policy.</li>
      <li>View a building's current and potential efficiency score on a 1-10 scale.</li>
      <li>Share cost-effective upgrade measures with building owners.</li>
      <li>See the efficiency of individual building systems.</li>
      <li>Estimate energy consumption by end use.</li>
      <li>Compare the efficiency of different buildings.</li>
      <li>Share efficiency information with partners and stakeholders.</li>
      <li>Communicate progress towards efficiency goals.</li>
      <li>Leverage expert support from DOE and the Pacific Northwest National Laboratory.</li>
    </ul>
  </div>
  <!-- <div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
    <img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
  </div> -->
</div>
  <p>Get started by <a href="https://buildingenergyscore.energy.gov/#:~:text=Asset%20Score%20is%20a%20national%20standardized%20tool%20that,retrofit%20potentials%20of%20commercial%20buildings%20using%20whole-building%20simulation." target="_blank" class="color-3">signing up</a> for a free Asset Score account.</p>
  <p>To learn more, view the the  <a href="https://betterbuildingssolutioncenter.energy.gov/webinars/training-introduction-asset-score" target="_blank" class="color-3">Introduction to Asset Score</a> presentation, explore the additional resources on this page or contact BTODataTools@ee.doe.gov.</p>

<!-- <div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="50">
    <iframe width="90%" height="70%" src="https://www.youtube.com/embed/A9THtQg5lHU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div fxFlex="50">
    <p>The Building Energy Asset Score (Asset Score) is a free, web-based tool for assessing the physical and structural energy efficiency of commercial and multifamily residential buildings. </p>
    <p>Asset Score assesses the energy efficiency of building assets (including envelope, mechanical, electrical and service hot water systems) and generates an Energy Asset Score Report which includes: </p>
      <ul>
        <li>An overall efficiency score ranging from 1-10</li>
        <li>An energy efficiency assessment of the building’s individual systems</li>
        <li>Total estimated building energy usage under standard operation and by end use</li>
        <li>Opportunities to improve building efficiency, and a “potential” energy efficiency score based on identified upgrades</li>
      </ul>
    <p>Because Asset Score reflects the energy efficiency of a building based solely on its design, construction, and energy systems, users can:</p>
      <ul>
        <li>Quickly compare the physical energy efficiency of their building with other buildings</li>
        <li>Communicate building efficiency to the marketplace</li>
        <li>Identify opportunities to invest in energy efficiency upgrades</li>
      </ul>
    <h3 class="mat-h3 color-3">Getting Started</h3>
    <p>To get started, <a href="https://buildingenergyscore.energy.gov/d/users/sign_up" target="_blank" class="color-3">register for an Asset Score account</a>. View the Introduction to Asset Score webinar on this page and review the additional resources on this page as well as the <a href="https://help.buildingenergyscore.com/support/home" class="color-3" target="_blank">Asset Score User Guide</a>. </p>
  </div>
</div>
 -->
<mat-expansion-panel class="mb-1">
  <mat-expansion-panel-header>
    <mat-panel-title class="color-3">
      Asset Score & ENERGY STAR Portfolio Manager 
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="row" class="mb-4">
    <div fxFlex="50" fxLayoutGap="20px">
      <p>An ENERGY STAR Portfolio Manager score enables the comparison of buildings based on their energy consumption, as indicated by actual energy bills (how a building <strong>actually</strong> performs based on use). The Portfolio Manager score may reflect how efficiently a building is operated and maintained.</p>
      <p>Asset Score reflects the energy efficiency of a building based solely on its design, construction, and energy systems (how a building <strong>should</strong> perform based on construction). Think of it as a “miles per gallon” sticker for buildings.</p>
    </div>
   <!--  <div fxFlex="50" fxLayoutGap="20px" class="my-auto" fxLayoutAlign="center center"><img src="assets/md/asset-score/img/asset-score-chart.png" alt="diagram of improvement recommendations based on asset score and portfolio manager score" width="90%" >
    </div> -->
  </div>
  <p>Using Asset Score and Portfolio Manager together provides powerful information that can identify energy upgrades and improvements in building operations. For example, in the graphic above: </p>
    <ul>
      <li>A building that receives a low ENERGY STAR score and a high Asset Score may benefit from a re-tuning or retrocommissioning.</li>
      <li>A building that receives a high ENERGY STAR score and a low Asset Score may benefit from some capital improvements. </li>
    </ul>
  <p>The <a href="https://www.seattle.gov/environment/climate-change/buildings-and-energy/building-tune-ups/tune-up-accelerator" target="_blank" class="color-3">Seattle Building Tune-Up Accelerator Program</a> recently used both tools in this way; their website includes information on the program, including a link to a recorded webinar and a case study.</p>
</mat-expansion-panel>