<h2 class="mat-h2 mb-4">Resources</h2>

<ul>
  <li><a href="https://buildings.lbl.gov/sites/default/files/bpd-overview.pdf" target="_blank" class="color-3 bold-link">BPD Overview <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>

  <li><a href="https://buildings.lbl.gov/sites/default/files/big-data-for-building-energy-performance.pdf" target="_blank" class="color-3 bold-link">Big data for building energy performance <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>

  <li><a href="https://buildings.lbl.gov/sites/default/files/big-data-analytics-in-the-building-industry.pdf" target="_blank" class="color-3 bold-link">Big data analytics in the building industry <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>

  <li><a href="https://buildings.lbl.gov/sites/default/files/getting-real-with-energy-data.pdf" target="_blank" class="color-3 bold-link">Getting real with energy data <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>

  <li><a href="https://buildings.lbl.gov/sites/default/files/is-the-bpd-nationally-representative.pdf" target="_blank" class="color-3 bold-link">Is the BPD nationally representative? <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>

  <li><a href="https://buildings.lbl.gov/sites/default/files/data-preparation-process-for-the-bpd.pdf" target="_blank" class="color-3 bold-link">BPD data preparation process <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>

  <li><a href="https://buildings.lbl.gov/sites/default/files/a-regression-based-approach-to-estimating-retrofit-savings-using-the-bpd.pdf" target="_blank" class="color-3 bold-link">A regression-based approach to estimating retrofit savings <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>

  <li><a href="https://buildings.lbl.gov/sites/default/files/bpd-privacy-terms.pdf" target="_blank" class="color-3 bold-link">BPD Privacy Terms <span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a></li>
</ul>
