@import "theme";

html {
  font-family: 'Figtree', sans-serif;
}

body {
  font-family: 'Figtree', sans-serif;
}

.mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
  font-family: 'Figtree', sans-serif !important;
}

*:focus {
  outline: 2px solid #005FCC;
}

:host {
  display: flex;
  flex-direction: column !important;
  /*max-width: $maxWidth;*/
  min-height: 100%;
  margin: 0 auto;
}

.skip-link {
  background: #ffff;
  height: 30px;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}
