<p>Does your organization have a "natural key" to unlock the power of its building-related data? Natural keys — like a VIN or Social Security number — are based on real-world attributes. Datasets with natural keys are much more powerful and require much less staff time to manage.</p>

    <p>Addresses and lot numbers are "pseudo" keys. They can refer to more than one building and are prone to data entry errors. Datasets with pseudo keys are very hard to connect and difficult to manage.</p>  
    <div class="callout">
  <div class="btn-type-1 p-3 ">
    <p>"When you're working with datasets that are dependent on addresses, you realize what terrible identifiers they are."</p>
    <p class="pl-5">— Steven Inclan, Miami-Dade County Information Technology Department</p>
    <p>The Unique Building Identifier (UBID) is a natural key for buildings based on geospatial coordinates. Juridictions including Miami-Dade County, the District of Columbia and Portland, Maine have used UBIDs to unlock their data's potential and streamline program implementations.</p>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="60">
    <p class="bold">With UBIDs, you can easily:</p>
    <ul>
      <li>Implement benchmarking, audit and building performance standard policies.</li>
      <li>Generate a truly unique ID for any building.
      <li>Simplify reporting for building owners.</li>
      <li>Connect complementary datasets across your organization, unlocking the power of data.
      <li>Spend less time collecting, cleaning and managing building data.</li>
      <li>Improve the quality and usefulness of data.</li>
      <li>Consistently track a building's benchmarking and audit results over multiple reporting periods.</li>
      <li>Leverage expert support from DOE and the Pacific Northwest National Laboratory.</li>
    </ul>
  </div>
  <div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
    <img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
  </div>
</div>
  <p>Get started by accessing the <a href="https://github.com/pnnl/buildingid" target="_blank" class="color-1">UBID toolkit</a>.</p>
  <p>To learn more, explore the additional resources on this page or contact BTODataTools@ee.doe.gov.</p>
  

<!-- <div fxLayout="row">
  <section fxFlex="50" fxLayoutGap="30px">
    <p>The Unique Building ID (UBID) is a unique identification system for buildings and other objects that offers a standardized framework under which a unifying field is used to match building data from across various sources to a single object. It facilitates data management and sharing by reducing the risk of mismatching or duplicating data, and it eases the burden of data exchange.</p>
    <p>UBIDs are a solution to the problem of consistently identifying buildings or other spatial objects within and across datasets. The UBID generation tool is a computer program that creates unique record numbers based on the two-dimensional spaces on a map occupied by building footprints, tax lots, or other datapoints of interest. Assigning IDs to the space an object occupies yields a more effective, consistent, and reliable identifier than building addresses, parcel numbers, or in-house serial numbers. Governments that implement UBIDs can streamline systems that track changes to building ownership, tax permit status, or other data across departments – cutting administrative overhead and gaining powerful capabilities. </p>
    <p class="mr-4">In the context of a BEPS program, for example, a building and its annual benchmarking data can be consistently linked across many years, even if it were to change owners, ENERGY STAR Portfolio Manager ID numbers, or other attributes. </p>
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>Why UBIDs? For data to be useful, its associated objects must be identified consistently. Unfortunately, building-related datasets are notoriously inconsistent; the same structure might appear as “123 First Street” in one database, “123 1st St.” in another, and “118 1st St.” (a data entry error) in a third. While a human in the loop can easily see that the first two addresses refer to the same building, a computer would struggle to do so. Why does it matter if the same object has different names? Suppose the three databases above hold different information about the building at 123 First Street. Because each one calls it something else (one of the three street addresses), the user may never recognize that each database has relevant information about the same building! “Siloed” datasets like this are less valuable and more difficult to maintain than connected datasets.</p>

    <h3 class="mat-h3 color-5">Getting Started</h3>
    <p>We invite you to learn more about how the UBID can help your organization implement or improve its building energy programs or make your building datasets more meaningful, actionable and sharable. Take a look at the UBID Public Sector Implementation Guide, review the other resources on this page, and let us know how we can help at [Groups.io and/or BuildingID@pnnl.gov].</p>
  </section>
</div> -->