<h2 class="mat-h3 mb-4">Pilots</h2>

<p>Several organizations piloted the OpenEfficiency Platform.</p>
<p>Read about their experiences to discover what the OEP can do for your organization.</p>

<ul>
	<li><a href="https://psdconsulting.com/oep-documents/Assessment-of-Common-Barriers-and-Potential-Solutions.pdf" target="_blank">Assessment of Barriers and Opportunities for Solutions for Whole Building Programs Barriers Report</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/SFE-Case-Study.pdf" target="_blank">San Francisco Pilot Summary</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/TEC-Case-Study.pdf" target="_blank">TEC Pilot Summary</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/Xcel-Energy-Case-Study.pdf" target="_blank">Xcel Energy Pilot Summary</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/VEIC-Case-Study.pdf" target="_blank">VEIC Pilot Summary</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/Commons-Energy-Case-Study.pdf" target="_blank">Commons Energy Pilot Summary</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/ACEEE-Paper.pdf" target="_blank">ACEEE Summary of OEP Pilots</a></li>
</ul>

