<h2 class="mat-h3 mb-4">Pilots</h2>

<p>The project was focused on reducing the cost of program operation and supporting obtaining deeper savings for efficiency programs.  The programs addressed in the pilots were administered by a wide range of parties, an investor owned utility (Xcel Energy), an efficiency utility (Efficiency Vermont), a ratepayer funded local government (Los Angeles County and their contractor The Energy Coalition), a public purpose Energy Service Company (Commons Energy) and a municipality administering a benchmarking and audit mandate (City of San Francisco).  The project also identified a range of relevant barriers that program administrators encounter in implementing whole building programs and noted how the Federal tools and the OEP technology could be used to address these barriers.   View the several reports detailing these outcomes below:</p>

<ul>
	<li><a href="https://psdconsulting.com/oep-documents/Assessment-of-Common-Barriers-and-Potential-Solutions.pdf" target="_blank">Assessment of Barriers and Opportunities for Solutions for Whole Building Programs Barriers Report</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/SFE-Case-Study.pdf" target="_blank">San Francisco Pilot Description</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/TEC-Case-Study.pdf" target="_blank">TEC Pilot Description</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/Xcel-Energy-Case-Study.pdf" target="_blank">Xcel Energy</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/VEIC-Case-Study.pdf" target="_blank">VEIC Pilot</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/Commons-Energy-Case-Study.pdf" target="_blank">Commons Energy Pilot</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/OEP-California-Stategy.pdf" target="_blank">California Market Report</a></li>
	<li><a href="https://psdconsulting.com/oep-documents/ACEEE-Paper.pdf" target="_blank">ACEEE Paper and Presentation</a></li>
</ul>

