<p>Would you like to see how a building stacks up against real-world peers? The Building Performance Database (BPD) features measured performance data for over 1 million U.S. buildings — the largest public collection of such information available.</p>
<div class="callout">
  <div class="btn-type-1 p-3 ">
    <p>"The BPD is a valuable source of information with powerful filters. Being able to filter by climate zone, building type, building construction year, and building square footage gives us key benchmarking data, even before we visit a facility."</p>
    <p class="pl-5">— Maribella Ibarra, Energy Consultant at VEIC</p>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="60">
    <p class="bold">With the BPD, you can easily:</p>
    <ul>
      <li>View the real-world performance of existing buildings.</li>
      <li>See the energy use, location and characteristics of over one million U.S. buildings.</li>
      <li>Compare buildings to customized peer groups.</li>
      <li>Forecast energy savings of upgrade measures.</li>
      <li>Identify buildings and measures with the greatest savings potential.</li>
      <li>Filter data based on building type, location, size, age, occupancy and system characteristics.</li>
      <li>Visualize information with custom graphs.</li>
      <li>Use data to set program efficiency targets.</li>
      <li>Leverage BPD data in your own tools, products or applications via the API.</li>
    </ul>
  </div>
  <div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
    <img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
  </div>
</div>
  <p><a href="https://bpd.lbl.gov/" target="_blank" class="color-1">Sign up</a> for a free BPD account.
  <p>View the <a href="https://betterbuildingssolutioncenter.energy.gov/videos/introduction-building-performance-database-bpd" target="_blank" class="color-1">Introduction to BPD</a> presentation or contact BTODataTools@ee.doe.gov to schedule an expert consultation.</p>

<!-- <div fxLayout="row" fxLayoutAlign="space-around">
  <section fxFlex="50" fxLayoutGap="20px">
    <iframe width="90%" height="90%" src="https://www.youtube.com/embed/jyCnw5uZ_6k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>The Building Performance Database (BPD) is the nation's largest dataset of information about the energy-related characteristics of commercial and residential buildings. The BPD combines, cleanses and anonymizes data collected by federal, state and local governments, utilities, energy efficiency programs, building owners and private companies, and makes it available to the public. The website allows users to explore the data across real estate sectors and regions, and compare various physical and operational characteristics to gain a better understanding of market conditions and trends in energy performance. 
    </p>
    <p>Product and service providers can also incorporate the results of BPD queries into their own products and services, via use of the application programming interface (API). </p>
  </section>
</div>

<div>
  <h3 class="mat-h3 color-3">Getting Started</h3>
  <div fxLayout="row" fxLayoutAlign="center center">
    <a mat-raised-button class="btn-type-3 mb-4" href="https://bpd.lbl.gov/">Register for an account to access the BPD Web Interface. <span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a>
  </div>
  
  <p>The BPD statistically analyzes the energy performance of physical and operational characteristics of real commercial and residential buildings, via two primary methods: <em>“Explore,”</em> which allows users to browse a single dataset within the BPD, and <em>“Compare,”</em> which allows users to compare multiple datasets within the BPD side-by-side. The BPD web interface includes a short walk-through tutorial for new users. </p> -->