<div fxLayout="row" fxLayoutAlign="space-around">
  <section fxFlex="50" fxLayoutGap="20px">
    <iframe width="90%" height="90%" src="https://www.youtube.com/embed/jyCnw5uZ_6k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>The Building Performance Database (BPD) is the nation's largest dataset of information about the energy-related characteristics of commercial and residential buildings. The BPD combines, cleanses and anonymizes data collected by federal, state and local governments, utilities, energy efficiency programs, building owners and private companies, and makes it available to the public. The website allows users to explore the data across real estate sectors and regions, and compare various physical and operational characteristics to gain a better understanding of market conditions and trends in energy performance. 
    </p>
    <p>Product and service providers can also incorporate the results of BPD queries into their own products and services, via use of the application programming interface (API). </p>
  </section>
</div>

<div>
  <h3 class="mat-h3 color-3">Getting Started</h3>
  <div fxLayout="row" fxLayoutAlign="center center">
    <a mat-raised-button class="btn-type-3 mb-4" href="https://bpd.lbl.gov/">Register for an account to access the BPD Web Interface. <span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a>
  </div>
  
  <p>The BPD statistically analyzes the energy performance of physical and operational characteristics of real commercial and residential buildings, via two primary methods: <em>“Explore,”</em> which allows users to browse a single dataset within the BPD, and <em>“Compare,”</em> which allows users to compare multiple datasets within the BPD side-by-side.</p>
  <h4 class="mat-h4 color-3">Using the Explore Tool</h4>
  <p>The Explore tool allows users to browse a single dataset within the BPD. It offers different data displays, including histogram, scatter plot, and table. Data can be filtered by more than 35 different parameters such as building type, location, floor area and others detailed below.
    Users can filter the dataset based on five parameter categories, which can be combined to narrow the display to specific records of interest. Your filtered dataset can also be saved, allowing you to retain the data you’ve been working with.
  </p>

  <p>The parameter categories include:</p>
  <ul>
    <li><strong>Building Classification:</strong> Data can be filtered into residential or commercial categories, as well as subcategories such as retail type, office type, multifamily and many others.</li>
    <li><strong>Location & Data source:</strong> Data can be filtered by climate zone, state, city, zip code and data source.</li>
    <li><strong>Building Information:</strong> Data can be filtered by year built, operating hours, number of people, occupant density, Floor area,  LEED score, LEED year, ENERGY STAR label, ENERGY STAR label year, ENERGY STAR rating, and ENERGY STAR rating year.</li>
    <li><strong>Building Systems:</strong> Data can be filtered by a variety of different building system types, including lighting, heating, heating fuel, cooling, window glass layers, window glass type, air flow control, wall insulation R-value, wall type, and roof and ceiling.</li>
    <li><strong>Energy Use Intensity:</strong> Data can be filtered by source EUI, fuel EUI, site EUI or electric EUI, as well as the year of the energy data.</li>
  </ul>

  <p>The filtered data are displayed as a histogram, scatter plot and table. Each shows the energy performance distribution of the selected buildings in terms of the selected parameter or parameters.</p>
  <ul>
    <li><strong>Histogram:</strong> The histogram displays the data as a bar chart. Bars can be defined as specific counts or as a percentage of filtered records.</li>
    <li><strong>Scatter Plot:</strong> Displays the data as a scatter plot, with X and Y axes selected by the user.</li>
    <li><strong>Table:</strong> Displays summary statistical data for a given parameter, grouped by additional parameters. </li>
  </ul>

  <h4 class="mat-h4 color-3">Using the Compare Tool</h4>
  <p>Compare allows users to create two separate, filtered datasets and compare them using a number of different variables. The data can be filtered using the same parameters as the Explore tool. This feature is useful for determining, for example, the difference between buildings in different climate zones, or the difference between buildings with different technologies.</p>

  <ul>
    <li>Datasets can be filtered and compared based on the same parameters as the Explore function above.</li>
    <li>Allows users to conduct portfolio level analysis of the impacts of particular variables such as technology type or location.</li>
    <li>Results are presented as a histogram and scatter plot. The histogram shows the difference between the two datasets for the selected parameter and the scatterplot displays both datasets.</li>
    <li>Depending on data sparsity, the histogram may not take into account the relative impact of other building characteristics that may be correlated. For example, buildings with more efficient lighting may also have more efficient HVAC systems. Or buildings with more efficient systems may have more amenities and services which cause their energy use to be higher.</li>
  </ul>
</div>



