<p>The DOE-funded OpenEfficiency Platform (OEP) lets efficiency programs connect Portfolio Manager and SEED to Salesforce, automating many reporting processes. It features a Salesforce managed package, a MuleSoft API, implementation case studies, Salesforce email templates and more. Unlike custom solutions, the OEP can be quickly adopted without extensive training or prior experience.</p>

<div fxLayout="row">
  <div fxFlex="60">
  	<p class="bold">With the OpenEfficiency Platform, you can easily:</p>
		<ul>
			<li>Simplify and automate processes for building owners and program managers.</li>
			<li>Streamline data collection, storage, verification and reporting.</li>
			<li>Implement a simple, cost-effective and scalable reporting solution.</li>
			<li>Improve operations while reducing program costs.</li>
			<li>Reduce data processing time and errors.</li>
			<li>Identify upgrade candidates and notify building owners.</li>
			<li>Automate record updates from SEED to Salesforce.</li>
			<li>Use Salesforce to notify building owners of report and compliance status.</li>
			<li>Incorporate Asset Score modeling to inform incentive programs and meet climate goals.</li>
			<li>Do all the above with limited experience and training.</li>
		</ul>
	</div>
  <!-- <div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
		<img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
 	</div> -->
</div>
	<p>Discover how San Francisco's Department of Environment upgraded a spreadsheet-based audit and benchmarking program with the OEP in this <a href="https://psdconsulting.com/oep-documents/SFE-Case-Study.pdf" target="_blank" class="color-1">case study</a>.</p>
	<p>Access the open-source OEP tools in <a href="https://github.com/OpenEfficiencyPlatform/OEP" target="_blank" class="color-1">GitHub</a>, or contact <a href="https://psdconsulting.com/openefficiency-platform/" target="_blank" class="color-1">Performance Systems Development (PSD)</a> for configuration and hosting support on a fee-for-service basis.</p>

<!-- <p>OpenEfficiency Platform (OEP) is a U.S. Department of Energy-funded initiative to help commercial whole building energy efficiency programs be more efficient and gain more value from data. It involved pilots that focused on exploring use cases for existing Federal tools and industry standards and their integration to support programs. The graphic below shows how OpenEfficiency Platform tools integrate with each other and with other building energy data tools, such as SEED, Asset Score, and ENERGY STAR Portfolio Manager:</p>

<div fxLayoutAlign="center" class="mb-3">
  <img src="assets/images/OE-graphic.png" alt="Open energy platform diagram" width="80%"  />
</div>

<p>The OEP GitHub repository houses open source resources developed as part of this initiative; It includes folders for documentation of a full Benchmark use case, the OEI Salesforce Manged Package, and sample code for connecting to Energy Design Assistance Program Tracker (EDAPT), ENERGY STAR Portfolio Manager (ESPM), and Green Button Connect (GBC) OAuth 2.0:</p>

<ul>
  <li><a href="https://github.com/OpenEfficiencyPlatform/OEP/tree/master/SEED Benchmark" target="_blank">SEED Benchmark<span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a>: Dockered MuleSoft API for SEED to Salesforce OEP Managed Package benchmark use case. (This solution includes an <a href="https://github.com/OpenEfficiencyPlatform/OEP/blob/master/SEED Benchmark/guides/OEP Benchmark Implementation Guide.docx">Implementation Guide<span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a> and a <a href="https://github.com/OpenEfficiencyPlatform/OEP/blob/master/SEED Benchmark/guides/OEP Benchmark User Guide.docx">User Guide<span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a>)</li>

  <li><a href="https://github.com/OpenEfficiencyPlatform/OEP/tree/master/Salesforce Package" target="_blank">Salesforce Package<span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a>: Salesforce OEP Managed Package that supports efficiency program and benchmark use cases, is BEDES compliant, and includes fields mapped from ESPM, EDAPT, and Asset Score
  </li>
  <li><a href="https://github.com/OpenEfficiencyPlatform/OEP/tree/master/GBC OAuth 2.0" target="_blank">GBC OAuth 2.0<span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a>: MuleSoft API OAuth 2.0 example for Green Button Connect (GBC)</li>
  <li><a href="https://github.com/OpenEfficiencyPlatform/OEP/tree/master/ESPM" target="_blank">ESPM<span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a>: MuleSoft API example connection between ESPM and Salesforce</li>
  <li><a href="" target="_blank">EDAPT<span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a>: MuleSoft API example connection between EDAPT and Salesforce</li>
</ul>

<p>In addition to the open source tools, OEP has published case studies on how the Platform was able to help the cities of San Francisco and Berkeley. Performance Systems Development (PSD) is available to provide support for the configuration and hosting of these tools on a fee-for-service basis. </p>

<h2 class="mat-h2 color-5">Getting Started</h2>

<p>Visit <a href="https://psdconsulting.com/openefficiency-platform/#:~:text=Open Efficiency Platform (OEP) is an initiative to,industry standards and their integration to support programs." target="_blank">PSD’s OpenEfficiency hub<span class="ml-2 align-center"><i class="fas fa-external-link-alt"></i></span></a> for additional information and resources, or go directly to the OpenEfficiency GitHub repository to get started with the tools.</p>
 -->