<div fxLayout="row" fxLayoutAlign="space-around center" class="pb-5">
  <div fxFlex="75" fxFlex.xs="90">
    <p style="font-size:1.1em;">The Standard Energy Efficiency Data (SEED) Platform is a central database for building-related information. This enterprise-grade solution lets any organization deploy ambitious policies regardless of staff size.</p>
  </div>
  <div fxFlex="25" fxFlex.xs="90" class="pl-5">
    <a href="https://www.rdworldonline.com/rd-100-2022-winner/the-seed-platform-decarbonizing-cities-through-robust-data-management/"><img src="assets/images/rd100-winner.png" alt="2022 R&D 100 Winner" width="60%"></a>
  </div>
</div>

<div class="callout">
  <div class="btn-type-2 p-3">
    <p>"Spreadsheets weren't up to the job of supporting a new building performance standard — jurisdictions needed a true database. SEED made it easy to manage our data and I recommend it to any jurisdiction implementing a building energy policy."</p>
    <p class="pl-5">— Andrew Held, BEPS Coordinator at Washington, D.C.'s Department of Energy and Environment</p>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="60" fxFlex.xs="90">
    <p class="bold">With SEED, you can easily:</p>
    <ul>
      <li>Simplify data management.</li>
      <li>Improve data quality while reducing staff time.</li>
      <li>Automate spreadsheet-based workflows.</li>
      <li>Centralize all data in one place behind an easy-to-use dashboard.</li>
      <li>Convert data into actionable insights.</li>
      <li>Leverage the <a routerLink="/oep">OpenEfficiency Platform</a> to visualize data, notify buildings owners and more in Salesforce.
      <li>Export data to the <a routerLink="/bpd">Building Performance Database</a> and other tools for further analysis.</li>
      <li>Use geospatial data to visualize an entire building portfolio.</li>
      <li>Keep data secure and private.</li>
      <li>Leverage expert support from DOE and National Laboratories.</li>
    </ul>
  </div>
  <!-- <div fxFlex="40" fxLayoutGap="20px" fxLayoutAlign="center center">
    <img src="assets/md/audit-template/img/at-ondemand.svg" alt="cloud and arrows coming out of it">
  </div> -->
</div>
<p>Get started by <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxIfMgCWdaZWJIEmnPd8--CgnqZ9Lp8gU4YiWfZY6ouibIoA/viewform">requesting</a> a free test account and one-on-one demonstration.</p>
<p>To learn more, view the <a href="https://betterbuildingssolutioncenter.energy.gov/webinars/training-introduction-standard-energy-efficiency-exchange-platform-seed">Introduction to SEED</a> and <a href="https://betterbuildingssolutioncenter.energy.gov/webinars/training-introduction-seed-advanced-features">SEED Advanced Features</a> presentations, explore the additional resources on this page or contact BTODataTools@ee.doe.gov</p>

<!-- <div fxLayout="row">
  <section fxFlex="50" fxLayoutGap="20px" fxLayoutAlign="center center">
    <video width="90%" height="80%" controls>
      <source src="https://nrel-seed.s3.amazonaws.com/resources/2020-04-29%20-%20Introduction%20to%20SEED%20Webinar.mp4" type="video/mp4">
    </video>
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>The Standard Energy Efficiency Data (SEED) Platform is a central database for building-related data. It merges information from ENERGY STAR Portfolio Manager, Audit Template, and other sources in one place, behind one intuitive interface. With just a few clicks, you can:</p>
      <ul>
        <li>Merge datasets</li>
        <li>Assess the completeness of audit reports</li>
        <li>Perform automated quality assurance</li>
        <li>Share data with third parties</li>
        <li>Track the progress of BEPS program compliance</li>
        <li>Leverage analysis & evaluation tools to identify upgrade opportunities within buildings and across the city's building stock, assess BEPS program performance, and set program cycle goals</li>
        <li>Share data with Customer Relationship Management (CRM) systems and dashboards.</li>
      </ul>
    <p>Because SEED automates so many manual, time-intensive processes, even organizations with severely limited resources and staff can use it to achieve their program goals.</p>
  </section>
</div>

<h3 class="mat-h3 mb-4">Sample Data</h3>
<p>The SEED Sample Data collection includes two files and can be downloaded from the table below:</p>

<ul><li><strong>covered-buildings-sample.csv</strong>—sample tax assessor data with 512 building records</li>
  <li><strong>portfolio-manager-sample.csv</strong>—sample Energy Star Portfolio Manager data with 512 records which match the data in covered-buildings-sample.csv based on the Address field</li>
</ul>

<p>Note that this represents an ideal case, but it can be used to confirm proper program performance.</p>

<p>All sample data should work with all versions of SEED, although the newer datasets may contain fields that do not exist in earlier versions.</p>

<div class="mb-4" fxLayoutAlign="center">
  <table class="table">
    <tr><th>Version</th><th>Files</th></tr>
    <tr><td>2.7.0-Beta</td><td><a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.7.0-Beta/seed/tests/data/covered-buildings-sample.csv">Covered Buildings Sample File</a>&nbsp;&nbsp;<a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.7.0-Beta/seed/tests/data/portfolio-manager-sample.csv">Portfolio Manager Sample File</a></td></tr>
    <tr><td>2.6.1</td><td><a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.6.1/seed/tests/data/covered-buildings-sample.csv">Covered Buildings Sample File</a>&nbsp;&nbsp;<a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.6.1/seed/tests/data/portfolio-manager-sample.csv">Portfolio Manager Sample File</a></td></tr>
  </table>
</div>
<p>See the <a href="https://seed-platform.org/documentation/">user documentation</a> page for more information on importing data.</p> -->

