<div fxLayout="row">
  <section fxFlex="50" fxLayoutGap="20px" fxLayoutAlign="center center">
    <video width="90%" height="80%" controls>
      <source src="https://nrel-seed.s3.amazonaws.com/resources/2020-04-29%20-%20Introduction%20to%20SEED%20Webinar.mp4" type="video/mp4">
    </video>
  </section>
  <section fxFlex="50" fxLayoutGap="20px">
    <p>The Standard Energy Efficiency Data (SEED) Platform is a central database for building-related data. It merges information from ENERGY STAR Portfolio Manager, Audit Template, and other sources in one place, behind one intuitive interface. With just a few clicks, you can:</p>
      <ul>
        <li>Merge datasets</li>
        <li>Assess the completeness of audit reports</li>
        <li>Perform automated quality assurance</li>
        <li>Share data with third parties</li>
        <li>Track the progress of BEPS program compliance</li>
        <li>Leverage analysis & evaluation tools to identify upgrade opportunities within buildings and across the city’s building stock, assess BEPS program performance, and set program cycle goals</li>
        <li>Share data with Customer Relationship Management (CRM) systems and dashboards.</li>
      </ul>
    <p>Because SEED automates so many manual, time-intensive processes, even organizations with severely limited resources and staff can use it to achieve their program goals. </p>
  </section>
</div>

<h2 class="mat-h2">Getting Started</h2>

<h3 class="mat-h3 mb-4">Installation</h3>
<p>SEED is a web-based database tool, and therefore must be "hosted" on a web server. It is not designed to be installed on an end-user's desktop computer. There are several options for how SEED can be hosted. The following information will help you select an appropriate type of SEED instance.</p>

<p>If you are a developer, consult the <a href="https://seed-platform.readthedocs.io/en/latest/getting_started.html" target="_blank" class="color-2">Developer Getting Started Guide</a> for detailed instructions on how to install the SEED Platform locally for development purposes.</p>

<h4 class="mat-h4 ml-3">Third-Party Hosting</h4>
<p class="ml-3">SEED can be hosted by third-party hosting providers, who will provide access to a SEED account. Providers will be LBNL-approved and will be responsible for keeping up with the updates to the code. See the <a routerLink="/seed/allies">Technical Allies page</a> for current hosting providers.</p>

<h4 class="mat-h4 ml-3">Self-Hosted</h4>
<p class="ml-3">Organizations may want to host their own SEED installation. This requires the SEED source code, installation scripts, and installation instructions, all of which are available on <a href="https://github.com/SEED-platform/seed" target="_blank">GitHub</a>. Note that SEED is a server-based web application that is not designed to be installed on an end-user's desktop computer. Self-hosting SEED requires some experience with server and database administration and will usually require the involvement of an organization's IT department for installation and operation of a SEED instance.</p>

<h4 class="mat-h4 ml-3">Temporary Test Account Through LBNL</h4>
<p class="ml-3">We are currently open to creating temporary test accounts for state and local governments and/or their relevant service providers that are exploring or in the process of implementing a building energy benchmarking ordinance. For more information, visit the <a href="https://seed-platform.org/lbnl/" target="_blank" class="color-2">LBNL SEED Platform page</a>.</p>

<h3 class="mat-h3 mb-4">Data Guides</h3>
<p>The following guides detail the SEED import process and supported data types:</p>

<div class="mb-4" fxLayoutAlign="center">
  <table class="table table-striped">
    <tr><th>Version</th><th>Date</th><th>Description</th></tr>
    <tr><td><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_6_1%20Patch_%20Mapping%20and%20Merging.pdf" target="_blank" class="color-2">2.6.1</a></td><td>01/16/2020</td><td>Mapping and merging data overview</td></tr>
    <tr><td><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_6_%20Meter%20Data.pdf" target="_blank" class="color-2">2.6.0</a></td><td>08/09/2019</td><td>Overview of the new Meter Data features added to SEED release 2.6.0</td></tr>
    <tr><td><a href="https://docs.google.com/a/lbl.gov/viewer?a=v&pid=sites&srcid=bGJsLmdvdnxzZWVkfGd4OjZmMjJkYjc4ZDJkMmE4MjQ" target="_blank" class="color-2">2.5.1</a></td><td>08/26/2019</td><td>Overview of the GIS functionality available in SEED</td></tr>
    <tr><td><a href="https://seed-platform.org/resources/SEED%20Platform%20V2_4%20Getting%20Started%20Guide.pdf" target="_blank" class="color-2">2.4.0</a></td><td>10/05/2018</td><td>Overview of the main features in the program, with the basic steps to get started</td></tr>
  </table>
</div>

<h3 class="mat-h3 mb-4">Sample Data</h3>
<p>The SEED Sample Data collection includes two files and can be downloaded from the table below:</p>

<ul><li><strong>covered-buildings-sample.csv</strong>—sample tax assessor data with 512 building records</li>
  <li><strong>portfolio-manager-sample.csv</strong>—sample Energy Star Portfolio Manager data with 512 records which match the data in covered-buildings-sample.csv based on the Address field</li>
</ul>

<p>Note that this represents an ideal case, but it can be used to confirm proper program performance.</p>

<p>All sample data should work with all versions of SEED, although the newer datasets may contain fields that do not exist in earlier versions.</p>

<div class="mb-4" fxLayoutAlign="center">
  <table class="table">
    <tr><th>Version</th><th>Files</th></tr>
    <tr><td>2.7.0-Beta</td><td><a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.7.0-Beta/seed/tests/data/covered-buildings-sample.csv" target="_blank" class="color-2">Covered Buildings Sample File</a>&nbsp;&nbsp;<a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.7.0-Beta/seed/tests/data/portfolio-manager-sample.csv" target="_blank" class="color-2">Portfolio Manager Sample File</a></td></tr>
    <tr><td>2.6.1</td><td><a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.6.1/seed/tests/data/covered-buildings-sample.csv" target="_blank" class="color-2">Covered Buildings Sample File</a>&nbsp;&nbsp;<a href="https://raw.githubusercontent.com/SEED-platform/seed/v2.6.1/seed/tests/data/portfolio-manager-sample.csv" target="_blank" class="color-2">Portfolio Manager Sample File</a></td></tr>
  </table>
</div>
<p>See the <a href="https://seed-platform.org/documentation/" target="_blank" class="color-2">user documentation</a> page for more information on importing data.</p>

