@import "theme";

:host {
  display: block;
  position: relative;

  &::ng-deep [hidden] {
    display: none;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.mat-card {
  cursor: pointer;
  transition: filter 200ms ease-in-out;
}

.mat-card-content {
  cursor: pointer;
  margin-bottom: 0;
}

.mat-card-footer {
  margin-top: 16px;
}

.white {
  color: #fff;
}

.header {
  padding: 1.7rem 10px 0;
  font-weight: 500;
  color: white;
  text-align: center;
}

.header1,
.header2,
.header3,
.header4 {
  position: relative;
}

.col-heading {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.arrow {
  width: 3.5rem;
  position: absolute;
}

.arrow1 {
  left: 17rem;
  top: 3.7rem;
}

.arrow2,
.arrow3 {
  top: 2.8rem;
  left: 17rem;
}

.col-bkgnd-1,
.col-bkgnd-2,
.col-bkgnd-3,
.col-bkgnd-4 {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  position: relative;
  width: 100%;

  &::before {
    background-position: center;
    background-size: cover;
    content: "";
    height: 100%;
    opacity: 0.75;
    position: absolute;
    width: 100%;
  }
}

.col-bkgnd-1::before {
  background-image: url("../../../assets/images/diagram-images-data-collection.jpg");
}

.col-bkgnd-2::before {
  background-image: url("../../../assets/images/diagram-header-manag-compli.jpg");
}

.col-bkgnd-3::before {
  background-image: url("../../../assets/images/diagram-header-analysis.jpg");
}

.col-bkgnd-4::before {
  background-image: url("../../../assets/images/outcomes-header-background.jpg");
}

.opaque {
  filter: brightness(0.6);
}

.btn-type-1 {
  background: nth($colors, 1);
  color: #fff;
}

.btn-type-2 {
  background-color: nth($colors, 2);
  color: #fff;
}

.btn-type-3 {
  background-color: nth($colors, 3);
  color: #fff;
}

.btn-type-5 {
  background-color: $orange;
  color: #fff;
}

.col-type-1,
.col-type-2,
.col-type-3 {
  .mat-card {
    width: 86%;
  }
}

.col-type-1 {
  background-color: nth($colors, 1);
}

.col-type-2 {
  background-color: nth($colors, 2);
}

.col-type-3 {
  background-color: nth($colors, 3);
}

.col-type-4 {
  background-color: nth($colors, 4);
}

.card-img {
  width: 100%;
}

.card-img-3p {
  max-height: 22px;
  padding-right: 8px;
}

.text-3p {
  font-size: 1.2rem;
  vertical-align: center;
  color: #444;
}

.card-img-pm {
  text-align: center;

  img {
    padding: 8px 0 4px;
    width: 90%;
  }
}

.card-img-at {
  text-align: center;

  img {
    width: 80%;
  }
}

.card-img-csrs,
.card-img-better {
  text-align: center;

  img {
    width: 70%;
  }
}

.card-img-as {
  text-align: center;

  img {
    width: 65%;
  }
}

.card-img-sm {
  text-align: center;

  img {
    width: 65%;
  }
}

.card-icon {
  text-align: center;

  img {
    max-height: 48px;
    max-width: 48px;
  }
}

#g1,
#g2,
#g3,
#g4 {
  height: 130px;
}

.goals-cards > div {
  padding: 16px 8px;

  &:first-child {
    padding: 16px 8px 16px 16px;
  }

  &:last-child {
    padding: 16px 16px 16px 8px;
  }
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

$bsyncWidth: 100px;
$bsyncExpandedWidth: 160px;

.bsync1,
.bsync2 {
  position: relative;
  left: 50%;
  border-radius: 18px;
  border: 4px solid $orange;
  margin: 0 auto !important;
  width: auto !important;
  z-index: 6;

  &.bsync1 {
    top: -200px;
  }

  &.bsync2 {
    top: -175px;
  }

  .mat-card-content {
    line-height: 0;
    max-width: $bsyncWidth;
  }
}

.bsync1-flip,
.bsync2-flip {
  .mat-card-content {
    line-height: normal;
    max-width: $bsyncExpandedWidth;
  }
}

.yellow-border {
  border: 4px solid $orange;
}

#bsync1,
#bsync2 {
  &.mat-card {
    padding: 4px;
  }
}

.bsync-img {
  width: 100%;
}

.py-big {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.card-container {
  height: 100%;
  padding: 16px;
}

.pr-vp-4 {
  padding-right: calc(1vw + 0.5rem) !important;
}

.pr-vp-3 {
  padding-right: calc(1vw + 0.25rem) !important;
}

@media screen and (max-width: 599px) {
  .card-text {
    font-size: 1.4rem;
  }

  .mat-card {
    padding: 5px;
  }

  .mat-card-content {
    padding: 5px;
  }

  .pm-card {
    margin-bottom: 10px;
  }

  .at-pad {
    padding-top: 10px !important;
  }

  #g1,
  #g2,
  #g3,
  #g4 {
    height: unset;
    max-width: 80vw;
    min-width: 80vw;
  }

  .goals-cards > div {
    padding: 8px;

    &:first-child {
      padding: 16px 8px 8px;
    }

    &:last-child {
      padding: 8px 8px 16px;
    }
  }
}

@media screen and (max-width: 800px) {
  .pm-card {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .at-pad {
    padding-top: 10px !important;
  }
}

/* BOOTSTRAP5 margin and padding classes */
.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.pl-6,
.px-6 {
  padding-left: 3.5rem !important;
}

.m-n1 {
  margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}

.m-n2 {
  margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important;
}

.m-n3 {
  margin: -1rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important;
}

.m-n4 {
  margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important;
}

.m-n5 {
  margin: -3rem !important;
}

.mt-n5,
.my-n5 {
  margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.pt-10 {
  padding-top: 6rem !important;
}
