<h2 class="mat-h2 mb-4">FAQ</h2>

<h3 class="mat-h5 mb-0">Does the BPD have time series data?</h3>
<p class="mb-4">We aggregate all data to annual intervals.</p>

<h3 class="mat-h5 mb-0">Does the BPD allow pre- and post-retrofit analysis of the same buildings?</h3>
<p class="mb-4">In general, no. It’s possible that some building’s data were measured both before and after a retrofit, but we are typically not provided with data indicating when retrofits were performed.</p>

<h3 class="mat-h5 mb-0">Is the BPD data weather normalized?</h3>
<p class="mb-4">No. It contains only measured data.</p>

<h3 class="mat-h5 mb-0">How can you be sure there aren’t two records about the same building in the BPD?</h3>
<p class="mb-4">We run an analysis on all combinations of buildings that checks similarity of building characteristics and removes any duplicates that are found. In cases of missing data, we assume records match unless we can prove that they are different.</p>

<h3 class="mat-h5 mb-0">How does the BPD relate to ENERGY STAR Portfolio Manager?</h3>
<p class="mb-4">The BPD and Portfolio Manager are complementary. Portfolio Manager is a benchmarking and tracking tool that collects information on your building in order to generate a whole-building energy-efficiency score. The BPD allows users to explore the relationship between energy performance and physical and operational characteristics of many similar buildings in order to identify and evaluate efficiency opportunities. In fact, the BPD contains data on all of the buildings in Portfolio Manager that have been engineer-verified.</p>

<h5 class="mat-h5 mb-0">How does the BPD relate to CBECS and RECS?</h5>
<p class="mb-4">The BPD serves a complementary function to the Energy Information Administration’s Commercial Buildings Energy Consumption Survey (CBECS) and Residential Energy Consumption Survey (RECS). CBECS and RECS are statistically valid samples of the national commercial and residential building stocks, and are two of the data sources for the BPD. See our <a href="https://buildings.lbl.gov/sites/default/files/is-the-bpd-nationally-representative.pdf" target="_blank" class="color-3">comparison of the BPD and CBECS<span class="ml-1 align-center"><i class="fas fa-external-link-alt"></i></span></a>.</p>

<h3 class="mat-h5 mb-0">How does the BPD relate to the Green Button initiative?</h3>
<p class="mb-4">The Green Button initiative is an industry-led effort that responds to a White House initiative to provide utility customers, such as building owners and managers and major tenants, with easy and secure access to their energy usage information in a standardized electronic format. The BPD is able to accept Green Button data but the minimum data requirements for the BPD include additional fields as well, such as floor area and building age.</p>
