@import "theme";

:host {

  &::ng-deep [hidden] {
    display: none;
  }
}

.white-text {
  color: #fff;
}

.bpt {
  max-width: $maxWidth;
  margin: 0 auto;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.bold {
	font-weight: bold;
}

.align-center {
	text-align: center;
}

.data-card {
	min-height: 150px;
}

.card-good {
	background-color:#1473cc;
	color:white;
}

.card-better {
	background-color:#125d9b;
	color:white;
}

.card-best {
	background-color:#092357;
	color:white;
}

.card-white {
	background-color:white;
	color:black;
}

.btn-type-1 {
  background: #3B88AF;
  color: #fff;
}

.btn-type-2 {
  background-color: #024880;
  color: #fff;
}

.small-fit {
  width: 100%;
}
