<h2 class="mat-h2 mb-4">Goals & Outcomes</h2>

<p class="mx-5 mt-5">Use the <a routerLink="/asset-score">Asset Score tool</a> to identify a compliance pathway for any buildings which don't meet your program's performance criteria. After entering audit data into <a routerLink="/audit-template">Audit Template</a>, you can create an Asset Score report with one click. This report will include a customized, prioritized list of cost-effective upgrade recommendations which can be shared with building owners.</p>
