<app-tools-overview>
  <div slot="left">
    <h3>Goals & Outcomes</h3>
    <p>Learn more about how the building energy data tools can help your organization realize its ultimate goals:</p>
  </div>
  <div slot="right" fxLayout="column">
    <div fxLayout="row">
      <div class="logo">
        <div>Analyze Building Stock</div>
        <img src="assets/images/com-resstock-outcomes-icon.svg" alt="">
      </div>
      <div class="description">
        <p>Analysis tools will help states, municipalities, utilities, and manufacturers identify the most impactful building stock improvements.</p>
        <img src="assets/images/comstock_outcome_pathway-01.png">
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <div>Target Efficiency Upgrade Areas</div>
        <img src="assets/images/better-outcomes-icon.svg" alt="">
      </div>
      <div class="description">
        <p>Identify measures and suggest areas for deeper evaluations.</p>
        <img src="assets/images/better_outcome_pathway-01.png" alt="">
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <div>Achieve Compliance</div>
        <img src="assets/images/assetscore-outcomes-icon.svg" alt="">
      </div>
      <div class="description">
        <p>Use Asset Score to identify cost-effective energy efficiency measures to help buildings deliver EUI and GHGe metrics for compliance with a building performance policy.</p>
        <img src="assets/images/asset-score-outcome_pathway-01.png">
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <div>Customize</div>
        <img src="assets/images/thirdparty-outcomes-icon.svg" alt="">
      </div>
      <div class="description">
        <p>Various tools and APIs are available to customize your workflow, connect to CRMs, add create data visualizations. Visit the <a routerLink="/developers">Developers</a> page to learn more about these tools and capabilities.</p>
      </div>
    </div>
  </div>
</app-tools-overview>
