<h1 class="mat-h2 mb-4">Technical Allies</h1>
<p>SEED Platform Technical Allies are private companies and other entities that are officially recognized for their significant contributions to the <a href="https://www.energy.gov/eere/buildings/seed-platform-collaborative">SEED Platform Collaborative</a>. The Technical Ally categories are: Hosting Provider, Software Contributor, and App Developer. More information about these categories and the current qualifying Technical Allies are provided below. Note that Technical Allies must meet the approval criteria annually and execute the SEED Platform trademark sublicense in order to maintain their official SEED Platform Technical Ally status. The Technical Allies listed below have met all the approval criteria within the last year; click on their logo to find out more about the services they offer.</p>

<h2 class="mat-h3">Hosting Providers</h2>
<p>These Technical Allies offer the core functionality of the SEED Platform as a hosted service to end-users. Please see the <a href="https://seed-platform.org/hosting_requirements/">Hosting Provider Requirements</a> for more information about becoming an approved Hosting Provider.</p>

<div class="grid-container mb-4" gdAuto="column" gdAuto.lt-md="row" gdRows="repeat(2, auto)" gdColumns="repeat(2, 1fr)" gdColumns.lt-md="none" gdGap="8px">
  <img src="assets/md/seed/img/earth-advantage-logo.png" alt="Earth Advantage logo">

  <div>
    Earth Advantage<br>
    <a href="https://www.earthadvantage.org/">earthadvantage.org</a><br><br>
    Contact: Erik Cathcart<br>
    <a href="mailto:ecathcart@earthadvantage.org">ecathcart@earthadvantage.org</a>
  </div>

  <img src="assets/md/seed/img/ClearlyEnergy.png" alt="ClearlyEnergy logo">

  <div>
    ClearlyEnergy<br>
    <a href="https://www.clearlyenergy.com/">clearlyenergy.com</a><br><br>
    Contact: Veronique Bugnion<br>
    <a href="mailto:vbugnion@clearlyenergy.com">vbugnion@clearlyenergy.com</a>
  </div>
</div>

<h2 class="mat-h3">Software Contributors</h2>
<p>These Technical Allies have added functionality to the core <a href="https://github.com/SEED-platform/seed">SEED Platform repository</a> (note that only contributors that have made significant contributions in the last year are listed below; for a complete list of SEED Platform contributors, please see the Authors page in the SEED Platform source-code repository). Please see the <a href="https://github.com/SEED-platform/seed/blob/develop/.github/CONTRIBUTING.md">SEED Platform Contribution Policy</a> on the SEED Platform source-code repository for more information about becoming an approved Software Contributor.</p>

<div class="grid-container mb-4" gdColumns="repeat(2, 1fr)" gdColumns.lt-md="none" gdGap="16px 8px">
  <img src="assets/md/seed/img/earth-advantage-logo.png" alt="Earth Advantage logo">
  <img src="assets/md/seed/img/ClearlyEnergy.png" alt="ClearlyEnergy logo">
  <img src="assets/md/seed/img/mi_logo.png" alt="McQuillen Interactive logo">
  <img src="assets/md/seed/img/logo_nrel_c.jpg" alt="NREL logo">
  <img src="assets/md/seed/img/ogbs-logo-rough.png" alt="OGBS logo">
  <img src="assets/md/seed/img/psd-logo1.png" alt="PSD logo">
</div>

<h2 class="mat-h3">App Developers</h2>
<p>These Technical Allies use the SEED Platform application programming interface (API) to offer value-added services using data hosted in SEED Platform. Please see the <a href="https://seed-platform.org/app_developer_requirements/">App Developer Requirements</a> for more information about becoming an approved App Developer.</p>

<p>There are currently no officially approved App Developers for the SEED Platform, but the SEED Team is working on approving several applications.</p>

<div fxLayout="row" fxLayout.xs="column">
  <section fxFlex="50%" fxLayoutAlign="center center">
    <img src="assets/md/seed/img/ClearlyEnergy.png" alt="ClearlyEnergy logo">
  </section>
  <section fxFlex="50%" fxLayoutAlign="center center">
    <img src="assets/md/seed/img/beam_logo.png" alt="beam logo" style="max-width: 80%">
  </section>
</div>
