<h2 class="mat-h2 mb-4">Technical Allies</h2>
<p>SEED Platform Technical Allies are private companies and other entities that are officially recognized for their significant contributions to the <a href="http://energy.gov/eere/buildings/seed-platform-collaborative" target="_blank" class="color-2">SEED Platform Collaborative</a>. The Technical Ally categories are: Hosting Provider, Software Contributor, and App Developer. More information about these categories and the current qualifying Technical Allies are provided below. Note that Technical Allies must meet the approval criteria annually and execute the SEED Platform trademark <a href="http://seedinfo.lbl.gov/SEED_LBNL_sample_license.pdf" target="_blank" class="color-2">sublicense</a> in order to maintain their official SEED Platform Technical Ally status. The Technical Allies listed below have met all the approval criteria within the last year; click on their logo to find out more about the services they offer.</p>

<h3 class="mat-h3">Hosting Providers</h3>
<p>These Technical Allies offer the core functionality of the SEED Platform as a hosted service to end-users. Please see the <a href="https://seed-platform.org/hosting_requirements/" target="_blank" class="color-2">Hosting Provider Requirements</a> for more information about becoming an approved Hosting Provider.</p>

<div fxLayout="row" class="mb-4">
  <section fxFlex="33" class="mx-auto">
    <img src="assets/md/seed/img/EA-Logo-Color-400x98.png" alt="earth advantage logo">
    <div class="center">
      Earth Advantage<br/>
      <a href="https://seed-platform.org/technical_ally/earthadvantage.org" target="_blank" class="color-2">earthadvantage.org</a><br/><br/>
      Contact: Erik Cathcart<br/>
      <a href="mailto:ecathcart@earthadvantage.org">ecathcart@earthadvantage.org</a>
    </div>
  </section>
  <section fxFlex="33" class="mx-auto">
    <img src="assets/md/seed/img/ClearlyEnergy.png" alt="clearly energy logo">
    <div class="center">
      Clearly Energy<br/>
      <a href="https://seed-platform.org/technical_ally/www.clearlyenergy.com" target="_blank" class="color-2">www.clearlyenergy.com</a><br/><br/>
      Contact: Veronique Bugnion<br/>
      <a href="mailto:vbugnion@clearlyenergy.com">vbugnion@clearlyenergy.com</a>
    </div>
  </section>
</div>

<h3 class="mat-h3">Software Contributors</h3>
<p>These Technical Allies have added functionality to the core <a href="https://github.com/SEED-platform/seed" target="_blank" class="color-2">SEED Platform repository</a> (note that only contributors that have made significant contributions in the last year are listed below; for a complete list of SEED Platform contributors, please see the Authors page in the SEED Platform source-code repository). Please see the <a href="https://github.com/SEED-platform/seed/blob/develop/.github/CONTRIBUTING.md" target="_blank" class="color-2">SEED Platform Contribution Policy</a> on the SEED Platform source-code repository for more information about becoming an approved Software Contributor.</p>

<div fxLayout="row" class="mb-4">
  <section fxFlex="33" class="mx-auto">
    <div class="my-2 mx-auto"><img src="assets/md/seed/img//ClearlyEnergy.png" alt="clearly energy logo"></div>
    <div class="my-2 mx-auto"><img src="assets/md/seed/img//maalka_logo.png" alt="maalka logo"></div>
    <div class="my-4 pl-5 mx-auto"><img src="assets/md/seed/img/logo_nrel_c.jpg" alt="NREL logo"></div>
    <div class="my-2 pl-5 mx-auto"><img src="assets/md/seed/img/psd-logo1.png" alt="PSD logo"></div>
  </section>
  <section fxFlex="33" class="mx-auto">
    <div class="my-2 mx-auto"><img src="assets/md/seed/img/EA-Logo-Color-400x98.png" alt="earth advantage logo"></div>
    <div class="my-2 mx-auto"><img src="assets/md/seed/img/mi_logo.png" alt="mcquillen interactive logo"></div>
    <div class="my-2 pl-5 mx-auto"><img src="assets/md/seed/img/ogbs-logo-rough.png" alt="OGBS logo"></div>
  </section>
</div>

<h3 class="mat-h3">App Developers</h3>
<p>These Technical Allies use the SEED Platform application programming interface (API) to offer value-added services using data hosted in SEED Platform. Please see the <a href="https://seed-platform.org/app_developer_requirements/" target="_blank" class="color-2">App Developer Requirements</a> for more information about becoming an approved App Developer.</p>

<p>There are currently no officially approved App Developers for the SEED Platform, but the SEED Team is working on approving several applications.</p>

<div fxLayout="row">
  <section fxFlex="33" class="mx-auto my-auto">
    <div class="my-2 mx-auto"><img src="assets/md/seed/img/ClearlyEnergy.png" alt="clearly energy logo"></div>
  </section>
  <section fxFlex="33" class="mx-auto my-auto">
    <div class="my-2 mx-auto my-aut"><img src="assets/md/seed/img/beam_logo.png" alt="beam logo" width="80%"></div>
  </section>
</div>