<h2 class="mat-h2 mb-4">Privacy & Security</h2>

<p>We do not provide access to raw data or information on individual buildings. The GUI and API return aggregated results on groups of buildings, and ensures those groups are large enough that individual buildings cannot be identified. The BPD does not contain any personally identifiable information (e.g., building owner or occupant names or addresses). Data contributed to the BPD is protected by law from release under the Freedom of Information Act. For more information, see our <a href="https://buildings.lbl.gov/sites/default/files/bpd-privacy-terms.pdf">privacy terms</a>.</p>

<p>The BPD security policy aligns with DOE policies and information security best-practices. The database is only accessible by LBNL personnel actively working on the BPD.</p>
