<div ng-include="'views/includes/topnav.html'"></div>


<div class="row pt-3">
	<div class="col-5 v-divider pr-5">
		<h3 class="subpage-heading">Data Collection & Reporting</h3>
		<p>Text here to explain what is available under this section.  Could like to individual pages from here.</p>
	</div>
	<div class="col-7">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5"><a href="#!/portfolio-manager"><img class="card-img card-width3" src="../images/pm-logo.png" alt="EnergyStar Portfolio Manager Logo"></a></div>
  				<div class="col-6">
  					<p>ENERGY STAR Portfolio Manager i used by building owners to report their energy use. This information reveals how efficiently a building is being operated. <a href="#!/portfolio-manager" class="color-1 bold-link">Learn more</a>.</p>
  				</div>
  			</div>
			</li>
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5 my-auto"><a href="#!/audit-template"><img class="card-img card-width3" src="../images/audit-template-logo.png" alt="Building Energy Audit Template Logo"></a></div>
  				<div class="col-6 my-auto">
  					<p>Building Energy Audit Template: A reporting conduit for audit data that is easily accessible, standardized, and customizable. <a href="#!/audit-template" class="color-1 bold-link">Learn more</a>.</p>
  				</div>
  			</div>
			</li>
		</ul>
  	<div class="h-divider"></div>
		<h5 class="small-heading">Additional Resources</h5>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row">
  				<div class="col-5 my-auto"><img class="card-img card-width3" src="../images/ubid-logo.png" alt="Unique Building Identifier logo"></div>
  				<div class="col-6 my-auto">
  					<p>As building data &mdash; energy and otherwise &mdash; become increasingly available, unambiguously identifying building records in large databases becomes increasingly important.  At first blush, this task sounds easy...isn't a street address a robust way to uniquely identify a building?  Have we not been successfully using street addresses for centuries? <a href="#!/ubid" class="color-1 bold-link">Learn more</a>.</p>
  				</div>
  			</div>
			</li>
		</ul>
	</div>
</div>