<div class="top-text">
  <p>More cities are passing building energy performance standards (BPS) to improve the efficiency of their jurisdiction's buildings. BPS policies go beyond benchmarking, requiring building owners to get an energy audit and install recommended upgrades in pursuit of a defined goal.</p>
  <p>These mandates often lack funding for implementation, leaving city staff to do the best they can without any additional staff or tools. Often, this means a lot of manual data handling with time-consuming, error-prone processes (Hi, Excel).</p>

  <p>To help cities deploy a BPS program, the U.S. Department of Energy (DOE) and its national laboratory partners created a suite of powerful, free, and open-source data tools. These tools can snap directly into existing workflows and make it easy to collect, manage, analyze, and share building-related data.</p>
  <p>Sustainability leaders like Washington, D.C. and using these tools to meet their goals. And since they're backed by DOE, you can count on long-term maintenance and support.</p>
  <p><strong>Explore the interactive workflow map below to learn more about each tool. When you're ready, follow the 'Learn More' button to see just how easy data can be.</strong></p>

</div>
<app-graphic></app-graphic>
<div class="developer-banner" fxLayoutAlign="center center">
  <a [routerLink]="['developers']" class="dev-link">FOR DEVELOPERS</a></div>
<div fxLayout="row" class="developer">
  <div fxFlex="100">
  
    <h2 class="mat-h2 mb-4">Audit Data Standardization: The Foundation of a Building Performance Policy</h2>

    <p>A critical element of any building performance standard is the collection of standardized building energy audit data. Ideally, organizations will use a single, consistent way to collect audit data, such as the Audit Template. This is Tier 3, the highest level of data standardization. Tier 3 maximizes the value, persistence, usability, and transportability of audit data. We recommend this pathway for organizations who are committed to the most ambitious goals, or to those in the early stages of launching a building performance standard and who have no pre-existing commitments to other tools or systems.</p>
    <p>If circumstances prohibit the use of a single tool like Audit Template to collect audit data, Tier 2 is the next-best alternative. In a Tier 2 regime, all tools and systems related to handling audit data are required to export that data in a common format, like BuildingSync. This is an excellent pathway for programs who don’t want to migrate from their existing tools to still get many of the benefits of data standardization. Many of the building energy data tools seen in the workflow above are compatible with BuildingSync files, and there is a considerable amount of active development being done with BuildingSync by industry partners.</p>
    <p>Finally, if neither standardizing on a single tool nor on a single file format is possible, we recommend the use of common data terms as the minimum level (Tier 1) of standardization. The Building Energy Data Exchange Specification (BEDES) dictionary is a collection of over 600 such terms developed with expert feedback from across the industry. Tier 1 standardization ensures a basic degree of compatibility between audit data systems and tools, although it is advised that organizations regularly re-evaluate the ability to move to Tier 2 or 3.</p>

  </div>
</div>
