<div class="bpt">
  <div class="home-intro-text2 my-2">
    <div fxLayout="row" fxLayoutAlign="space-around" class="top-side" fxFlex="90%" fxFlexOffset="5%">
      <p>The U.S. Department of Energy developed a comprehensive suite of tools for accessing, managing, analyzing and sharing building energy data. This website describes how they can be used to support <a href="https://www.epa.gov/statelocalenergy/benchmarking-and-building-performance-standards-policy-toolkit">building performance standards (BPS) policies</a>, one of many possible use cases.</p>

      <!--<div [fxFlex]="45" class="left-side" fxLayout="column">
        <p>More local governments are choosing to implement Building Performance Standard (BPS) policies to meet their energy efficiency and climate-related goals. BPS policies go beyond benchmarking, requiring owners of buildings covered by the policy to conduct an energy audit and install recommended upgrades in pursuit of a minimum performance standard.</p>

        <p>These mandates often lack funding for implementation, leaving public officials to do their best without additional staff or resources. This can result in a heavy reliance on manual data handling processes – processes which are time consuming and prone to error.</p>
      </div>
      <div [fxFlex]="50" fxLayout="column">
        <p>To reduce the burden of BPS implementation, the U.S. Department of Energy (DOE) and its National Laboratory partners created a suite of powerful, interoperable, free and open-source data tools. These tools snap directly into existing workflows and make it easy to collect, manage, analyze, and share the building-related data needed for a BPS policy.</p>

        <p>Sustainability leaders like Washington, D.C. and others are already using these tools to meet their goals. And since they're backed by DOE, you can count on long-term maintenance and support.</p>
      </div>-->
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" class="interactive-map-div">
    <div fxLayoutAlign="space-around" fxFlex.gt-xs="35%">
      <h2>Find Your Tool or Workflow</h2>
    </div>
    <div fxLayoutAlign="space-around" fxFlex.gt-xs="65%">
      <p>Mouse over and click on the tools below to get more information.<br>When you're ready, follow the 'Learn More' button to see just how easy data can be.</p>
    </div>
  </div>

  <app-graphic></app-graphic>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="bottom-boxes">
    <div fxFlex="25%" fxFlex.xs="100%">
      <div class="standardize" routerLink="/data-standardization">
        <h3>Get started with<br>data standardization</h3>
        <div class="box-arrow"><img src="assets/images/box-arrow.svg" alt=""></div>
      </div>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%">
      <div class="help" routerLink="/help-desk">
        <h3>Help Desk</h3>
        <div class="box-arrow"><img src="assets/images/box-arrow.svg" alt=""></div>
      </div>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%">
      <div class="explore-tools" routerLink="/analysis-evaluation">
        <h3>Explore the analysis tools</h3>
        <div class="box-arrow"><img src="assets/images/box-arrow.svg" alt=""></div>
      </div>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%">
      <div class="dev" routerLink="/developers">
        <h3>Find information for developers</h3>
        <div class="box-arrow"><img src="assets/images/box-arrow.svg" alt=""></div>
      </div>
    </div>
  </div>

</div>
