@import "theme";

.developer-banner {
  background-color: $orange;
  font-family: $robotoCondensed;
  font-size: 16px;
  font-weight: bold;
  height: 22px;
  position: relative;
  text-transform: uppercase;

  > div {
    width: 100%;
  }

  /*
  &::after {
    background-color: $orange;
    content: '';
    height: 4px;
    position: absolute;
    bottom: -7px;
    width: 184px;
  }
  */
}

a {
  color: #024880;
}

.developer {
  padding: 20px 0;

  > div {
    padding: 12px $pad 0;

    &:first-child {
      // border-right: 1px solid;
      font-size: 18px;
      line-height: 22px;
    }
  }

}

.dev-link {
  color: black;
}

.top-text {
  margin: 10px 20px;
}

.interactive-map {
  margin-bottom: 0px;
  font-size: 18px;
}

.explore {
  background-color: #EEEEEE;
  padding: 10px 0px 5px 0px;
  text-align: center;
}

.left-side {
  border-right: 2px solid #ccc;
  padding-right: 20px;
  margin-bottom: 10px;
}

.top-side {
  margin-top: 15px;
}
