@use "sass:math";
@import "theme";

.bpt {
  max-width: $maxWidth;
  margin: 0 auto;
}

.summary,
.details {
  display: flex;
  font-size: 16px;
  line-height: 23px;
  padding: $pad;
  position: relative;

  &::ng-deep > div {
    width: 100%;

    a,
    a:visited {
      font-weight: bold;
      white-space: nowrap;
    }
  }
}

.summary ::ng-deep {
  h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  p {
    color: #5b5b5b;
  }

  > div::after {
    border-right: 1px solid #b2b2b2;
    content: "";
    height: calc(100% - 2 * #{$pad});
    position: absolute;
    right: 0;
    top: $pad;
  }
}

.details ::ng-deep {
  > div {
    > div {
      border-bottom: 2px solid #eee;
    }

    &:last-child {
      padding-bottom: $pad * 2;
    }
  }

  $logoWidth: 30%;

  .logo {
    flex: 1 1 100%;
    max-width: $logoWidth;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px + $pad;
    padding: $pad math.div($pad, 2);

    div {
      color: #5b5b5b;
      font-weight: bold;
      padding-bottom: math.div($pad, 2);

      & + img {
        $size: 120px;
        cursor: auto;
        max-height: $size;
        max-width: $size;
      }
    }

    a {
      width: 100%;
    }

    img {
      cursor: pointer;
      max-width: 100%;
    }
  }

  .description {
    flex: 1 1 100%;
    max-width: 100% - $logoWidth;

    color: #5b5b5b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: math.div($pad, 2) 0 math.div($pad, 2) $pad;

    p:last-child {
      margin: 0;
    }
  }
}
