<h2 class="mat-h2 mb-4">Links for Developers</h2>
<p>The SEED Platform™ is an open-source project. The source code and documentation is available on <a href="https://github.com/SEED-platform/seed">GitHub</a>.</p>

<h3 class="mat-h3 mb-4">Source Code Documentation</h3>
<ul>
  <li><a href="https://seed-platform.readthedocs.io/en/stable/index.html">General Source Code Documentation</a></li>
  <li><a href="https://seed-platform.readthedocs.io/en/stable/developer_resources.html">Developer Resources</a></li>
  <li><a href="https://seed-platform.org/api/swagger/">API Documentation</a></li>
</ul>

<h3 class="mat-h3 mb-4">Release Notes</h3>
<ul>
  <li><a href="https://github.com/SEED-platform/seed/releases">Release Notes</a></li>
</ul>

<h3 class="mat-h3 mb-4">Known Issues</h3>
<p>Visit the <a href="https://seed-platform.org/known_issues/">Known Issues</a> page for a list of SEED Platform issues.</p>

<h3 class="mat-h3 mb-4">Developer Forum</h3>
<p>There is a <a href="https://groups.google.com/g/seed-platform-dev">Google Group</a> for developers to discuss the SEED Platform project. The LBNL team monitors that forum and will respond to inquiries there.</p>
