<h1 class="mat-h2 mb-4">Links for Developers</h1>
<p>The SEED Platform™ is an open-source project. The source code and documentation is available on <a href="https://github.com/SEED-platform/seed">GitHub</a>.</p>

<h2 class="mat-h2 mb-4">Source Code Documentation</h2>
<ul>
  <li><a href="https://seed-platform.org/code_documentation/latest/">Source Code Documentation</a></li>
  <li><a href="https://seed-platform.org/code_documentation/latest/developer_resources.html">Developer Resources</a></li>
  <li><a href="https://seed-platform.org/api/swagger/">API Documentation</a></li>
</ul>

<h2 class="mat-h2 mb-4">Release Notes</h2>
<ul>
  <li><a href="https://github.com/SEED-platform/seed/releases">Release Notes</a></li>
</ul>

<h2 class="mat-h2 mb-4">Known Issues</h2>
<p>Visit the <a href="https://seed-platform.org/known_issues/">Known Issues</a> page for a list of SEED Platform issues.</p>

<h2 class="mat-h2 mb-4">Developer Support</h2>
<p>There are forums available for users and developers. Information on the forums is available on the <a href="https://seed-platform.org/contact">SEED Website</a>. The SEED development team monitors the forum and will respond to inquiries there.</p>
