<app-tools-overview>
  <div slot="left">
    <h3>For Developers</h3>
    <p>Would you like to take your building data even further? Are you a product or service provider interested in incorporating data or features from the building energy data tools? Explore the tools at right to learn more about the wealth of opportunities available to developers.</p>
  </div>
  <div slot="right" fxLayout="column">
    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/bldgsync-logo.svg" alt="BuildingSync Logo" routerLink="/building-sync">
      </div>
      <div class="description">
        <p>BuildingSync is a common XML schema for energy audit data that simplifies the aggregation, comparison, and exchange of information across databases and applications. <a routerLink="/building-sync">Learn more.</a></p>
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/ubid-logo.png" alt="Unique Building Identifier logo" routerLink="/ubid">
      </div>
      <div class="description">
        <p>The Unique Building ID (UBID) is a unique identification system for buildings and other objects. It facilitates data management and sharing by reducing the risk of mismatching or duplicating data, and it eases the burden of data exchange. <a routerLink="/ubid">Learn more.</a></p>
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/bedes-logo.png" alt="BEDES logo" routerLink="/bedes">
      </div>
      <div class="description">
        <p>The Building Energy Data Exchange Specification (BEDES) is a set of over 600 terms and definitions for building characteristics, efficiency measures, and energy use which can be used to support the analysis of the energy performance of buildings. <a routerLink="/bedes">Learn more.</a></p>
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/OE-logo.png" alt="Open Efficiency logo" routerLink="/oep">
      </div>
      <div class="description">
        <p>The Open Efficiency Platform (OEP) is a U.S. Department of Energy-funded initiative to help commercial whole building energy efficiency programs be more efficient and gain more value from data. <a routerLink="/oep">Learn more.</a></p>
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/third-party-icon-text.svg" alt="3rd Party Tools" routerLink="/third-party">
      </div>
      <div class="description">
        <p>Learn how the building energy data tools can be linked with 3rd-party tools such as customer relationship management (CRM) and data visualization applications. <a routerLink="/third-party">Learn more.</a></p>
      </div>
    </div>
  </div>
</app-tools-overview>
