<app-tools-overview>
  <div slot="left">
    <h3>For Developers</h3>
    <p>Would you like to take your building data even further? Are you a product or service provider interested in incorporating data or features from the building energy data tools? Explore the tools at right to learn more about the wealth of opportunities available to developers.</p>
  </div>
  <div slot="right" fxLayout="column">
    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/bldgsync-logo.svg" alt="BuildingSync Logo" routerLink="/building-sync">
      </div>
      <div class="description">
        <p>Use the BuildingSync XML schema to standardize energy audit data, making it persistent and portable. <a routerLink="/building-sync">Learn more.</a></p>
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/ubid-logo.png" alt="Unique Building Identifier logo" routerLink="/ubid">
      </div>
      <div class="description">
        <p>The Unique Building ID (UBID) is a VIN for buildings, developed as superior alternative to common identifiers like street addresses and tax lot numbers. Use it to link disparate datasets and unleash the power of your data. <a routerLink="/ubid">Learn more.</a></p>
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/bedes-logo.png" alt="BEDES logo" routerLink="/bedes">
      </div>
      <div class="description">
        <p>The Building Energy Data Exchange Specification (BEDES) is dictionary of over 600 terms and definitions for building characteristics, efficiency measures, and energy use. <a routerLink="/bedes">Learn more.</a></p>
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/OE-logo.png" alt="Open Efficiency logo" routerLink="/oep">
      </div>
      <div class="description">
        <p>The Open Efficiency Platform (OEP) is a pipeline from SEED to Salesforce. Use it to harness the power of CRM to supercharge efficiency programs. <a routerLink="/oep">Learn more.</a></p>
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <img src="assets/images/third-party-icon-text.svg" alt="3rd Party Tools" routerLink="/third-party">
      </div>
      <div class="description">
        <p>DOE’s building energy data tools can be integrated with many third-party solutions such as CRM systems, data visualization applications, and more. <a routerLink="/third-party">Learn more.</a></p>
      </div>
    </div>
  </div>
</app-tools-overview>
