<app-tools-overview>
  <div slot="left">
    <h1>Data Collection & Reporting</h1>
    <p>Would you like to easily capture building audit and energy use information? Explore the tools at right to learn how they work together to simplify data collection.</p>
  </div>
  <div slot="right" fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="0 1 30" class="logo">
        <a href="https://www.energystar.gov/buildings/benchmark">
          <img src="assets/images/pm-logo.svg" alt="EnergyStar Portfolio Manager logo">
        </a>
      </div>
      <div class="description">
        <p>Use ENERGY STAR Portfolio Manager to measure and track energy and water consumption, as well as greenhouse gas emissions. <a href="https://www.energystar.gov/buildings/benchmark">Learn more about ENERGY STAR Portfolio Manager.</a></p>
      </div>
    </div>

    <div fxLayout="row">
      <div class="logo">
        <a routerLink="/audit-template"><img src="assets/images/audit-template-logo.svg" alt="Building Energy Audit Template logo" ></a>
      </div>
      <div class="description">
        <p>Use Audit Template to collect, store and report building energy audit data. <a routerLink="/audit-template">Learn more about Audit Template.</a></p>
      </div>
    </div>
  </div>
</app-tools-overview>
